[2020-12-29 14:14] amihaiemil commented on #282
@fellahi-ali this is just a show/hide problem. In the ``success`` callback of the ajax call to the backend, we should simply display the right div. Have a look on what divs are there and their IDs. You can mock the ajax call, no need to actually call the backend :D

[2020-12-29 14:25] fellahi-ali commented on #282
@amihaiemil thanks for the hint :) will take a look on it soon.

[2020-12-29 15:16] #242 closed

[2020-12-29 15:18] amihaiemil opened #294 "Better Table Loading Approach"
As per [this](https://github.com/self-xdsd/self-web/pull/293#discussion_r549733804) comment, we should have a more elegant approach to loading data into tables.

[code]

Let's start by modifying Tasks and Invoices tables on the Project page, then make the same changes for the tables on the Contributor Dashboard page.

[2020-12-29 15:18] charlesmike commented on #294
@criske this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-01-08T17:18:30.164716``.

Estimation here is ``120 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become futur

[2020-12-29 15:18] charlesmike commented on #294
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2020-12-29 15:19] charlesmike commented on #242
@criske thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2020-12-29 19:25] MihaiDejeu opened #295 "The "Real Wallet" details disappear after the stripe account was created."
Steps to reproduce:
1. As a product owner, access "My Repository"
2. Select any project.
3. Go to "Wallets" menu
4. At the "Real Wallets", select "Individual"
5. Fill in all the mandatory fields for Stripe account
6. Accept terms and conditions.
7. Press the "Setup Stripe Wallet" button.
![image](https://user-images.githubusercontent.com/76066892/103169662-7b641800-4846-11eb-8f73-b8a7519477fc.png)

[2020-12-29 19:25] charlesmike commented on #295
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-01-08T21:25:52.732906``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2020-12-29 19:25] charlesmike commented on #295
@MihaiDejeu please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2020-12-29 19:32] amihaiemil commented on #295
@charlesmike deregister

[2020-12-29 19:32] charlesmike commented on #295
@amihaiemil ok, I've removed this task from scope. I'm not managing it anymore.

[2020-12-29 19:32] amihaiemil commented on #295
@MihaiDejeu this problem is already reported: https://github.com/self-xdsd/self-web/issues/282

[2020-12-29 19:32] #295 closed

[2020-12-29 22:03] charlesmike commented on #262
@MihaiDejeu Don't forget to close this ticket before the deadline (2021-01-04T17:03:48). You are past the first half of the allowed period.

[2020-12-29 22:03] charlesmike commented on #263
@MihaiDejeu Don't forget to close this ticket before the deadline (2021-01-04T17:15:45). You are past the first half of the allowed period.

[2020-12-29 22:03] charlesmike commented on #266
@MihaiDejeu Don't forget to close this ticket before the deadline (2021-01-04T17:57:06). You are past the first half of the allowed period.

[2020-12-29 22:03] charlesmike commented on #267
@Lumi3011 Don't forget to close this ticket before the deadline (2021-01-04T18:00:06). You are past the first half of the allowed period.

[2020-12-29 22:03] charlesmike commented on #268
@criske Don't forget to close this ticket before the deadline (2021-01-04T22:48:06). You are past the first half of the allowed period.

[2020-12-30 13:12] #294 closed

[2020-12-30 13:12] amihaiemil commented on #294
paid with transaction id 95B2185622713600F

[2020-12-30 13:13] charlesmike opened #297 "getContributor.js: Better table loading approach..."
The puzzle ``294-8576cb35`` originating from #294 has to be resolved:

https://github.com/self-xdsd/self-web/blob/6b4102256289ee6a10ef5bc23a06d4e1e3272030/src/main/resources/public/js/getContributor.js#L2-L3

"Better table loading approach for Contributor dashboard tables. Use the same approach specified at issue #294.".

It was created by @amihaiemil on 2020-12-30T12:27:47Z. Estimation is ``60 mi

[2020-12-30 13:15] charlesmike commented on #294
@criske thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2020-12-30 13:15] charlesmike commented on #297
@criske this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-01-09T15:15:50.877282``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become future

[2020-12-30 14:09] criske commented on #268
@MihaiDejeu @amihaiemil Couldn't replicate it.  It looks like a transaction error?  Was this an one time error or you coudn't add new contracts anymore?
Unfortunately db erros are suppressed by `self-storage` with more or less meaningful  `IlegalStateException`  messages to prevent sensitive data to be leaked.

[2020-12-30 22:03] charlesmike commented on #289
@fellahi-ali Don't forget to close this ticket before the deadline (2021-01-05T13:23:20). You are past the first half of the allowed period.

[2020-12-31 08:38] amihaiemil commented on #268
@criske I also could not reproduce it. My best guess is that his session expired :D
Let's close this for now.

[2020-12-31 08:38] #268 closed

[2020-12-31 08:39] amihaiemil commented on #261
@criske we will implement this, but later. Let's postpone it for now.

[2020-12-31 08:39] amihaiemil commented on #261
@charlesmike deregister

[2020-12-31 08:39] charlesmike commented on #268
@criske thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2020-12-31 08:39] charlesmike commented on #261
@amihaiemil ok, I've removed this task from scope. I'm not managing it anymore.

[2020-12-31 08:40] amihaiemil commented on #259
@criske same here, let's postpone it.

[2020-12-31 08:40] amihaiemil commented on #259
@charlesmike deregister

[2020-12-31 08:40] charlesmike commented on #259
@amihaiemil ok, I've removed this task from scope. I'm not managing it anymore.

[2020-12-31 11:03] amihaiemil opened #298 "Ping Endpoint With Build Version"
Self Web should have a /ping endpoint which should also display the build version.

[2020-12-31 11:03] charlesmike commented on #298
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-01-10T13:03:44.603517``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2020-12-31 11:03] charlesmike commented on #298
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2020-12-31 11:54] #298 closed

[2020-12-31 12:10] amihaiemil opened #300 "Allow Invoice Payment Only If totalAmount >= 108 EUR"
We made this change in the core, but we also have to do it on the web UI.

[2020-12-31 12:11] charlesmike commented on #300
@criske this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-01-10T14:11:00.183294``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become future

[2020-12-31 12:11] charlesmike commented on #300
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2020-12-31 15:06] amihaiemil commented on #297
paid with transaction id 17C975111G1312541

[2020-12-31 15:06] #297 closed

[2020-12-31 15:06] charlesmike commented on #297
Puzzle disappeared from the code, that's why I closed this ticket.

[2020-12-31 16:46] amihaiemil opened #302 "Contract Agenda Button Broken on Contributor Dashboard"
On the Contributor Dashboard page, the Contract Agenda button does not work for any Contract. There's an undefined variable there:

<img width="1440" alt="Screenshot 2020-12-31 at 18 42 50" src="https://user-images.githubusercontent.com/6305156/103418678-62d26580-4b98-11eb-81e5-3d5a6ae99a9c.png">

[2020-12-31 16:46] charlesmike commented on #302
@criske this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-01-10T18:46:23.093049``.

Estimation here is ``30 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become future

[2020-12-31 16:46] charlesmike commented on #302
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2020-12-31 16:54] amihaiemil commented on #302
@criske it's not urgent, whenever you have time :D

[2020-12-31 16:59] charlesmike commented on #298
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2020-12-31 16:59] charlesmike commented on #297
@criske thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2020-12-31 17:02] criske commented on #302
@amihaiemil sorry about that, I've forgot to extract the contract from table data, like I did at line 27. I'll fix it asap.

[2020-12-31 17:03] amihaiemil commented on #302
@criske no problem, happens

[2021-01-01 08:26] #302 closed

[2021-01-01 08:27] amihaiemil commented on #302
paid with transaction id 85Y156357F5311033

[2021-01-01 09:59] amihaiemil opened #305 "JsonProject Output Should Ignore PaymentMethods"
At the moment, the JsonWallet which goes together with the JsonProject output also contains the PaymentMethods. We don't need that. Let's make it ignore the PaymentMethods.

[2021-01-01 09:59] charlesmike commented on #305
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-01-11T11:59:32.243222``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-01-01 09:59] charlesmike commented on #305
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2021-01-01 10:59] charlesmike commented on #302
@criske thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-01-02 09:11] amihaiemil opened #306 "Options Buttons Don't Work On 2nd Page Of Table"
On the Contributor Dashboard page, the Options buttons (Contract Agenda, Mark For Removal) are not working on the second and later pages. This might also be a problem in other tables. As far as I can tell, it's related to the new table loading approach.

<img width="1101" alt="Screenshot 2021-01-02 at 11 09 24" src="https://user-images.githubusercontent.com/6305156/103454284-25322180-4ceb-11eb-8ed

[2021-01-02 09:11] charlesmike commented on #306
@criske this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-01-12T11:11:39.750280``.

Estimation here is ``120 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become futur

[2021-01-02 09:11] charlesmike commented on #306
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2021-01-02 09:48] criske commented on #306
@amihaiemil yep, I was about to open an issue about this too. I played a bit with datatables to find a way to edit cells (maybe we can use it to update contracts from table directly). Anyway the fix is to register listeners on draw callback. I'll open a pr asap.

[2021-01-02 10:58] charlesmike commented on #285
@amihaiemil Looks like you've missed the task deadline (2021-01-02T12:30:08). You are now resigned from this task.

Please stop working on it, you will not be paid. I will assign it to someone else soon.

[2021-01-02 10:59] charlesmike commented on #285
@criske this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-01-12T12:59:35.684043``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become future

[2021-01-02 12:43] amihaiemil opened #308 "Contract hourlyRate BigDecimal With No Decimals"
The Contract hourly rate (for new contract or update contract) reaches the backend as ``double`` and then it is only divided by ``100``, but the resulting BigDecimal is not rounded.

The BigDecimal should be rounded so that it has no decimals, since this value represents the lowest denomination, the cents.

[2021-01-02 12:43] charlesmike commented on #308
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-01-12T14:43:10.393210``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-01-02 12:43] charlesmike commented on #308
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2021-01-02 14:16] fellahi-ali commented on #289
@amihaiemil I have successfully started self web app locally :) but still working on understanding how things are wired, and have some newbie questions:
- I have logged in with my real github account, I can't figure out otherway, is that how it's supposed to work in test env?
- After logging I noticed there is only 100 github repos listed and can't see others (I have a lotof forks :D that I can't

[2021-01-02 16:16] amihaiemil commented on #289
@fellahi-ali

* > I have logged in with my real github account,

Yes, you are always using your real Github account, there is no other way.

* > After logging I noticed there is only 100 github repos listed

Yes, at the moment only 100 repos are listed, we should implement the pagination there. You can open a ticket for that in self-web. I didn't bother with pagination yet becuase there are very f

[2021-01-02 16:24] amihaiemil commented on #289
paid with transaction id 7RB72643YB515735W

[2021-01-02 16:24] #289 closed

[2021-01-02 16:27] #306 closed

[2021-01-02 16:56] fellahi-ali commented on #289
@amihaiemil Thanks for the answers :)

huh I do :D but most of them are forks, a time ago I was obsessed with collecting interesting repos in my account hoping to work/use them someday, but I think it's time to clean up.

Actually I'm not very familiar with JQuery and Frontend dev in general, but I will try to figure that out and learn along the way. I hope :)

[2021-01-02 16:59] charlesmike commented on #306
@criske thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-01-02 16:59] charlesmike commented on #289
@fellahi-ali thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-01-02 18:58] #305 closed

[2021-01-02 22:58] charlesmike commented on #305
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-01-02 22:59] charlesmike commented on #282
@fellahi-ali Don't forget to close this ticket before the deadline (2021-01-08T14:28:03). You are past the first half of the allowed period.

[2021-01-03 09:04] #308 closed

[2021-01-03 09:29] criske commented on #289
@fellahi-ali Here is what I do when working with local db. A good starting point is to use these scripts https://github.com/self-xdsd/self-storage/tree/master/src/test/resources . It helps to have an application to manage the db too. I'm using `MySQL Workbench`. So before starting the self web app, I'm running with worbench the above scripts (schema first and then insertions).

Also you might need

[2021-01-03 09:52] fellahi-ali commented on #289
Many thanks @criske for the great insights, that would be very helpful :)

[2021-01-03 10:58] charlesmike commented on #308
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-01-03 12:58] fellahi-ali commented on #289
@amihaiemil @criske Sorry! but I'm still confused about one thing :(
How do you handle the code related to this kind of tasks (i.e: js code for that ajax mock & call), should it be part of the PR? if so where I should put it? as I don't see anything similar in the **test/** dir (only api tests). Or I could just write some throwaway code to figure out where the problem is and only contribute the **

[2021-01-03 13:24] criske commented on #289
@fellahi-ali Mocking code/js files should not be part of the PR (you can git ignore them). But than again is better to interact directly with the `self-web` server and use mocking calls as a last resort. :D. As long as you have some data in your local db it should be fine to test most of the frontend stuff.

[2021-01-03 13:27] amihaiemil commented on #289
@fellahi-ali this kind of code is throw-away code which you use just to get the fix in place. :D

[2021-01-03 16:59] charlesmike commented on #237
@Lumi3011 Looks like you've missed the task deadline (2021-01-03T17:39:54). You are now resigned from this task.

Please stop working on it, you will not be paid. I will assign it to someone else soon.

[2021-01-03 16:59] charlesmike commented on #246
@Lumi3011 Looks like you've missed the task deadline (2021-01-03T18:39:50). You are now resigned from this task.

Please stop working on it, you will not be paid. I will assign it to someone else soon.

[2021-01-03 16:59] charlesmike commented on #240
@MihaiDejeu Looks like you've missed the task deadline (2021-01-03T18:15:53). You are now resigned from this task.

Please stop working on it, you will not be paid. I will assign it to someone else soon.

[2021-01-03 16:59] charlesmike commented on #241
@MihaiDejeu Looks like you've missed the task deadline (2021-01-03T18:21:07). You are now resigned from this task.

Please stop working on it, you will not be paid. I will assign it to someone else soon.

[2021-01-03 16:59] charlesmike commented on #243
@MihaiDejeu Looks like you've missed the task deadline (2021-01-03T18:27:50). You are now resigned from this task.

Please stop working on it, you will not be paid. I will assign it to someone else soon.

[2021-01-03 16:59] charlesmike commented on #248
@MihaiDejeu Looks like you've missed the task deadline (2021-01-03T18:51:50). You are now resigned from this task.

Please stop working on it, you will not be paid. I will assign it to someone else soon.

[2021-01-03 16:59] charlesmike commented on #237
@fellahi-ali this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-01-13T18:59:48.532279``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become f

[2021-01-03 17:00] charlesmike commented on #240
@Lumi3011 this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-01-13T18:59:57.005995``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become futu

[2021-01-03 17:00] charlesmike commented on #241
@criske this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-01-13T19:00:05.525840``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become future

[2021-01-03 17:00] charlesmike commented on #243
@fellahi-ali this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-01-13T19:00:13.536160``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become f

[2021-01-03 17:00] charlesmike commented on #246
@fellahi-ali this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-01-13T19:00:21.200017``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become f

[2021-01-03 17:00] charlesmike commented on #248
@fellahi-ali this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-01-13T19:00:29.462197``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become f

[2021-01-03 22:59] charlesmike commented on #258
@criske Looks like you've missed the task deadline (2021-01-03T20:39:46). You are now resigned from this task.

Please stop working on it, you will not be paid. I will assign it to someone else soon.

[2021-01-03 22:59] charlesmike commented on #252
@Lumi3011 Looks like you've missed the task deadline (2021-01-03T19:48:12). You are now resigned from this task.

Please stop working on it, you will not be paid. I will assign it to someone else soon.

[2021-01-03 22:59] charlesmike commented on #251
@MihaiDejeu Looks like you've missed the task deadline (2021-01-03T19:48:06). You are now resigned from this task.

Please stop working on it, you will not be paid. I will assign it to someone else soon.

[2021-01-03 22:59] charlesmike commented on #255
@MihaiDejeu Looks like you've missed the task deadline (2021-01-03T20:09:06). You are now resigned from this task.

Please stop working on it, you will not be paid. I will assign it to someone else soon.

[2021-01-03 22:59] charlesmike commented on #257
@MihaiDejeu Looks like you've missed the task deadline (2021-01-03T20:27:47). You are now resigned from this task.

Please stop working on it, you will not be paid. I will assign it to someone else soon.

[2021-01-03 22:59] charlesmike commented on #260
@MihaiDejeu Looks like you've missed the task deadline (2021-01-03T21:00:06). You are now resigned from this task.

Please stop working on it, you will not be paid. I will assign it to someone else soon.

[2021-01-03 23:00] charlesmike commented on #251
@Lumi3011 this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-01-14T00:59:58.245913``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become futu

[2021-01-03 23:00] charlesmike commented on #252
@MihaiDejeu this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-01-14T01:00:07.668265``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-01-03 23:00] charlesmike commented on #255
@Lumi3011 this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-01-14T01:00:16.705791``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become futu

[2021-01-03 23:00] charlesmike commented on #257
@fellahi-ali this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-01-14T01:00:24.312901``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become f

[2021-01-03 23:00] charlesmike commented on #258
@fellahi-ali this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-01-14T01:00:32.065781``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become f

[2021-01-03 23:00] charlesmike commented on #260
@Lumi3011 this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-01-14T01:00:41.065729``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become futu

[2021-01-04 08:40] amihaiemil commented on #260
@Lumi3011 Let's postpone this. These are big changes which we will introduce later.

[2021-01-04 08:40] amihaiemil commented on #260
@charlesmike deregister

[2021-01-04 08:40] charlesmike commented on #260
@amihaiemil ok, I've removed this task from scope. I'm not managing it anymore.

[2021-01-04 08:41] amihaiemil commented on #258
@fellahi-ali there is already a PR provider by @criske, I'll deregister this :D

[2021-01-04 08:41] amihaiemil commented on #258
@charlesmike deregister

[2021-01-04 08:41] charlesmike commented on #258
@amihaiemil ok, I've removed this task from scope. I'm not managing it anymore.

[2021-01-04 08:42] amihaiemil commented on #257
@fellahi-ali most of this is already done. I'll deregister it

[2021-01-04 08:42] amihaiemil commented on #257
@charlesmike deregister

[2021-01-04 08:42] charlesmike commented on #257
@amihaiemil ok, I've removed this task from scope. I'm not managing it anymore.

[2021-01-04 08:42] amihaiemil commented on #255
@Lumi3011 I fixed a few bugs regarding invoice payments already, so this is most likely fixed.

[2021-01-04 08:42] amihaiemil commented on #255
@charlesmike deregister

[2021-01-04 08:43] charlesmike commented on #255
@amihaiemil ok, I've removed this task from scope. I'm not managing it anymore.

[2021-01-04 08:43] #257 closed

[2021-01-04 08:43] #255 closed

[2021-01-04 08:45] amihaiemil commented on #240
@charlesmike deregister

this is browser behaviour, I'm not sure what there is to be done about it.

[2021-01-04 08:45] #240 closed

[2021-01-04 08:45] charlesmike commented on #240
this is browser behaviour, I'm not sure what there is to be done about it.

@amihaiemil ok, I've removed this task from scope. I'm not managing it anymore.

[2021-01-04 08:47] amihaiemil commented on #243
@fellahi-ali I'm pretty sure this "scrolling up" refresh behaviour is only for mobile native apps. Closing.

[2021-01-04 08:47] amihaiemil commented on #243
@charlesmike deregister

[2021-01-04 08:47] charlesmike commented on #243
@amihaiemil ok, I've removed this task from scope. I'm not managing it anymore.

[2021-01-04 08:47] #243 closed

[2021-01-04 08:48] amihaiemil commented on #251
Explained this [here](https://github.com/self-xdsd/self-web/issues/251#issuecomment-746382913)

[2021-01-04 08:48] amihaiemil commented on #251
@charlesmike deregister

[2021-01-04 08:48] charlesmike commented on #251
@amihaiemil ok, I've removed this task from scope. I'm not managing it anymore.

[2021-01-04 08:48] #251 closed

[2021-01-04 08:53] amihaiemil commented on #237
@fellahi-ali This is some CSS magic most likely. If you don't know how to fix it, tell me and I'll give the task back to Lumi :D

[2021-01-04 16:59] charlesmike commented on #267
@Lumi3011 Looks like you've missed the task deadline (2021-01-04T18:00:06). You are now resigned from this task.

Please stop working on it, you will not be paid. I will assign it to someone else soon.

[2021-01-04 16:59] charlesmike commented on #262
@MihaiDejeu Looks like you've missed the task deadline (2021-01-04T17:03:48). You are now resigned from this task.

Please stop working on it, you will not be paid. I will assign it to someone else soon.

[2021-01-04 16:59] charlesmike commented on #263
@MihaiDejeu Looks like you've missed the task deadline (2021-01-04T17:15:45). You are now resigned from this task.

Please stop working on it, you will not be paid. I will assign it to someone else soon.

[2021-01-04 16:59] amihaiemil commented on #282
paid with transaction id 8N786435X0220394N

[2021-01-04 16:59] #282 closed

[2021-01-04 16:59] charlesmike commented on #266
@MihaiDejeu Looks like you've missed the task deadline (2021-01-04T17:57:06). You are now resigned from this task.

Please stop working on it, you will not be paid. I will assign it to someone else soon.

[2021-01-04 16:59] charlesmike commented on #262
@criske this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-01-14T18:59:50.615874``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become future

[2021-01-04 17:00] charlesmike commented on #263
@fellahi-ali this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-01-14T18:59:58.712749``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become f

[2021-01-04 17:00] charlesmike commented on #266
@Lumi3011 this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-01-14T19:00:07.774``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become future

[2021-01-04 17:00] charlesmike commented on #267
@MihaiDejeu this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-01-14T19:00:15.975702``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-01-04 17:02] amihaiemil commented on #258
paid with transaction id 2CN33101047252424

[2021-01-04 17:02] #258 closed

[2021-01-04 17:04] amihaiemil commented on #300
@criske this is one of the more urgent issues. Can you fix it these days when you have some time? :D

[2021-01-04 17:12] criske commented on #300
@amihaiemil  I'll fix asap  :)

[2021-01-04 20:36] fellahi-ali commented on #237
@amihaiemil Indeed, I'm not so good at these front-end things, but I always like to learn and try, if I can't I will resign :)

[2021-01-04 22:59] charlesmike commented on #300
@criske Don't forget to close this ticket before the deadline (2021-01-10T14:11). You are past the first half of the allowed period.

[2021-01-04 22:59] charlesmike commented on #282
@fellahi-ali thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-01-05 12:17] amihaiemil commented on #300
paid with transaction id 8DE32677XW123643X

[2021-01-05 12:17] #300 closed

[2021-01-05 14:39] criske opened #314 "Delete pdf invoice from server after it was downloaded."
We should delete the pdf invoice from server after it was generated and downloaded by the client.

[2021-01-05 14:39] charlesmike commented on #314
@criske thank you for reporting this. I'll assign someone to take care of it soon.

[2021-01-05 14:48] charlesmike commented on #314
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-01-15T16:48:55.574116``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-01-05 14:50] amihaiemil commented on #314
@charlesmike quit

[2021-01-05 14:50] charlesmike commented on #314
@amihaiemil ok, I'll find someone else to take care of it.

[2021-01-05 14:52] amihaiemil commented on #314
@criske we should also add a unique identifier to the PDF file-name. At the moment, both the Client endpoint (used by the PO on the Contracts page) and the Contributor endpoint (used by the Contributor on the Dashboard page) are generating the file with the same name in the same location.

This is already a problem, if they are downloading the file at the same time, they can override each other's

[2021-01-05 14:58] charlesmike commented on #314
@criske this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-01-15T16:58:49.479933``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become future

[2021-01-05 16:59] charlesmike commented on #300
@criske thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-01-06 07:42] amihaiemil commented on #252
@charlesmike deregister

[2021-01-06 07:42] charlesmike commented on #252
@amihaiemil ok, I've removed this task from scope. I'm not managing it anymore.

[2021-01-06 07:43] amihaiemil commented on #252
@charlesmike register

[2021-01-06 07:43] charlesmike commented on #252
@amihaiemil I've just registered this ticket as a task and will assign it to someone soon. Thanks!

[2021-01-06 07:44] amihaiemil commented on #267
@charlesmike deregister

[2021-01-06 07:44] charlesmike commented on #267
@amihaiemil ok, I've removed this task from scope. I'm not managing it anymore.

[2021-01-06 07:44] amihaiemil commented on #267
@charlesmike register

[2021-01-06 07:44] charlesmike commented on #267
@amihaiemil I've just registered this ticket as a task and will assign it to someone soon. Thanks!

[2021-01-06 07:45] amihaiemil commented on #267
@Lumi3011 Aici, cu prima parte, nu-ti bate capu, nu fa nimic. Avem deja un PR cu destul de multe schimbari al tabele (#311), si cel mai probabil sunt acoperite deja.

[2021-01-06 07:48] charlesmike commented on #252
@Lumi3011 this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-01-16T09:48:49.482827``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become futu

[2021-01-06 07:48] charlesmike commented on #267
@Lumi3011 this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-01-16T09:48:54.892792``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become futu

[2021-01-06 10:03] amihaiemil opened #315 "Display "Download Self PDF" for Contributors"
On the Contributor Dashboard page, Invoices table, for each Invoice which has been paid with a real wallet, next to the Download Invoice button (which downloads the Invoice of the Contributor to the Project), we should have a second Download Invoice button, which will download the Invoice from Self to the Contributor.

[2021-01-06 10:03] charlesmike commented on #315
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-01-16T12:03:16.942977``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-01-06 10:03] charlesmike commented on #315
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2021-01-06 22:59] charlesmike commented on #285
@criske Don't forget to close this ticket before the deadline (2021-01-12T12:59:35). You are past the first half of the allowed period.

[2021-01-07 08:05] #37 closed

[2021-01-07 08:05] #42 closed

[2021-01-07 08:05] #47 closed

[2021-01-07 08:05] #86 closed

[2021-01-07 08:05] #91 closed

[2021-01-07 08:09] amihaiemil commented on #285
paid with transaction id 9HP435415N2669009

[2021-01-07 08:09] #285 closed

[2021-01-07 08:45] charlesmike opened #317 "ContractsApi.java: . Start implementing Contribu..."
The puzzle ``2009338992`` originating from #84 has to be resolved:

https://github.com/self-xdsd/self-web/blob/bf574b14bfdedc818f8774694500524750efe2c7/src/main/java/com/selfxdsd/selfweb/api/ContractsApi.java#59-60

". Start implementing ContributorsApi method contributors GET. This will list all contributors.".

Estimation is ``30 minutes``.
If you have any technical questions, don't ask me, I wo

[2021-01-07 08:45] charlesmike opened #318 "ContributorApi.java: Implement the Contributor Das..."
The puzzle ``-1368424830`` originating from #89 has to be resolved:

https://github.com/self-xdsd/self-web/blob/bf574b14bfdedc818f8774694500524750efe2c7/src/main/java/com/selfxdsd/selfweb/api/ContributorApi.java#49-53

"Implement the Contributor Dashboard HTML page. If the /contributor endpoint returns NO CONTENT, we should simply display a message saying "You are not a contributor in any project.

[2021-01-07 08:45] charlesmike opened #319 "Repositories.java: Design the front-end part, si..."
The puzzle ``-2010288009`` originating from #33 has to be resolved:

https://github.com/self-xdsd/self-web/blob/bf574b14bfdedc818f8774694500524750efe2c7/src/main/java/com/selfxdsd/selfweb/api/Repositories.java#41-44

"Design the front-end part, similarly to how we already read and display the public repos. Don't forget to add a tooltip advising the user to go to Github Settings and grant Org Acces

[2021-01-07 08:45] charlesmike opened #320 "Users.java: Update the getPublicRepos.js ..."
The puzzle ``-2140510030`` originating from #43 has to be resolved:

https://github.com/self-xdsd/self-web/blob/bf574b14bfdedc818f8774694500524750efe2c7/src/main/java/com/selfxdsd/selfweb/api/Users.java#L40-L42

"Update the getPublicRepos.js function to fetch the github/gitlab repos according to the "provider" attribute returned the from "/api/users/self" endpoint.".

Estimation is ``30 minutes``.

[2021-01-07 08:45] charlesmike opened #321 "LoginProducer.java: Write unit tests for LoginPro..."
The puzzle ``685751060`` originating from #40 has to be resolved:

https://github.com/self-xdsd/self-web/blob/bf574b14bfdedc818f8774694500524750efe2c7/src/main/java/com/selfxdsd/selfweb/LoginProducer.java#L43-L44

"Write unit tests for LoginProducer covering login cases for Github and Gitlab providers.".

Estimation is ``30 minutes``.
If you have any technical questions, don't ask me, I won't be a

[2021-01-07 08:45] charlesmike opened #322 "LoginProducer.java: At the moment only the "amiha..."
The puzzle ``1535146848`` originating from #45 has to be resolved:

https://github.com/self-xdsd/self-web/blob/bf574b14bfdedc818f8774694500524750efe2c7/src/main/java/com/selfxdsd/selfweb/LoginProducer.java#45-47

"At the moment only the "amihaiemil" user has the admin role. Everyone who is an admin in the Github or GitLab self-xdsd Organization, should have the admin role.".

Estimation is ``60 mi

[2021-01-07 08:49] charlesmike commented on #317
@MihaiDejeu this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-01-17T10:49:16.361165``.

Estimation here is ``30 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-01-07 08:49] charlesmike commented on #318
@MihaiDejeu this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-01-17T10:49:23.325516``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-01-07 08:49] charlesmike commented on #319
@criske this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-01-17T10:49:29.653854``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become future

[2021-01-07 08:49] charlesmike commented on #320
@criske this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-01-17T10:49:35.655629``.

Estimation here is ``30 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become future

[2021-01-07 08:49] charlesmike commented on #321
@criske this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-01-17T10:49:42.115515``.

Estimation here is ``30 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become future

[2021-01-07 08:49] charlesmike commented on #322
@Lumi3011 this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-01-17T10:49:47.635541``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become futu

[2021-01-07 08:50] amihaiemil commented on #317
@charlesmike deregister

[2021-01-07 08:50] charlesmike commented on #317
@amihaiemil ok, I've removed this task from scope. I'm not managing it anymore.

[2021-01-07 08:50] amihaiemil commented on #318
@charlesmike deregister

[2021-01-07 08:50] charlesmike commented on #318
@amihaiemil ok, I've removed this task from scope. I'm not managing it anymore.

[2021-01-07 08:50] amihaiemil commented on #319
@charlesmike deregister

[2021-01-07 08:50] charlesmike commented on #319
@amihaiemil ok, I've removed this task from scope. I'm not managing it anymore.

[2021-01-07 08:50] amihaiemil commented on #320
@charlesmike deregister

[2021-01-07 08:50] charlesmike commented on #320
@amihaiemil ok, I've removed this task from scope. I'm not managing it anymore.

[2021-01-07 08:51] amihaiemil commented on #321
@charlesmike deregister

[2021-01-07 08:51] charlesmike commented on #321
@amihaiemil ok, I've removed this task from scope. I'm not managing it anymore.

[2021-01-07 08:51] amihaiemil commented on #322
@charlesmike deregister

[2021-01-07 08:51] charlesmike commented on #322
@amihaiemil ok, I've removed this task from scope. I'm not managing it anymore.

[2021-01-07 08:54] #16 closed

[2021-01-07 08:54] #14 closed

[2021-01-07 08:54] #30 closed

[2021-01-07 08:54] #17 closed

[2021-01-07 08:54] #29 closed

[2021-01-07 08:55] #35 closed

[2021-01-07 12:49] criske commented on #314
@amihaiemil Even without deleting, there might still be a problem when PO and Contributor are writting the pdf in the same time.
So yeah, either using your aproach with generated id/different folder or an even simpler aproach:
Write the whole thing into the `OutputStream` given by `StreamingResponseBody`. `PDDocument#save` supports `OutputStream` + it handles the closing too.
We only need to chang

[2021-01-07 13:29] charlesmike commented on #285
@criske thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-01-08 01:29] charlesmike commented on #241
@criske Don't forget to close this ticket before the deadline (2021-01-13T19:00:05). You are past the first half of the allowed period.

[2021-01-08 01:29] charlesmike commented on #237
@fellahi-ali Don't forget to close this ticket before the deadline (2021-01-13T18:59:48). You are past the first half of the allowed period.

[2021-01-08 01:29] charlesmike commented on #246
@fellahi-ali Don't forget to close this ticket before the deadline (2021-01-13T19:00:21). You are past the first half of the allowed period.

[2021-01-08 01:29] charlesmike commented on #248
@fellahi-ali Don't forget to close this ticket before the deadline (2021-01-13T19:00:29). You are past the first half of the allowed period.

[2021-01-08 07:56] #241 closed

[2021-01-08 13:06] charlesmike commented on #241
@criske thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-01-09 01:06] charlesmike commented on #262
@criske Don't forget to close this ticket before the deadline (2021-01-14T18:59:50). You are past the first half of the allowed period.

[2021-01-09 01:06] charlesmike commented on #263
@fellahi-ali Don't forget to close this ticket before the deadline (2021-01-14T18:59:58). You are past the first half of the allowed period.

[2021-01-09 01:06] charlesmike commented on #266
@Lumi3011 Don't forget to close this ticket before the deadline (2021-01-14T19:00:07). You are past the first half of the allowed period.

[2021-01-09 19:56] fellahi-ali opened #324 "Some HTML code explanation needed?"
@amihaiemil I can't understand what is these two lines supposed to do?

https://github.com/self-xdsd/self-web/blob/2d3f846e2f3fe251608a0a50e9de2a4b16ab7a0a/src/main/resources/templates/index.html#L16-L17

https://github.com/self-xdsd/self-web/blob/2d3f846e2f3fe251608a0a50e9de2a4b16ab7a0a/src/main/resources/templates/index.html#L21-L22

[2021-01-09 19:56] charlesmike commented on #324
@fellahi-ali thank you for reporting this. I'll assign someone to take care of it soon.

[2021-01-09 20:06] charlesmike commented on #324
@Lumi3011 this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-01-19T22:06:12.006652``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become futu

[2021-01-10 01:06] charlesmike commented on #314
@criske Don't forget to close this ticket before the deadline (2021-01-15T16:58:49). You are past the first half of the allowed period.

[2021-01-10 06:49] amihaiemil commented on #324
@fellahi-ali to be honest, I am not sure. Maybe I added them for styling purposes. But why do you ask? :D

[2021-01-10 09:07] amihaiemil commented on #314
@criske the OutputStream seems to be the best option, then we just stream it directly to the client. Go ahead with it :D

[2021-01-10 09:30] fellahi-ali commented on #324
@amihaiemil Sorry for  not providing context to the question :(
Actually I was working on #237 and trying different CSS properties and adding/removing HTML elements (kind of newbie experimentations :)  then noticed that those two `div`s are hidden (by `d-none` prop), and don't add anything to the page just noise, but I was not sure maybe I was missing something, so I asked :)
and if they are not u

[2021-01-10 09:48] amihaiemil commented on #324
@fellahi-ali Yes, you can remove them if they're not doing anything. But also test the mobile version to see if the removal doesn't break anything -- maybe they do something for mobile, I'm not sure :D

[2021-01-10 09:48] amihaiemil commented on #324
@fellahi-ali I'm closing this :D

[2021-01-10 09:48] #324 closed

[2021-01-10 10:10] criske commented on #314
@amihaiemil I've opened an issue on core.

[2021-01-10 10:37] amihaiemil commented on #314
@criske right, thanks!

[2021-01-10 10:37] #314 closed

[2021-01-10 13:06] charlesmike commented on #314
@criske thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-01-10 13:06] charlesmike commented on #324
@Lumi3011 thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-01-11 01:03] fellahi-ali opened #327 "Links to issues in the Tasks card on the Dashboard are broken"
All issues links point to _http://self-xdsd.go.ro/contributor#_
![issue-links-brocken](https://user-images.githubusercontent.com/25110612/104139959-0d276580-53af-11eb-9600-faa4d03cf365.png)

- Actual behaviour:
Links point to _http://self-xdsd.go.ro/contributor#_
- Expected behaviour:
Eash link should open the corresponding issue on Github.

[2021-01-11 01:03] charlesmike commented on #327
@fellahi-ali thank you for reporting this. I'll assign someone to take care of it soon.

[2021-01-11 01:06] charlesmike commented on #315
@amihaiemil Don't forget to close this ticket before the deadline (2021-01-16T12:03:16). You are past the first half of the allowed period.

[2021-01-11 01:06] charlesmike commented on #252
@Lumi3011 Don't forget to close this ticket before the deadline (2021-01-16T09:48:49). You are past the first half of the allowed period.

[2021-01-11 01:06] charlesmike commented on #267
@Lumi3011 Don't forget to close this ticket before the deadline (2021-01-16T09:48:54). You are past the first half of the allowed period.

[2021-01-11 01:06] charlesmike commented on #327
@Lumi3011 this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-01-21T03:06:39.262507``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become futu

[2021-01-11 07:27] amihaiemil commented on #327
@charlesmike deregister

[2021-01-11 07:27] charlesmike commented on #327
@amihaiemil ok, I've removed this task from scope. I'm not managing it anymore.

[2021-01-11 07:27] amihaiemil commented on #327
@charlesmike register

[2021-01-11 07:27] charlesmike commented on #327
@amihaiemil I've just registered this ticket as a task and will assign it to someone soon. Thanks!

[2021-01-11 07:27] amihaiemil commented on #327
@criske can you pls have a look? :D

[2021-01-11 07:34] amihaiemil commented on #262
paid with transaction id 93J362600H860702X

[2021-01-11 07:34] #262 closed

[2021-01-11 07:36] charlesmike commented on #327
@criske this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-01-21T09:36:13.416694``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become future

[2021-01-11 07:39] #237 closed

[2021-01-11 07:40] amihaiemil commented on #237
paid with transaction id 8KX81182PF359773X

[2021-01-11 08:52] #327 closed

[2021-01-11 13:06] charlesmike commented on #262
@criske thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-01-11 13:06] charlesmike commented on #327
@criske thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-01-11 13:06] charlesmike commented on #237
@fellahi-ali thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-01-11 21:18] fellahi-ali opened #329 "Visual separation of projects managed by self in Personal Repos tab"
It would be nice to have a visual separation or indication of projects managed by **Self** in the **Personal Repos** tab, because as for now there is no clue of which repos are managed by Self; maybe adding a hint like  _managed by @ charlesmike_ for example or adding a new tab for projects _Managed by Self_ ...etc

![self-repos](https://user-images.githubusercontent.com/25110612/104239237-77e1ab0

[2021-01-11 21:18] charlesmike commented on #329
@fellahi-ali thank you for reporting this. I'll assign someone to take care of it soon.

[2021-01-11 21:26] charlesmike commented on #329
@MihaiDejeu this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-01-21T23:26:18.062007``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-01-12 11:02] #315 closed

[2021-01-12 11:32] amihaiemil commented on #329
@fellahi-ali It's a good idea, I was also thinking about that. At the moment, if the user has many projects managed by Self, it's hard to remember which is which.

But I was thinking to have a separate page for that. If the user has at least 1 Project managed by Self, then they will see the page "My Projects" in the header (between "My Repositories" and "Contributor Dashboard").

We will do it, bu

[2021-01-12 11:32] amihaiemil commented on #329
@charlesmike deregister

[2021-01-12 11:32] charlesmike commented on #329
@amihaiemil ok, I've removed this task from scope. I'm not managing it anymore.

[2021-01-12 11:34] amihaiemil opened #331 "Admin Page For Platform Invoices"
Users with the ``admin`` role should have access to a page where they can download the paltform invoices.

[2021-01-12 11:34] charlesmike commented on #331
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-01-22T13:34:15.511898``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-01-12 11:34] charlesmike commented on #331
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2021-01-12 13:06] charlesmike commented on #315
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-01-12 18:18] amihaiemil opened #332 "Error on Repos Page If TestEnv Variable is Missing"
If the self_test_env variable is not set, the repos page throws an exception:

[code]

[2021-01-12 18:18] charlesmike commented on #332
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-01-22T20:18:26.414383``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-01-12 18:18] charlesmike commented on #332
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2021-01-12 18:23] #332 closed

[2021-01-12 19:06] charlesmike commented on #332
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-01-13 08:21] amihaiemil commented on #267
paid with transaction id 9JD60868VL1539932

[2021-01-13 08:21] #267 closed

[2021-01-13 08:23] #248 closed

[2021-01-13 10:27] amihaiemil opened #335 "Adapt UI for GitLab"
The backend GitLab integration is finished, so we can start with the front-end.

The problem is that there are a some places in the front-end where github is hardcoded. Instead, the logic should be chosen based on the user's provider.

I think a good place to start is the ``Add New Contract`` formular, which has a few things hardcoded for Github.

[2021-01-13 10:27] charlesmike commented on #335
@criske this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-01-23T12:27:17.514613``.

Estimation here is ``120 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become futur

[2021-01-13 10:27] charlesmike commented on #335
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2021-01-13 13:06] charlesmike commented on #248
@fellahi-ali thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-01-13 13:06] charlesmike commented on #267
@Lumi3011 thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-01-13 17:08] fellahi-ali commented on #246
@charlesmike wait please!

[2021-01-13 17:08] charlesmike commented on #246
@fellahi-ali didn't understand that, sorry.

[2021-01-13 17:29] fellahi-ali commented on #246
@amihaiemil I'm still working on this, Is there a way to make _charlsemike_ wait for me?

[2021-01-13 17:47] amihaiemil commented on #246
@fellahi-ali nope, there is no ``wait`` functionality yet. But you still have 4 days.

Don't worry, even if it takes it away from you, I will assign it back :D

[2021-01-13 17:48] amihaiemil commented on #246
@fellahi-ali oh, no, actually the deadline is today. Let me fix it.

[2021-01-13 17:48] amihaiemil commented on #246
@charlesmike deregister

[2021-01-13 17:48] charlesmike commented on #246
@amihaiemil ok, I've removed this task from scope. I'm not managing it anymore.

[2021-01-13 17:48] amihaiemil commented on #246
@charlesmike register

[2021-01-13 17:49] charlesmike commented on #246
@amihaiemil I've just registered this ticket as a task and will assign it to someone soon. Thanks!

[2021-01-13 17:56] fellahi-ali commented on #246
@amihaiemil many thanks!

[2021-01-13 17:56] charlesmike commented on #246
@fellahi-ali this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-01-23T19:56:12.245084``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become f

[2021-01-14 09:50] #331 closed

[2021-01-14 09:54] amihaiemil commented on #252
paid with transaction id 661282757X916504T

[2021-01-14 09:54] #252 closed

[2021-01-14 13:06] charlesmike commented on #331
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-01-14 13:06] charlesmike commented on #252
@Lumi3011 thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-01-14 16:47] fellahi-ali commented on #263
@amihaiemil I'm runnig out of the deadline :( could you please re-assigne this task to me, if it's not urgent?

[2021-01-14 16:53] amihaiemil commented on #263
@fellahi-ali actually, looking over this again, I dont really like the proposed ideas. Id rather keep it as it is and not add useless buttons.

If we remove the forms and add buttons for them, then the whole page will be only tables...

Dont do anything here yet :D

[2021-01-14 16:53] amihaiemil commented on #263
@charlesmike remove

[2021-01-14 16:53] charlesmike commented on #263
@amihaiemil ok, I've removed this task from scope. I'm not managing it anymore.

[2021-01-14 16:59] fellahi-ali commented on #263
@amihaiemil that was my initial thoughts also about these changes but didn't complaind because the task is old and though that if there is something wrong with it, it couldn't survive :D

[2021-01-14 19:06] charlesmike commented on #266
@Lumi3011 Looks like you've missed the task deadline (2021-01-14T19:00:07). You are now resigned from this task.

Please stop working on it, you will not be paid. I will assign it to someone else soon.

[2021-01-14 19:06] charlesmike commented on #266
@criske this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-01-24T21:06:22.170023``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become future

[2021-01-14 19:15] amihaiemil commented on #266
@charlesmike remove

[2021-01-14 19:15] charlesmike commented on #266
@amihaiemil ok, I've removed this task from scope. I'm not managing it anymore.

[2021-01-14 19:15] amihaiemil commented on #266
@charlesmike add

[2021-01-14 19:15] charlesmike commented on #266
@amihaiemil I've just registered this ticket as a task and will assign it to someone soon. Thanks!

[2021-01-14 19:16] charlesmike commented on #266
@Lumi3011 this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-01-24T21:16:12.917743``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become futu

[2021-01-15 07:48] amihaiemil commented on #266
paid with transaction id 661282757X916504T

[2021-01-15 07:48] #266 closed

[2021-01-15 13:06] charlesmike commented on #266
@Lumi3011 thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-01-15 15:00] amihaiemil opened #340 "Add "Managed Repos" Tab"
Let's add the `Managed Repos` tab to the Repositories page, where we will display a table with the user's repos which are managed by Self.

[2021-01-15 15:00] charlesmike commented on #340
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-01-25T17:00:35.201881``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-01-15 15:00] charlesmike commented on #340
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2021-01-16 08:33] amihaiemil commented on #246
paid with transaction id 8BL82782JR0783548

[2021-01-16 08:33] #246 closed

[2021-01-16 13:06] charlesmike commented on #246
@fellahi-ali thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-01-18 01:06] charlesmike commented on #335
@criske Don't forget to close this ticket before the deadline (2021-01-23T12:27:17). You are past the first half of the allowed period.

[2021-01-18 10:39] amihaiemil commented on #329
@fellahi-ali I implemented the `Managed Repos` tab in #341.

This is the easiest way to separate them. Having a marker for each repo on the `Personal Repos` tab would mean ``n``  more calls to the backend, for each repo.

[2021-01-18 10:39] #329 closed

[2021-01-18 10:42] #340 closed

[2021-01-18 13:06] charlesmike commented on #340
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-01-19 12:17] criske commented on #335
wait for self-core [0.0.55](https://github.com/self-xdsd/self-core/issues/918l)

[2021-01-19 16:10] criske commented on #335
@amihaiemil We got a problem. Gitlab require authenticated requests for their [ Search API](https://docs.gitlab.com/ee/api/search.html) . I think we got no choice but to create an endpoint for [find users](https://docs.gitlab.com/ee/api/search.html#scope-users).
Checking if user exists works without auth though.

[2021-01-19 16:24] amihaiemil commented on #335
@criske let's just ignore it for now -- in the case of GitLab, there will be no autocompletion at the moment :D

[2021-01-20 08:56] amihaiemil commented on #335
@criske FYI ``self-core 0.0.55`` is released. You also need to update the ``storage to 0.0.25``, otherwise it won't work :D

[2021-01-21 07:30] amihaiemil commented on #335
paid with transaction id 95F99785106479447

[2021-01-21 07:34] #335 closed

[2021-01-21 07:35] charlesmike opened #343 "head.html: . We should have a global js ..."
The puzzle ``-1750085019`` originating from #335 has to be resolved:

https://github.com/self-xdsd/self-web/blob/f1ec7859ab4d91a648eabc08cd26929f9935f272/src/main/resources/templates/head.html#L30-L35

". We should have a global js variable `provider` that will be initialized when `/api/users/self` call in `head.html` is successful (`provider = data.provider`). This variable should replace thymele

[2021-01-21 07:36] charlesmike commented on #343
@criske this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-01-31T09:36:13.845168``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become future

[2021-01-21 07:36] amihaiemil commented on #343
@criske one question: I don;'t understand why we need some special mechanism to observe the variable? On each page load, the ajax call in ``<head>`` will be executed and this variable will be set. Then based on it we just render some elements on the page or not. Or am I missing something? :D

[2021-01-21 07:37] amihaiemil commented on #343
@criske btw, if it turns out to be something complicated, better not do it at all (we can also leave it with Thymeleaf if jquery is too complex).

[2021-01-21 09:42] criske commented on #335
Mersi mult Mihai :D , dar e prea mult, mi-a luat cam vreo 4 ore cu tot cu teste, totul in decurs de cateva zile. Urmatoarele 5-6 bounty uri o sa le consider ca facand parte din asta (o sa merg pe no bounty) :D

[2021-01-21 09:51] amihaiemil commented on #335
@criske ok :D

[2021-01-21 10:32] criske commented on #343
@amihaiemil yes but just updating this global variable will not update the elements.
For example if we have `var globalProvider = "No provider"` and some `<span class="provider"/>`, just setting on doc ready `$('.provider').text(globalProvider)` would not be enough, cause in the meantime the async call from `<head>` is still going.
so  `ajax().then((data) => globalProvider = data.provider)` will n

[2021-01-21 10:35] amihaiemil commented on #343
@criske well, if you can do it in a simple manner, then go with it :D If it turns out that it's more complex, better keep with the Model version :D

[2021-01-21 13:06] charlesmike commented on #335
@criske thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-01-23 17:01] amihaiemil opened #345 "Display GitLab Login/text only in Test"
Let's have it in test only, for now.

[2021-01-23 17:01] charlesmike commented on #345
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-02-02T19:01:30.501532``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-01-23 17:01] charlesmike commented on #345
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2021-01-23 17:01] #343 closed

[2021-01-23 17:01] charlesmike commented on #343
Puzzle disappeared from the code, that's why I closed this ticket.

[2021-01-23 17:32] #345 closed

[2021-01-23 17:32] amihaiemil commented on #345
@criske FYI -- GitLab is now available when ``testEnvironment == true`` :D

I want to have GitLab in test environment so we can test it. Later, we'll make it public in Prod as well.

[2021-01-23 19:06] charlesmike commented on #345
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-01-23 19:06] charlesmike commented on #343
@criske thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-01-24 09:20] criske opened #347 "head.html: Global profile variable."
Same as global provider, we should have a global js variable `profile` that will be initialized when   `/api/users/self` call in `head.html` is successful. (`globalProfile.change(data)`)
https://github.com/self-xdsd/self-web/blob/a2d3bd04d47c816729140d11776dfad89792360b/src/main/resources/templates/head.html#L50-L55
After that:
- in getProject.js replace  `/api/users/self` call with `globalProfile

[2021-01-24 09:20] charlesmike commented on #347
@criske thank you for reporting this. I'll assign someone to take care of it soon.

[2021-01-24 09:26] charlesmike commented on #347
@fellahi-ali this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-02-03T11:26:16.070327``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become f

[2021-01-24 13:15] amihaiemil commented on #347
@charlesmike remove

[2021-01-24 13:15] charlesmike commented on #347
@amihaiemil ok, I've removed this task from scope. I'm not managing it anymore.

[2021-01-24 13:15] amihaiemil commented on #347
@charlesmike add

[2021-01-24 13:15] charlesmike commented on #347
@amihaiemil I've just registered this ticket as a task and will assign it to someone soon. Thanks!

[2021-01-24 13:16] charlesmike commented on #347
@criske this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-02-03T15:16:14.033087``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become future

[2021-01-25 13:27] #347 closed

[2021-01-25 14:09] criske opened #350 "getProject.js: Wrong pm link for when project is on Gitlab."
Link for pm profile is hardcoded for Github. It should be created based on project provider base url (ex: "gitlab.com").
https://github.com/self-xdsd/self-web/blob/47a240122b2e97c4bf8204383068192e19440282/src/main/resources/public/js/getProject.js#L46-L51

[2021-01-25 14:09] charlesmike commented on #350
@criske thank you for reporting this. I'll assign someone to take care of it soon.

[2021-01-25 14:16] charlesmike commented on #350
@criske this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-02-04T16:16:40.220681``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become future

[2021-01-25 16:46] charlesmike commented on #347
@criske thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-01-27 00:34] nmonokov commented on #321
@amihaiemil Hi! I'd like to work on this one. I want to improve my Java skills and your projects look very good.

[2021-01-27 05:01] amihaiemil commented on #321
@charlesmike add

[2021-01-27 05:01] charlesmike commented on #321
@amihaiemil I've just registered this ticket as a task and will assign it to someone soon. Thanks!

[2021-01-27 05:04] charlesmike commented on #321
@nmonokov this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-02-06T07:04:02.511134``.

Estimation here is ``30 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become futu

[2021-01-27 05:24] amihaiemil opened #353 "Login Buttons On Mobile"
We added GitLab to self-web. Now, the 2 buttons look funny.

Let's try to make them a bit smaller so they fit on the same row with "Self XDSD".

![Screenshot_20210127-072240_Chrome](https://user-images.githubusercontent.com/6305156/105946812-a1145500-6070-11eb-8736-fffeb52b401c.jpg)

[2021-01-27 05:24] charlesmike commented on #353
@Lumi3011 this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-02-06T07:24:44.193944``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become futu

[2021-01-27 05:24] charlesmike commented on #353
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2021-01-27 06:43] #350 closed

[2021-01-27 09:25] amihaiemil commented on #321
@nmonokov I registered a Contract for you in Self XDSD, you can see it hese: http://self-xdsd.go.ro.
Please send me your PayPal e-mail address :)

[2021-01-27 09:28] #321 closed

[2021-01-27 09:28] charlesmike commented on #321
Puzzle disappeared from the code, that's why I closed this ticket.

[2021-01-27 09:34] charlesmike commented on #350
@criske thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-01-27 09:34] charlesmike commented on #321
@nmonokov thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-01-27 17:15] Lumi3011 commented on #353
@amihaiemil As they are now, the buttons contain too much content to be placed on the same row as  "Self XDSD" and if I try to make the text smaller in order to be placed there, it won't be readable. One solution is to rename them, if you want to be on the same row, but it think that will overcrowd the logo, or, only for mobile, I could place both the logo and the buttons on center. What do you th

[2021-01-27 18:19] amihaiemil commented on #353
@Lumi3011 I think placing them on center for mobile will look good :D

[2021-01-27 20:37] nmonokov commented on #322
@amihaiemil hey, i'm not sure how to work with PDD correctly: should i create a new issue or can i drop a comment here? So, i'm confused about this task. I see 2 options here:
1. Whoever has the ROLE_ADMIN should have an admin role in the application.
2. Explicitly who has the admin role in self-xdsd Organization could have that authority. This concept of organizations in VCS is completely new to

[2021-01-27 20:56] amihaiemil commented on #322
@nmonokov dont do anyrhing about this task yet, please.

I'll come back tomorrow with answers to your questions.

[2021-01-28 06:39] amihaiemil commented on #322
@nmonokov

Oraganizations have nothing to do with git as a VCS. Organizations are just a way for Github and GitLab to group repositories under an "organzation" or "company", instead of a personal user account. Organizations in Github and GitLab allow for better access control, more transparency etc. They also look more professional, if you have a popular product (it looks better if it's owned by a

[2021-01-28 12:48] nmonokov commented on #322
@amihaiemil sounds good. I'd like to contribute to self-core as well. At least I'll try :D. If I have any blockers or misunderstandings, is it ok to ping you in the issue thread for advice or direction?

[2021-01-28 12:49] amihaiemil commented on #322
@nmonokov sure

[2021-01-28 12:51] amihaiemil commented on #322
@nmonokov If you have a GitLab account, I can also add you to self-xdsd/self-rest -- this is a new project, which we develop at GitLab. It will be Self XDSD's RESTful API.

[2021-01-28 13:06] nmonokov commented on #322
@amihaiemil yes, i have a gitlab account. The nickname is the same as here.

[2021-01-30 12:08] amihaiemil commented on #353
paid with transaction id 56V99964X3291583G

[2021-01-30 12:08] #353 closed

[2021-01-30 15:06] charlesmike commented on #353
@Lumi3011 thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-01-31 13:12] amihaiemil opened #355 "Add Ukraine and Russia to BillinInfo Form"
Try to add Ukraine and Russia to the BillingInfo formular of the Contributor (PayoutMethod creation).

Ukraine and Russia are not supported by Stripe for businesses (platform accounts), but maybe they allow Connected Accounts to be from these countries.

Then, try to create a PayoutMethod with one of these countries. Stripe should begin an "onboarding flow" and it should ask for your address, pict

[2021-01-31 13:12] charlesmike commented on #355
@nmonokov this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-02-10T15:12:40.160597``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become futu

[2021-01-31 13:12] charlesmike commented on #355
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2021-01-31 14:54] nmonokov commented on #355
@amihaiemil Sorry, I’m afraid I don’t follow you. Are you suggesting to try to create a Stripe account via self-web application from local machine?

[2021-01-31 15:43] amihaiemil commented on #355
@nmonokov yes yes. Modify the front end formular (the country select box) and add/select the option UA (Ukraine). You will also have to add UA to the backend validator (ValidCountryValidator).

Then, try to create the PayoutMethod with UA country, see if it works. I expdct Stripe to throwan exception, but let's try.

And yes, creating a PayoutMethod means creating a kind of Stripe account (called

[2021-02-01 08:33] nmonokov commented on #355
@amihaiemil Hey, i asked my friend to help me with paypal thing. So we can stick to using paypal after all.

[2021-02-01 08:54] amihaiemil commented on #355
@nmonokov ok, just send me an email with the address :D

[2021-02-01 12:10] amihaiemil commented on #321
paid with transaction id 9A118935EL518691A

[2021-02-04 22:16] charlesmike commented on #355
@nmonokov Don't forget to close this ticket before the deadline (2021-02-10T15:12:40). You are past the first half of the allowed period.

[2021-02-06 18:13] amihaiemil opened #356 "Add Cookie Consent Widget For Prod"
Let's use this one: https://www.eucookie.eu/

[2021-02-06 18:13] charlesmike commented on #356
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-02-16T20:13:29.627033``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-02-06 18:13] charlesmike commented on #356
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2021-02-06 19:35] amihaiemil opened #357 "Mobile: Move Authenticated Avatar To The Side"
In this PR https://github.com/self-xdsd/self-web/pull/354/files we centered the login buttons on mobile:

<img width="429" alt="Screenshot 2021-02-06 at 21 29 10" src="https://user-images.githubusercontent.com/6305156/107127974-9ce30580-68c2-11eb-9b1d-51ccc5c84a84.png">

This looks fine but, after login, the Logo and User Avatar are still displayed in a column:

<img width="407" alt="Screenshot 20

[2021-02-06 19:36] charlesmike commented on #357
@Lumi3011 this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-02-16T21:35:59.910608``.

Estimation here is ``120 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fut

[2021-02-06 19:36] charlesmike commented on #357
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2021-02-06 19:36] amihaiemil commented on #357
@Lumi3011 Have a look here. Can you fix it when you have some time, please? :D

[2021-02-06 19:43] #356 closed

[2021-02-07 01:12] charlesmike commented on #356
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-02-07 08:08] amihaiemil opened #359 "Allow Dot Add Contract UserName Validation"
On the Project Contracts Tab, in the Add Contract formular, let's change the validation to also allow dots in the username. At the moment they are forbidden:

This change has to be done in the backend validator and probably also somewhere in the front-end, if it's present.

<img width="366" alt="Screenshot 2021-02-07 at 10 06 07" src="https://user-images.githubusercontent.com/6305156/107140679-634

[2021-02-07 08:08] charlesmike commented on #359
@fellahi-ali this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-02-17T10:08:33.323195``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become f

[2021-02-07 08:08] charlesmike commented on #359
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2021-02-07 12:02] Lumi3011 commented on #357
@amihaiemil Sure, I'll look and see what I can do :D

[2021-02-07 12:18] Lumi3011 commented on #357
@amihaiemil The only solution I can think of is to verify in js if the user is authenticated and then put the style in js. If I can do that, in which js file can I write this code?

[2021-02-07 12:49] amihaiemil commented on #357
@Lumi3011 in the header file there is a JS snippet which calls ``/api/users/self`` to get the authenticated user and show/hide the "unauthenticated" / "authenticated" divs based on the response.

I think that's where you need to look. :D

[2021-02-07 12:50] amihaiemil commented on #357
@Lumi3011 also during the ajax call, the logo and loading circle should be in line, not in column, that's a corner case to look out for :D

[2021-02-10 17:26] charlesmike commented on #355
@nmonokov Looks like you've missed the task deadline (2021-02-10T15:12:40). You are now resigned from this task.

Please stop working on it, you will not be paid. I will assign it to someone else soon.

[2021-02-10 17:26] charlesmike commented on #355
@MihaiDejeu this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-02-20T19:26:40.046319``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-02-10 18:14] amihaiemil commented on #355
@charlesmike remove

[2021-02-10 18:14] charlesmike commented on #355
@amihaiemil ok, I've removed this task from scope. I'm not managing it anymore.

[2021-02-10 18:14] #355 closed

[2021-02-10 23:26] charlesmike commented on #357
@Lumi3011 Don't forget to close this ticket before the deadline (2021-02-16T21:35:59). You are past the first half of the allowed period.

[2021-02-11 22:00] charlesmike commented on #359
@fellahi-ali Don't forget to close this ticket before the deadline (2021-02-17T10:08:33). You are past the first half of the allowed period.

[2021-02-11 22:31] fellahi-ali commented on #359
@amihaiemil wow, I haven't seen this task till now, sorry :(
I think I have some issue with github app notifications.

[2021-02-12 12:50] fellahi-ali commented on #359
@amihaiemil There is a similar problem when activating a repo whose owner's name contains a dot `.`, could I fix it in the scope of this task or report an issue for it?
![gitlab-activate-repo-error](https://user-images.githubusercontent.com/25110612/107770009-105c9b00-6d39-11eb-8fed-d530436177f8.png)

[2021-02-12 12:53] amihaiemil commented on #359
@fellahi-ali report a new issue and I will assign it to you.:D

They are sepparate problems regarding validation of the ContractInput (when registering a new contract) and RepoInput (when activating a repo).

[2021-02-12 12:55] amihaiemil commented on #359
@fellahi-ali

Github will automatically mark a Notification as read (it will not appear in Github), when you open the notification e-mail.
In order to prevent this, you have to disable image-loading in your e-mail client.

When you open a Notification e-mail from Github, it contains an invisible image with an ``onload`` script, which calls Github and then Github will mark the notification as seen.

[2021-02-12 17:31] fellahi-ali opened #361 "Can't activate a repo if its owner name contain a dot"
@amihaiemil  Same as for #359 we should allow owners with a name that contains a dot to activate thiers repos.
![activate repo error](https://user-images.githubusercontent.com/25110612/107801517-74468a00-6d60-11eb-8d51-9539864ba1cf.png)

[2021-02-12 17:31] charlesmike commented on #361
@fellahi-ali thank you for reporting this. I'll assign someone to take care of it soon.

[2021-02-12 17:34] amihaiemil commented on #361
@fellahi-ali thanks. I'll have a look over your PR, but only tomorrow. I'm away from my laptop now.

It's ok if you leave this ticket for monday, you don't have to work in the weekend :D

[2021-02-12 17:40] charlesmike commented on #361
@fellahi-ali this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-02-22T19:40:21.561395``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become f

[2021-02-12 17:46] fellahi-ali commented on #361
sure no problem :)

[2021-02-14 08:15] amihaiemil commented on #359
paid with transaction id 00B70647H71822519

[2021-02-14 08:15] #359 closed

[2021-02-14 08:17] charlesmike commented on #359
@fellahi-ali thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-02-14 11:04] #361 closed

[2021-02-14 14:17] charlesmike commented on #361
@fellahi-ali thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-02-15 13:37] amihaiemil opened #363 "Explicit Pemission When Saving a Stripe Card"
Let's add a checkbox with a text which explicitly gives us permission to use the Stripe Card later: https://stripe.com/docs/strong-customer-authentication/faqs#mandates

[2021-02-15 13:37] charlesmike commented on #363
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-02-25T15:37:32.783916``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-02-15 13:37] charlesmike commented on #363
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2021-02-15 13:38] amihaiemil opened #364 "BillingInfo Form Tax ID -> VAT Number"
Let's rename the label of this field to be more explicit: in it, we expect the VAT Number.

[2021-02-15 13:38] charlesmike commented on #364
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-02-25T15:38:18.232825``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-02-15 13:38] charlesmike commented on #364
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2021-02-15 16:56] Lumi3011 commented on #357
@amihaiemil I resolved this task but sort of 99%. What I did is to verify the width of the screen so I can modify the css. But because I had to do that in js, if you modify the width manually (like in inspect element), the changes will apply only if you refresh the screen so the app can know that the width has changed. This won't be a problem if you enter the site on mobile because it will know fr

[2021-02-15 17:23] amihaiemil commented on #357
@Lumi3011 looks good, thanks! Paid with transaction id 61C73137JP3229523

[2021-02-15 17:23] #357 closed

[2021-02-15 20:16] charlesmike commented on #357
@Lumi3011 thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-02-19 22:00] charlesmike commented on #363
@amihaiemil Don't forget to close this ticket before the deadline (2021-02-25T15:37:32). You are past the first half of the allowed period.

[2021-02-19 22:00] charlesmike commented on #364
@amihaiemil Don't forget to close this ticket before the deadline (2021-02-25T15:38:18). You are past the first half of the allowed period.

[2021-02-21 09:13] amihaiemil opened #366 "Links To Legal Docs"
We have the 3 legal documents, let's link them in the footer:

https://docs.self-xdsd.com/documents/Terms_and_Conditions_Self_XDSD.pdf
https://docs.self-xdsd.com/documents/Data_and_Privacy_Policy_Self_XDSD.pdf
https://docs.self-xdsd.com/documents/Cookies_Policy_Self_XDSD.pdf

[2021-02-21 09:13] charlesmike commented on #366
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-03-03T11:13:51.362635``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-02-21 09:13] charlesmike commented on #366
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2021-02-21 09:22] amihaiemil opened #367 "Update to core 65/storage 30"
Let's update to the latest core and storage.

[2021-02-21 09:22] charlesmike commented on #367
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-03-03T11:22:12.116653``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-02-21 09:22] charlesmike commented on #367
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2021-02-21 10:13] #367 closed

[2021-02-21 10:28] #366 closed

[2021-02-21 10:37] #364 closed

[2021-02-21 14:27] #363 closed

[2021-02-21 16:10] amihaiemil opened #371 "Allow Deactivation Of All PaymentMethods"
At the moment, in the Real Wallet, it's not possible to deactivate the active PaymentMethod (at least one payment method/card needs to be active). Let's change this.

Let's allow deactivation of all payment methods and display a read warning in case all the payment methods are disabled.

[2021-02-21 16:10] charlesmike commented on #371
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-03-03T18:10:46.732913``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-02-21 16:10] charlesmike commented on #371
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2021-02-21 16:21] amihaiemil opened #372 "Add Malaysia and Mexico To Stripe BillingInfo Forms"
We should add these 2 new countries to the BillingInfo forms of the Stripe Real Wallet and Stripe Payout Methiod.

[2021-02-21 16:21] charlesmike commented on #372
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-03-03T18:21:55.978289``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-02-21 16:21] charlesmike commented on #372
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2021-02-21 20:37] charlesmike commented on #363
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-02-21 20:37] charlesmike commented on #364
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-02-21 20:37] charlesmike commented on #366
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-02-21 20:37] charlesmike commented on #367
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-02-26 01:18] charlesmike commented on #371
@amihaiemil Don't forget to close this ticket before the deadline (2021-03-03T18:10:46). You are past the first half of the allowed period.

[2021-02-26 01:18] charlesmike commented on #372
@amihaiemil Don't forget to close this ticket before the deadline (2021-03-03T18:21:55). You are past the first half of the allowed period.

[2021-02-26 08:54] amihaiemil opened #373 "Release 0.0.1"
Let's release the first MVP.

[2021-02-26 09:08] amihaiemil commented on #373
@rultor release it, tag is `0.0.1`

[2021-02-26 09:09] rultor commented on #373
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/24186-786513393)

[2021-02-26 09:12] rultor commented on #373
@amihaiemil Oops, I failed. You can see the full log [here](https://www.rultor.com/t/24186-786513393) (spent 3min)

[code]

[2021-02-26 09:18] amihaiemil commented on #373
@rultor release it, tag is `0.0.1`

[2021-02-26 09:19] rultor commented on #373
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/24186-786518700)

[2021-02-26 09:23] rultor commented on #373
@amihaiemil Oops, I failed. You can see the full log [here](https://www.rultor.com/t/24186-786518700) (spent 3min)

[code]

[2021-02-26 09:32] amihaiemil commented on #373
@rultor release it, tag is `0.0.1`

[2021-02-26 09:33] rultor commented on #373
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/24186-786526651)

[2021-02-26 09:38] rultor commented on #373
@amihaiemil Done! FYI, the full log is [here](https://www.rultor.com/t/24186-786526651) (took me 4min)

[2021-02-26 09:38] #373 closed

[2021-02-27 12:38] amihaiemil opened #374 "Fix all the http:// Resources to Http://"
There are a few front-end resources which are being loaded over http:// instead of https:// and the browser blocks them. Let's fix it.

[2021-02-27 12:39] charlesmike commented on #374
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-03-09T14:39:00.433164``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-02-27 12:39] charlesmike commented on #374
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2021-02-27 12:39] amihaiemil opened #375 "Fix Github App Link"
The app link for the Self XDSD github prod app (in the organizations repos hint message) is missing, let's add it.

[2021-02-27 12:39] charlesmike commented on #375
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-03-09T14:39:26.604034``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-02-27 12:39] charlesmike commented on #375
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2021-02-27 16:37] #375 closed

[2021-02-27 16:40] amihaiemil opened #376 "Release 0.0.2"
Fixes

#374
#375

[2021-02-27 16:41] #374 closed

[2021-02-27 16:41] amihaiemil commented on #376
@rultor release it, tag is `0.0.2`

[2021-02-27 16:42] rultor commented on #376
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/24197-787100036)

[2021-02-27 16:46] rultor commented on #376
@amihaiemil Done! FYI, the full log is [here](https://www.rultor.com/t/24197-787100036) (took me 4min)

[2021-02-27 16:48] #376 closed

[2021-02-27 17:57] zoeself opened #377 "Hello from Self XDSD!"
@amihaiemil Thank you for the invitation, your repo is all set up and I will manage it starting now.

I will take care of tickets' assignment, payments and more, automatically.

If you don't want me to handle a certain Issue or PR, add the ``no-task`` label when creating it. You can also say ``deregister`` to me (if it's already in scope) and I will forget about it.

[2021-02-27 18:00] #377 closed

[2021-02-27 18:01] amihaiemil opened #378 "Org Grang Access Link Broken"
The link is broken because of the provider-listener in getOrgRepos.js.

Let's change that listener to simply show/hide the Github Org Access link (GitLab does not not seem to have such a page).

[2021-02-27 18:01] zoeself commented on #378
@amihaiemil thank you for reporting this. Unfortunately, @amihaiemil is not a contributor with the required role (DEV), that's why I unassigned them.

I will assign a contributor to take care of it soon.

[2021-02-27 18:07] zoeself commented on #378
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-03-09T18:07:17.818278``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-02-27 18:14] amihaiemil opened #379 "Badge Link Doesn't Initialize On New Project"
When a new repo is activated and the details show up after activation, the Markdown/HTML links to the Self XDSD badge are not initalize:

![Screenshot 2021-02-27 at 20 13 22](https://user-images.githubusercontent.com/6305156/109396051-62f0a680-7938-11eb-9caa-38e899409256.png)

[2021-02-27 18:14] zoeself commented on #379
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-03-09T18:14:31.257089``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-02-27 18:14] zoeself commented on #379
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2021-02-27 18:15] #378 closed

[2021-02-27 18:15] amihaiemil opened #380 "Release 0.0.3"
Fixes:

#378
#379
#381

[2021-02-27 19:27] zoeself commented on #378
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-02-28 08:41] amihaiemil opened #381 "Add Blog Link To Footer"
Let's add the blog link to the footer.

[2021-02-28 08:41] zoeself commented on #381
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-03-10T08:41:53.437407``.

Estimation here is ``30 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-02-28 08:41] zoeself commented on #381
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2021-02-28 09:18] #379 closed

[2021-02-28 09:19] #381 closed

[2021-02-28 09:22] amihaiemil commented on #380
@rultor release it, tag is `0.0.3`

[2021-02-28 09:23] rultor commented on #380
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/24201-787422031)

[2021-02-28 09:28] rultor commented on #380
@amihaiemil Done! FYI, the full log is [here](https://www.rultor.com/t/24201-787422031) (took me 4min)

[2021-02-28 09:28] #380 closed

[2021-02-28 13:27] zoeself commented on #379
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-02-28 13:27] zoeself commented on #381
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-03-03 06:06] amihaiemil opened #383 "Release 0.0.4"
Changelog:

#371
#372
#387
#389
#390
#393
#398
#402
#403
#405

[2021-03-03 06:06] zoeself commented on #383
@amihaiemil thank you for reporting this. I'll assign someone to take care of it soon.

[2021-03-03 06:07] zoeself commented on #383
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-03-13T06:07:17.736048``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-03-03 06:07] amihaiemil commented on #383
@zoeself remove

[2021-03-03 06:07] zoeself commented on #383
@amihaiemil ok, I've removed this task from scope. I'm not managing it anymore.

[2021-03-03 06:15] #372 closed

[2021-03-03 06:16] amihaiemil opened #385 "Backend Endpoint for DELETE PayoutMethod"
We should allow the Contributor to delete a PayoutMethod. Let's start with the backend endpoint for it.

[2021-03-03 06:16] zoeself commented on #385
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-03-13T06:16:21.190029``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-03-03 06:16] zoeself commented on #385
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2021-03-03 07:20] #385 closed

[2021-03-03 07:27] amihaiemil opened #387 "Delete PayoutMethod Front-End"
On the Contributor Dashboard page, Payout Methods tab, we should allow the removal of the Stripe PayoutMethod.

Backend endpoint: ``DELETE /api/contributor/payoutmethods/stripe``
Response codes: 204 NO CONTENT if the deletion was successful and BAD REQUEST or SERVER error (with JSON message) in other cases.

[code]

In case of an unsuccessful response (!= NO CONTENT), we should simply display the

[2021-03-03 07:27] zoeself commented on #385
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-03-03 07:27] zoeself commented on #387
@Lumi3011 this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-03-13T07:27:18.417326``.

Estimation here is ``180 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fut

[2021-03-03 07:27] zoeself commented on #387
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2021-03-03 07:28] amihaiemil commented on #387
@Lumi3011 also, please run the following two ALTER statements on your DB, I don't think you have these updates:

[code]

[2021-03-03 09:19] amihaiemil opened #388 "Test Issue No-Task"
Just a test...

[2021-03-03 09:19] #388 closed

[2021-03-05 06:33] amihaiemil opened #389 "Delete Fake Wallet On Real Wallet Activation"
When activating a real wallet, we should remove the fake wallet.

[2021-03-05 06:33] zoeself commented on #389
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-03-15T06:33:08.195906``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-03-05 06:33] zoeself commented on #389
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2021-03-08 01:27] zoeself commented on #387
@Lumi3011 Don't forget to close this ticket before the deadline (2021-03-13T07:27:18). You are past the first half of the allowed period.

[2021-03-10 01:27] zoeself commented on #389
@amihaiemil Don't forget to close this ticket before the deadline (2021-03-15T06:33:08). You are past the first half of the allowed period.

[2021-03-10 10:44] amihaiemil commented on #371
@zoeself add

[2021-03-10 10:44] zoeself commented on #371
@amihaiemil I've just registered this ticket as a task and will assign it to someone soon. Thanks!

[2021-03-10 10:47] zoeself commented on #371
@criske this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-03-20T10:47:17.987349``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become future

[2021-03-13 10:37] amihaiemil opened #390 "Display Status Of Latest Payment"
On the Invoice row we should display the status of the latest Payment (as it is now, if the payment is successful and an exclamation mark + test) if it's failed.

[2021-03-13 10:37] zoeself commented on #390
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-03-23T10:37:41.998297``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-03-13 10:37] zoeself commented on #390
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2021-03-13 13:27] zoeself commented on #387
@Lumi3011 Looks like you've missed the task deadline (2021-03-13T07:27:18). You are now resigned from this task.

Please stop working on it, you will not be paid. I will assign it to someone else soon.

[2021-03-13 13:27] zoeself commented on #387
@criske this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-03-23T13:27:31.594809``.

Estimation here is ``180 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become futur

[2021-03-13 15:15] amihaiemil commented on #387
@zoeself remove

[2021-03-13 15:15] zoeself commented on #387
@amihaiemil ok, I've removed this task from scope. I'm not managing it anymore.

[2021-03-13 15:16] amihaiemil commented on #387
@zoeself add

[2021-03-13 15:16] zoeself commented on #387
@amihaiemil I've just registered this ticket as a task and will assign it to someone soon. Thanks!

[2021-03-13 15:17] zoeself commented on #387
@Lumi3011 this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-03-23T15:17:17.730277``.

Estimation here is ``180 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fut

[2021-03-14 10:09] #371 closed

[2021-03-14 12:33] #390 closed

[2021-03-14 12:34] zoeself opened #393 "getAndAddContracts.js: Modify the Invoice payment en..."
The puzzle ``-1844249581`` originating from #390 has to be resolved:

https://github.com/self-xdsd/self-web/blob/b05add2a2d3af679ed2e2b61c8fe73f1d3b037e9/src/main/resources/public/js/getAndAddContracts.js#L143-L144

"Modify the Invoice payment endpoint so it returns the Payment JSON. Then, display the status on the Invoice row properly.".

The puzzle was created by @amihaiemil at ``2021-03-14 14:3

[2021-03-14 12:35] amihaiemil commented on #389
@zoeself quit

[2021-03-14 12:35] zoeself commented on #389
@amihaiemil ok, I'll find someone else to take care of it.

[2021-03-14 12:36] amihaiemil commented on #389
@criske can you take care of it when you have some time?

The change in the front-end: when the real wallet is activated, delete the Fake Wallet div.

The change in the backe-end: in the activate wallet endpoint, use method ``wallet.activate()`` instead of ``wallets.activate(Wallet)`` (the implementation of StripeWallet.activate() will remove the FakeWallet).

[2021-03-14 12:37] zoeself commented on #389
@criske this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-03-24T12:37:17.739102``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become future

[2021-03-14 12:37] zoeself commented on #393
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-03-24T12:37:19.848836``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-03-14 13:16] amihaiemil commented on #389
@criske btw, we introduced an Invoice's payments. Make sure to run the following on your local DB:

[code]

[2021-03-14 13:27] zoeself commented on #390
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-03-14 13:27] zoeself commented on #371
@criske thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-03-14 19:07] #393 closed

[2021-03-14 19:07] zoeself commented on #393
Puzzle disappeared from the code, that's why I closed this ticket.

[2021-03-14 19:27] zoeself commented on #393
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-03-15 06:25] amihaiemil opened #395 "Slow Page Load Due To EuCookies"
Seems like the EuCookies server sometimes takes a lot of time to respond and this slows down self-web considerably. Let's fix this.

[2021-03-15 06:25] zoeself commented on #395
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-03-25T06:25:12.383102``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-03-15 06:25] zoeself commented on #395
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2021-03-15 17:35] #395 closed

[2021-03-15 19:27] zoeself commented on #395
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-03-17 09:42] criske commented on #389
waiting  for https://github.com/self-xdsd/self-core/pull/1061

[2021-03-17 13:44] amihaiemil commented on #389
@zoeself remove

[2021-03-17 13:44] zoeself commented on #389
@amihaiemil ok, I've removed this task from scope. I'm not managing it anymore.

[2021-03-17 13:45] amihaiemil commented on #389
@zoeself add

[2021-03-17 13:45] zoeself commented on #389
@amihaiemil I've just registered this ticket as a task and will assign it to someone soon. Thanks!

[2021-03-17 13:47] zoeself commented on #389
@criske this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-03-27T13:47:17.736350``.

Estimation here is ``120 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become futur

[2021-03-17 14:58] #387 closed

[2021-03-17 15:25] amihaiemil opened #398 "Allow GitLab in Prod"
Let's allow GitLab in production as well.

[2021-03-17 15:26] zoeself commented on #398
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-03-27T15:26:04.835954``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-03-17 15:26] zoeself commented on #398
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2021-03-17 15:41] amihaiemil opened #399 "Implement 404 and 500 Pages"
Under the ``templates`` folder, create the ``error`` folder with the files ``404.html`` and ``500.html``. They should include the head, header and footer template, same as the other pages like, for example, badge.html.

In the center of the page's main content, there should be the corresponding image.

To test the 404 page, just go to ``http://localhost:8080/images/notfound`` (access to the ``imag

[2021-03-17 15:42] zoeself commented on #399
@Lumi3011 this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-03-27T15:42:01.959391``.

Estimation here is ``120 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fut

[2021-03-17 15:42] zoeself commented on #399
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2021-03-17 15:42] amihaiemil commented on #399
@Lumi3011 Am vazut imaginile si mi-au placut, le poti folosi pt paginile astea, cand ai timp :D

De cazul 503 ma ocup eu.

[2021-03-17 19:27] zoeself commented on #387
@Lumi3011 thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-03-18 19:11] #398 closed

[2021-03-18 19:27] zoeself commented on #398
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-03-19 11:31] amihaiemil opened #402 "PayoutMethods Tab: Align Delete Button"
Let's put the ``Delete`` button on the same line as ``Stripe Dashboard`` button and deactivate both of them when an operation takes place.

Let's also display the ``Are you sure?`` question when pressing ``Delete``.

[2021-03-19 11:31] zoeself commented on #402
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-03-29T11:31:23.061845``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-03-19 11:31] zoeself commented on #402
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2021-03-19 12:36] amihaiemil opened #403 "Replace "OK" Answer with "Yes" Where Appropriate"
There are a few places where we ask the user an "Are you sure..." question and the answer option on the popup question is "OK". Let's change it to "Yes".

[2021-03-19 12:36] zoeself commented on #403
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-03-29T12:36:14.566024``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-03-19 12:36] zoeself commented on #403
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2021-03-19 12:42] #402 closed

[2021-03-19 13:27] zoeself commented on #402
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-03-21 15:24] #389 closed

[2021-03-21 15:25] zoeself opened #405 "WalletsApi.java: When creating a Wallet Paymen..."
The puzzle ``-1830374586`` originating from #389 has to be resolved:

https://github.com/self-xdsd/self-web/blob/c468f0529fd4bf32ec6a4a4c26b364930a0aa470/src/main/java/com/selfxdsd/selfweb/api/WalletsApi.java#L49-L50

"When creating a Wallet PaymentMethod for the first time, that PaymentMethod should be "active" by default.".

The puzzle was created by @cristianpela at ``2021-03-19 15:20:33 +0200`

[2021-03-21 15:27] zoeself commented on #405
@criske this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-03-31T15:27:17.777434``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become future

[2021-03-21 15:55] #403 closed

[2021-03-21 16:02] amihaiemil opened #407 "Allow Removal Of A Payment Method"
The user should be able to delete a PaymentMethod from their Real Wallet. The 'Delete' icon should only be visible when the method is inactive (we cannot remove an active PaymentMethod).

The backend endpoint for this also needs to be implemented. We can use simply ``PaymentMethod.remove()`` ( ``StripePaymentMethod.remove()`` will also remove it from Stripe).

[2021-03-21 16:02] zoeself commented on #407
@criske this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-03-31T16:02:21.624968``.

Estimation here is ``90 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become future

[2021-03-21 16:02] zoeself commented on #407
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2021-03-21 19:27] zoeself commented on #403
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-03-21 19:27] zoeself commented on #389
@criske thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-03-22 01:27] zoeself commented on #399
@Lumi3011 Don't forget to close this ticket before the deadline (2021-03-27T15:42:02). You are past the first half of the allowed period.

[2021-03-24 18:12] zoeself commented on #405
Puzzle disappeared from the code, that's why I closed this ticket.

[2021-03-24 18:12] #405 closed

[2021-03-24 19:27] zoeself commented on #405
@criske thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-03-26 01:27] zoeself commented on #407
@criske Don't forget to close this ticket before the deadline (2021-03-31T16:02:22). You are past the first half of the allowed period.

[2021-03-26 16:54] #407 closed

[2021-03-26 19:27] zoeself commented on #407
@criske thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-03-27 05:29] #399 closed

[2021-03-27 07:27] zoeself commented on #399
@Lumi3011 thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-03-27 07:28] amihaiemil opened #411 "Empty Fake Wallet Div"
I deployed the new self-web in Test Environment and I removed the Fake Wallets from the DB manually, for projects which already had a Real Wallet.

Then, when I reload the page:

![Screenshot 2021-03-27 at 09 26 24](https://user-images.githubusercontent.com/6305156/112713595-a65e1680-8ede-11eb-8e52-e3c3531345f2.png)

This bug did not occur when I tested the activation of the real wallet (where the

[2021-03-27 07:28] zoeself commented on #411
@criske this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-04-06T07:28:27.991876``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become future

[2021-03-27 07:28] zoeself commented on #411
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2021-03-27 15:23] #411 closed

[2021-03-27 16:11] amihaiemil opened #413 "Yellow Warning Visible After First Payment Method Is Added"
When creating a new Stripe Wallet and adding the first PaymentMethod, the method is successfully added and activated.

However, the yellow warning is still present and the Wallet cannot be activated until you deactivate and activate the PaymentMethod again.

![Screenshot 2021-03-27 at 18 08 03](https://user-images.githubusercontent.com/6305156/112726749-b9e19f80-8f27-11eb-9570-96e4a7f302b8.png)

I

[2021-03-27 16:11] zoeself commented on #413
@criske this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-04-06T16:11:39.714887``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become future

[2021-03-27 16:11] zoeself commented on #413
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2021-03-27 16:11] amihaiemil commented on #413
@criske Can you also fix this when you have some time pls? :D

[2021-03-27 19:27] zoeself commented on #411
@criske thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-03-28 13:06] #413 closed

[2021-03-28 13:27] zoeself commented on #413
@criske thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-03-29 14:11] amihaiemil commented on #383
@rultor release it, tag is `0.0.4`

[2021-03-29 14:11] rultor commented on #383
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/24329-809408844)

[2021-03-29 14:16] rultor commented on #383
@amihaiemil Done! FYI, the full log is [here](https://www.rultor.com/t/24329-809408844) (took me 4min)

[2021-03-29 14:16] #383 closed

[2021-03-31 08:02] amihaiemil opened #415 "Release 0.0.5"
Changelog:

#416 -- merged into branch ``projectTasks``, release will be a bit postponed.
#417
#420
#422
#424
#425
#426
#428
#429

[2021-03-31 08:04] amihaiemil opened #416 "Implement the 'Tasks' Tab On The Project Page"
On the Project page, we should implement the Tasks tab, where we should display a card with a table containing all the tasks which are in scope (task id, estimation, role, assignee, value).

Let's start with the front-end, implement the tab and show/hide on click (see other tabs as example). In the beginning, the tab should contain just an empty bootstrap card with an empty table (see how Jquery D

[2021-03-31 08:04] zoeself commented on #416
@Lumi3011 this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-04-10T08:04:42.527388``.

Estimation here is ``180 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fut

[2021-03-31 08:04] zoeself commented on #416
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2021-04-04 08:10] Lumi3011 commented on #416
Hei @amihaiemil, aparent am o problema cu baza de date, daca ma poti ajuta.
![image](https://user-images.githubusercontent.com/32979820/113502640-3717a080-9536-11eb-85e8-123daee37953.png)

Am incercat sa iau din nou baza de date de aici ( https://github.com/self-xdsd/self-storage/blob/0.0.66/src/test/resources/createDb.sql ) in caz ca se schimbase ceva dar tot am eroarea.

[2021-04-04 09:21] amihaiemil commented on #416
@Lumi3011 e bun fisierul sql rulat, dar versiunea e deja veche (0.0.66.). Mai ruleaza-l o data, dar selecteaza ultima versiune, de pe master (in pagina de Github, in dreapta sus pe undeva e un selectbox).

Si nu uita sa inserezi PM-ul, ca sa mearga activarea de proiect :D

[2021-04-05 05:31] zoeself commented on #416
@Lumi3011 Don't forget to close this ticket before the deadline (2021-04-10T08:04:43). You are past the first half of the allowed period.

[2021-04-07 08:37] criske opened #417 "Showing the invoice in a separate tab/window."
It would be nice if we could have a button, besides the download one, to show the invoice in a separate tab/window.
This should apply for both PO Contracts tab invoices section and Contributor Dashboard invoices section.

![view_invoice](https://user-images.githubusercontent.com/10284893/113836149-4ba5a400-9795-11eb-9981-00c2c3d5522f.png)

[2021-04-07 08:37] zoeself commented on #417
@criske thank you for reporting this. I'll assign someone to take care of it soon.

[2021-04-07 08:40] amihaiemil commented on #417
@criske Yes, I also want to do that, but I have no idea how. Pop-ups are not an option because they are not mobile friendly at all. We already have tabs on the page and creating one when clicking a button is really strange... the only option I have in mind is to create a new page for the Invoice, but that also seems a bit strange... :D

[2021-04-07 08:41] zoeself commented on #417
@amihaiemil I couldn't find any assignee for this task. This is either because there are no contributors with role ``DEV`` available or because the project does not have enough funds.

Please, make sure there is at least one available contributor with the required role and the project can afford to pay them.

[2021-04-07 08:41] criske commented on #417
@amihaiemil I was thinking to show them in a browser tab; it shouldn't be that hard to implement, I think :D

[2021-04-07 08:43] amihaiemil commented on #417
@criske opening a tab with the PDF is actually not a bad idea, let's try it.

[2021-04-07 08:51] zoeself commented on #417
@criske this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-04-17T08:51:06.803683``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become future

[2021-04-07 16:43] Lumi3011 commented on #416
@amihaiemil in ce fisier ar trebui sa adaug  Jquery Datatable pentru tabelul de tasks? Am vazut ca nu e ceva separat pentru task-uri, dar in acelasi timp e deja un tabel cu task-uri in getAndAddContracts. Fac un js separat cu getAndAddTasks?

[2021-04-07 17:17] amihaiemil commented on #416
@Lumi3011 e putin dezordonat codul, intr-adevar, scuze. Dar sigur trebuie ceva separat.

Ce vezi pe-acolo legat de task-uri este pentru task-urile unui Contract (tab-ul de Contracts, tabelul din stanga jos) sau pagina de Contributor Dashboard, tabelul tot din stanga jos.

E ok daca faci structira de HTML de ``<table>`` vezi cum e la restu, si on-click pe tab-ul de Tasks, dupa ce faci show/hide la

[2021-04-07 17:31] Lumi3011 commented on #416
@amihaiemil Ok atunci, eu ma uitam pe acolo si cum se face pentru restul js-ului, de-asta intrebam. Am dat push cu ce am facut, sa imi spui daca e ok :D

[2021-04-08 07:23] #417 closed

[2021-04-08 11:31] zoeself commented on #417
@criske thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-04-08 16:41] #416 closed

[2021-04-08 17:31] zoeself commented on #416
@Lumi3011 thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-04-12 17:16] amihaiemil opened #420 "Info Badge After Activating A Repo"
After activating a Repository for the first time, we should show some kind of info badge saying something like: ``You're almost there. Just give our PM a few minutes to accept the Github invitation, then you'll be all set up.``

This message should appear only in the case of a Github repo (in GitLab we don't have to accept invitations) and only once. After the page is refreshed, it should never be

[2021-04-12 17:16] zoeself commented on #420
@criske this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-04-22T17:16:09.763975``.

Estimation here is ``120 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become futur

[2021-04-12 17:16] zoeself commented on #420
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2021-04-14 12:19] amihaiemil commented on #420
@zoeself remove

[2021-04-14 12:19] zoeself commented on #420
@amihaiemil ok, I've removed this task from scope. I'm not managing it anymore.

[2021-04-14 12:20] amihaiemil commented on #420
@zoeself add

[2021-04-14 12:20] zoeself commented on #420
@amihaiemil I've just registered this ticket as a task and will assign it to someone soon. Thanks!

[2021-04-14 12:26] zoeself commented on #420
@criske this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-04-24T12:26:36.150923``.

Estimation here is ``30 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become future

[2021-04-14 15:46] amihaiemil opened #422 "Add Contributor Commission for PM"
On the PMs page, add the contributor commission field.

[2021-04-14 15:46] zoeself commented on #422
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-04-24T15:46:21.778628``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-04-14 15:46] zoeself commented on #422
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2021-04-14 16:27] #422 closed

[2021-04-14 16:28] #420 closed

[2021-04-14 16:29] amihaiemil opened #424 "Link to Contributor Invoicing and Commission Docs"
On the Contributor Dashboard page, above the Contracts table, we should add a sentence about and a link to the invoicing and commissioning documentation for the Contributor.

[2021-04-14 16:29] zoeself commented on #424
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-04-24T16:29:40.181631``.

Estimation here is ``30 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-04-14 16:29] zoeself commented on #424
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2021-04-14 20:46] zoeself commented on #422
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-04-14 20:46] zoeself commented on #420
@criske thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-04-15 04:33] amihaiemil opened #425 "Don't Display Whole FailReason If Payment Error"
In the failed payment overlay bubble, do not display the failReason if the Payment failed because of an Error (in this case, chances are that the reason is a long exception message). Furthermore, errored payments should never occur - if they do, we have a problem that we need to fix.

![Screenshot 2021-04-15 at 07 33 02](https://user-images.githubusercontent.com/6305156/114814430-db160d00-9dbc-11e

[2021-04-15 04:33] zoeself commented on #425
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-04-25T04:33:43.273159``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-04-15 04:33] zoeself commented on #425
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2021-04-15 04:53] amihaiemil opened #426 "PlatformInvoices Page: Take Into Account Reverse VAT"
The VAT for some records may be negative (reverse applies). If this is the case, display: "Reverse" in the table column and do not add this value to the gross amount.

[2021-04-15 04:53] zoeself commented on #426
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-04-25T04:53:10.203338``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-04-15 04:53] zoeself commented on #426
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2021-04-19 02:46] zoeself commented on #424
@amihaiemil Don't forget to close this ticket before the deadline (2021-04-24T16:29:40). You are past the first half of the allowed period.

[2021-04-19 09:07] #426 closed

[2021-04-19 14:46] zoeself commented on #426
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-04-20 02:46] zoeself commented on #425
@amihaiemil Don't forget to close this ticket before the deadline (2021-04-25T04:33:43). You are past the first half of the allowed period.

[2021-04-21 12:00] amihaiemil commented on #425
@zoeself remove

[2021-04-21 12:00] zoeself commented on #425
@amihaiemil ok, I've removed this task from scope. I'm not managing it anymore.

[2021-04-21 12:02] amihaiemil commented on #425
@criske Can you please take care of this when you have some time? So, if the Payment status is ERROR, don't display the message (because it is most likely an exception). Instead, we should display a generic message: "Something went wrong, please try again.".

Payments with status ERROR should never occur so a generic message is fine. We will make the PM report errored payments, a bit later, and we

[2021-04-21 12:02] amihaiemil commented on #425
@zoeself add

[2021-04-21 12:02] zoeself commented on #425
@amihaiemil I've just registered this ticket as a task and will assign it to someone soon. Thanks!

[2021-04-21 12:05] amihaiemil opened #428 "Better Alert For 500 Payment"
At the moment, if the Pay Invoice endpoint returns 500 SERVER ERROR (an exception which we failed to catch), an alert is displayed.

We should add a friendlier message to this alert, something like: "We're sorry, but something went wrong. All the failed payments are cancelled so feel free to try again."

[2021-04-21 12:05] zoeself commented on #428
@criske this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-05-01T12:05:12.253160``.

Estimation here is ``30 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become future

[2021-04-21 12:05] zoeself commented on #428
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2021-04-21 12:06] zoeself commented on #425
@criske this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-05-01T12:06:36.151248``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become future

[2021-04-22 13:33] amihaiemil opened #429 "Update to core 74 and storage 69"
Let's update the dependencies.

[2021-04-22 13:33] zoeself commented on #429
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-05-02T13:33:41.772069``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-04-22 13:33] zoeself commented on #429
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2021-04-22 13:53] #424 closed

[2021-04-22 14:46] zoeself commented on #424
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-04-24 12:32] #425 closed

[2021-04-24 13:24] #429 closed

[2021-04-24 14:46] zoeself commented on #429
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-04-24 14:46] zoeself commented on #425
@criske thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-04-25 10:01] #428 closed

[2021-04-25 14:07] amihaiemil commented on #415
@rultor release it, tag is `0.0.5`

[2021-04-25 14:08] rultor commented on #415
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/24394-826330552)

[2021-04-25 14:12] rultor commented on #415
@amihaiemil Done! FYI, the full log is [here](https://www.rultor.com/t/24394-826330552) (took me 4min)

[2021-04-25 14:12] #415 closed

[2021-04-25 14:46] zoeself commented on #428
@criske thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-05-07 08:44] amihaiemil opened #434 "Add Facebook and Twitter to "Contact Us" footer"
Let's add the Facebook and Twitter pages to the "Contact us" column:

https://facebook.com/SelfXDSD
https://twitter.com/sekfXdsd

[2021-05-07 08:44] zoeself commented on #434
@criske this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-05-17T08:44:03.475191``.

Estimation here is ``15 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become future

[2021-05-07 08:44] zoeself commented on #434
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2021-05-07 08:44] amihaiemil opened #435 "Release 0.0.6"
Changelog:

#434
#436
#438

[2021-05-07 14:03] amihaiemil opened #436 "Update to core 81 and storage 70"
For the JsonResources caching using the e-tag mechanism.

[2021-05-07 14:03] zoeself commented on #436
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2021-05-07 14:21] #436 closed

[2021-05-07 15:12] zoeself commented on #436
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-05-12 03:12] zoeself commented on #434
@criske Don't forget to close this ticket before the deadline (2021-05-17T08:44:03). You are past the first half of the allowed period.

[2021-05-12 12:31] amihaiemil opened #438 "Index Page: Clarify Chatbot PMs"
Let's make it clearer on the homepage that our Project Managers are chatbots.

[2021-05-12 12:31] zoeself commented on #438
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-05-22T12:31:38.190038``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-05-12 12:31] zoeself commented on #438
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2021-05-12 14:39] #438 closed

[2021-05-12 15:12] zoeself commented on #438
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-05-14 11:08] #434 closed

[2021-05-14 15:12] zoeself commented on #434
@criske thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-05-17 09:59] amihaiemil commented on #435
@rultor release it, tag is `0.0.6`

[2021-05-17 10:00] rultor commented on #435
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/24482-842191970)

[2021-05-17 10:03] rultor commented on #435
@amihaiemil Done! FYI, the full log is [here](https://www.rultor.com/t/24482-842191970) (took me 3min)

[2021-05-17 10:04] #435 closed

[2021-05-18 07:20] amihaiemil opened #442 "Change DB Connection To Request Scope"
Apparently it's better to have the connections in request scope.

[2021-05-18 07:20] zoeself commented on #442
@criske this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-05-28T07:20:24.967079``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become future

[2021-05-18 07:20] zoeself commented on #442
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2021-05-19 08:47] amihaiemil commented on #442
@zoeself remove

[2021-05-19 08:47] zoeself commented on #442
@amihaiemil ok, I've removed this task from scope. I'm not managing it anymore.

[2021-05-19 08:48] amihaiemil commented on #442
@zoeself add

[2021-05-19 08:48] zoeself commented on #442
@amihaiemil I've just registered this ticket as a task and will assign it to someone soon. Thanks!

[2021-05-19 08:56] zoeself commented on #442
@criske this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-05-29T08:56:41.026106``.

Estimation here is ``120 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become futur

[2021-05-19 08:59] amihaiemil commented on #442
@criske hai sa inchidem asta si ramane PR-u deschis pe cand vom avea nevoie, ok? :D

[2021-05-19 09:02] criske commented on #442
@amihaiemil ok :D

@zoeself resign

[2021-05-19 09:02] amihaiemil commented on #442
@criske lasa asa, ca ai muncit si asta ii un topic ft important, mie nici nu mi-a dat prin cap :D

[2021-05-19 09:03] #442 closed

[2021-05-19 09:06] zoeself commented on #442
@criske thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-06-25 12:37] amihaiemil opened #443 "Read Personal Repos Serverside"
This will also include the personal private repos.
For this we need self-core 88 and self-storage 71

[2021-06-25 12:37] zoeself commented on #443
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-07-05T12:37:23.720059``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-06-25 12:37] zoeself commented on #443
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2021-06-25 12:37] amihaiemil opened #444 "Release 0.0.7"
Changelog:

#443
#446
#448

[2021-06-26 06:36] #443 closed

[2021-06-26 06:37] zoeself opened #446 "Repositories.java: Modify the front-end part of ..."
The puzzle ``-698748049`` originating from #443 has to be resolved:

https://github.com/self-xdsd/self-web/blob/03b5a8524f4723738ef1f194ccdf0ed21e788fd0/src/main/java/com/selfxdsd/selfweb/api/Repositories.java#L62-L63

"Modify the front-end part of personal repos. We should call this endpoint instead of Github directly.".

The puzzle was created by amihaiemil at ``2021-06-26 09:35:08 +0300``.
Esti

[2021-06-26 06:37] #319 closed

[2021-06-26 06:37] zoeself commented on #319
Puzzle disappeared from the code, that's why I closed this ticket.

[2021-06-26 06:46] zoeself commented on #443
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-06-26 06:46] zoeself commented on #446
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-07-06T06:46:32.785506``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-06-26 13:59] #446 closed

[2021-06-26 13:59] zoeself commented on #446
Puzzle disappeared from the code, that's why I closed this ticket.

[2021-06-26 13:59] #320 closed

[2021-06-26 13:59] zoeself commented on #320
Puzzle disappeared from the code, that's why I closed this ticket.

[2021-06-26 14:00] amihaiemil opened #448 "Add the ImagineObjects Badge"
Let's add the badge to the footer:https://imagineobjects.io/b/iobadge.svg

[2021-06-26 14:00] zoeself commented on #448
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-07-06T14:00:06.505795``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-06-26 14:00] zoeself commented on #448
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2021-06-26 14:14] #448 closed

[2021-06-26 14:16] zoeself commented on #446
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-06-26 14:16] zoeself commented on #448
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-06-26 14:24] amihaiemil commented on #444
@rultor release it, tag is `0.0.7`

[2021-06-26 14:25] rultor commented on #444
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/24665-869010820)

[2021-06-26 14:31] rultor commented on #444
@amihaiemil Done! FYI, the full log is [here](https://www.rultor.com/t/24665-869010820) (took me 6min)

[2021-06-26 14:32] #444 closed

[2021-07-09 08:39] amihaiemil opened #450 "Fix Footer Height"
Footer seems to be too high now due to the ImagineObjects badge

[2021-07-09 08:39] zoeself commented on #450
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-07-19T08:39:48.534741``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-07-09 08:39] zoeself commented on #450
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2021-07-09 08:40] amihaiemil opened #451 "Release 0.0.8"
#450

[2021-07-09 09:10] #450 closed

[2021-07-09 09:19] zoeself commented on #450
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-07-11 07:04] amihaiemil commented on #451
@rultor release it, tag is `0.0.8`

[2021-07-11 07:05] rultor commented on #451
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/24753-877752421)

[2021-07-11 07:09] rultor commented on #451
@amihaiemil Done! FYI, the full log is [here](https://www.rultor.com/t/24753-877752421) (took me 4min)

[2021-07-11 07:09] #451 closed

[2021-08-03 07:39] amihaiemil opened #452 "Release 0.0.9"
Update to self-core 89.

[2021-08-03 08:00] amihaiemil commented on #452
@rultor release it, tag is `0.0.9`

[2021-08-03 08:02] rultor commented on #452
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/24873-891626527)

[2021-08-03 08:05] #452 closed

[2021-08-03 08:06] rultor commented on #452
@amihaiemil Done! FYI, the full log is [here](https://www.rultor.com/t/24873-891626527) (took me 4min)

[2021-08-28 07:14] amihaiemil opened #453 "Update to core 92; storage 73"
For project renaming functionality

[2021-08-28 07:14] zoeself commented on #453
@amihaiemil thank you for reporting this. I'll assign someone to take care of it soon.

[2021-08-28 07:17] #453 closed

[2021-09-01 12:06] amihaiemil opened #455 "Release 0.0.10"
For renaming Github repos (add this event to the repo Webhook).

[2021-09-01 12:06] amihaiemil commented on #455
@rultor release it, tag is `0.0.10`

[2021-09-01 12:07] rultor commented on #455
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/24995-910220527)

[2021-09-01 12:11] rultor commented on #455
@amihaiemil Done! FYI, the full log is [here](https://www.rultor.com/t/24995-910220527) (took me 4min)

[2021-09-01 13:17] #455 closed

[2021-09-05 09:40] amihaiemil opened #456 "Explain Roles in New Contract Form"
The labels in the Role dropdown should explain what the role means in paranthesis

[2021-09-05 09:40] zoeself commented on #456
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-09-15T09:40:54.671756``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-09-05 09:40] zoeself commented on #456
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2021-09-10 00:00] zoeself commented on #456
@amihaiemil Don't forget to close this ticket before the deadline (2021-09-15T09:40:55). You are past the first half of the allowed period.

[2021-09-15 10:00] zoeself commented on #456
@amihaiemil Looks like you've missed the task deadline (2021-09-15T09:40:55). You are now resigned from this task.

Please stop working on it, you will not be paid. I will assign it to someone else soon.

[2021-10-03 09:41] amihaiemil opened #457 "Release 0.0.11"
* update to [self-core 94](https://github.com/self-xdsd/self-core/issues/1231)

[2021-10-03 09:44] amihaiemil commented on #457
@rultor release it, tag is `0.0.11`

[2021-10-03 09:46] rultor commented on #457
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/25130-932899215)

[2021-10-03 09:51] rultor commented on #457
@amihaiemil Done! FYI, the full log is [here](https://www.rultor.com/t/25130-932899215) (took me 4min)

[2021-10-03 13:11] #457 closed

[2021-10-23 07:59] amihaiemil opened #458 "Core 95; Storage 74"
Update dependencies for new functionalities and bugfixes.

[2021-10-23 08:06] #458 closed, assigned to nobody

[2021-10-23 08:06] amihaiemil opened #459 "Release 0.0.12"
#458

[2021-10-23 12:25] #459 closed, assigned to nobody

[2021-11-14 06:39] amihaiemil opened #460 "Release 0.0.13"
With latest core and storage, for the GlobalHttpClient.

#463
#464

[2022-03-11 16:24] amihaiemil opened #463 "Contracts page: pay button doesn't appear if value > 1000 EUR"
The pay icon on the contracts page does not appear if the value is greater than 1000 EUR. Let's fix it.

[2022-03-11 16:24] zoeself commented on #463
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2022-03-21T16:24:52.959754``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2022-03-11 16:24] zoeself commented on #463
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2022-03-11 16:26] amihaiemil opened #464 "Remove Telegram Group"
Let's remove it

[2022-03-11 16:26] zoeself commented on #464
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2022-03-21T16:26:41.291223``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2022-03-11 16:26] zoeself commented on #464
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2022-03-12 21:08] #464 closed

[2022-03-12 21:30] zoeself commented on #464
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2022-03-16 00:00] zoeself commented on #463
@amihaiemil Don't forget to close this ticket before the deadline (2022-03-21T16:24:53). You are past the first half of the allowed period.

[2022-03-21 16:30] zoeself commented on #463
@amihaiemil Looks like you've missed the task deadline (2022-03-21T16:24:53). You are now resigned from this task.

Please stop working on it, you will not be paid. I will assign it to someone else soon.

[2022-03-21 16:31] zoeself commented on #463
@amihaiemil I couldn't find any assignee for this task. This is either because there are no contributors with role ``DEV`` available or because the project does not have enough funds.

Please, make sure there is at least one available contributor with the required role and the project can afford to pay them.

[2022-04-18 10:24] #463 closed

[2022-04-18 10:25] amihaiemil commented on #460
@rultor release it, tag is `0.0.13`

[2022-04-18 10:26] rultor commented on #460
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/25753-1101294998)

[2022-04-18 10:31] rultor commented on #460
@amihaiemil Done! FYI, the full log is [here](https://www.rultor.com/t/25753-1101294998) (took me 4min)

[2022-08-29 16:25] #460 closed

[2022-08-29 16:26] amihaiemil opened #471 "Release 0.0.14"
with code 0.0.98 for new company address

[2022-09-09 14:01] amihaiemil commented on #471
@rultor release it, tag is 0.0.14

[2022-09-09 14:03] rultor commented on #471
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/26784-1242014610)

[2022-09-09 14:03] rultor commented on #471
@amihaiemil Oops, I failed. You can see the full log [here](https://www.rultor.com/t/26784-1242014610) (spent 19s)

[code]

[2022-09-09 14:05] amihaiemil commented on #471
@rultor release it, tag is `0.0.14`

[2022-09-09 14:06] rultor commented on #471
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/26784-1242018421)

[2022-09-09 14:10] rultor commented on #471
@amihaiemil Done! FYI, the full log is [here](https://www.rultor.com/t/26784-1242018421) (took me 4min)

[2022-10-27 13:42] amihaiemil opened #473 "Release 0.0.15"
With some new countries for Stripe: Brazil, Croatia, Gibraltar, Thailand, Liechtenstein, United Arab Emirates
PR: https://github.com/self-xdsd/self-web/pull/472