[2020-05-22 16:10] amihaiemil opened #1 "SpringBoot Maven Skeleton"
Let's implement a skeleton

[2020-05-22 16:10] amihaiemil opened #2 "Add Rultor, Travis and 0pdd"
Let's add them

[2020-05-23 09:31] #1 closed

[2020-05-23 09:42] amihaiemil opened #5 "Add Checkstyle"
Let's add it

[2020-05-23 09:42] amihaiemil opened #6 "Add Jacoco/Coveralls"
For test coverage calculation and display

[2020-05-23 09:57] amihaiemil opened #8 "Add IT profile"
Profile for running integration tests.

[2020-05-23 10:01] #5 closed

[2020-05-23 10:16] #8 closed

[2020-05-23 10:17] amihaiemil commented on #2
done

[2020-05-23 10:17] #2 closed

[2020-05-23 10:26] #6 closed

[2020-05-23 10:35] amihaiemil opened #11 "Index page"
Let's implement the landing page.

[2020-05-23 12:15] amihaiemil opened #13 "Implement Github Authentication"
Let's do it

[2020-05-23 12:27] #11 closed

[2020-05-23 12:48] amihaiemil opened #14 "CSS Styling"
We need CSS Styling for the HTML. First, we should come up with a good design, then implement it.

[2020-05-23 12:48] amihaiemil commented on #14
@criske Te pricepi cumva la CSS/front-end development/web design? :D

[2020-05-23 13:25] criske commented on #14
La design stau prost. :D
La capitolul web-front-end am mai avut de a face cu React, nivel incepator
cu Material Design, Hooks sau Redux.
Cel mai bine stau la mobile-dev pe android native. De fapt asta lucrez cel
mai mult :)

On Sat, May 23, 2020 at 3:48 PM Mihai <notifications@github.com> wrote:

[2020-05-23 13:35] amihaiemil commented on #14
@criske nah, nu trebuie React si alte prostii. Doar HTML, CSS si vanilla JavaScript sau JQuery... cel putin pentru inceput... Doar ca eu sunt absolut incompetent cand vine vorba de CSS.

[2020-05-23 13:41] criske commented on #14
Asa pot sa scriu css dupa un graphic designer cat de cat, dar sa fac de la
mine un design nah, ma bazez pe frameworkuri css

On Sat, May 23, 2020 at 4:35 PM Mihai <notifications@github.com> wrote:

[2020-05-23 13:50] amihaiemil commented on #14
@criske las, ca facem cumva. Momentan incep ca toata lumea cu Bootstrap :))

[2020-05-23 13:55] criske commented on #14
Arunca o privire si peste  https://tailwindcss.com/

On Sat, May 23, 2020 at 4:50 PM Mihai <notifications@github.com> wrote:

[2020-05-23 14:49] amihaiemil opened #16 "Badge and webpage for projects"
We should have a badge saying "Managed by Self [logo]", pointing the user the a web-page where some description about Self and how it manages said project is presented.

[2020-05-23 16:04] amihaiemil opened #17 "Implement Repos page"
This will be the landing page after the oauth login. It will mainly display the user's public repos from Github/Gitlab etc.

[2020-05-23 16:07] #13 closed

[2020-05-23 16:12] amihaiemil commented on #14
@criske plm, a innebunit lumea cu npm, webpack si mai stiu eu ce: https://tailwindcss.com/docs/installation/

All I want is a goddamn css file :))

[2020-05-23 17:14] criske commented on #14
:)) welcome to js world

On Sat, 23 May 2020, 19:12 Mihai, <notifications@github.com> wrote:

[2020-06-04 19:37] amihaiemil opened #20 "Design the footer"
Design the footer. It should contain things such as company address, terms and cod, privacy policy etc.

[2020-06-04 23:50] ANadrowski commented on #20
@amihaiemil I'd like to work on this issue this weekend, can you assign it to me?

[2020-06-05 07:23] amihaiemil commented on #20
@ANadrowski Sure, thanks!
You can see as example the footer of Travis CI: https://travis-ci.org/
I'd like something similar, with links arranged on columns.

Also, we're using Bootstrap CSS for the UI already so you probably won't have to write CSS. I think you can just use CSS classes from Bootstrap.

[2020-06-05 10:49] ANadrowski commented on #20
@amihaiemil ok :) thanks

[2020-06-05 21:13] ANadrowski commented on #20
@amihaiemil I just sent a PR #21. Please take a look. As always, feel free to refuse it.
Thanks.

[2020-06-06 11:27] amihaiemil commented on #20
paid with transaction id: 27B44610C6413305H

[2020-06-06 11:29] #20 closed

[2020-06-06 11:30] ANadrowski commented on #20
@amihaiemil thank you :)

[2020-07-03 07:15] Guseyn opened #22 "Choice of web framework"
Spring boot? what's wrong with Takes?

[2020-07-03 08:06] amihaiemil commented on #22
@Guseyn I have no idea how to use takes and I don't have the time to learn it. Plus, from what I saw, I think its design is too granular.  I'm also not sure how mature Takes actually is.

As long as we have self-core designed properly, I don't mind wrapping it in a few Spring Boot annotations :)

[2020-07-03 08:08] Guseyn commented on #22
@amihaiemil it’s sensible

[2020-07-03 08:08] #22 closed

[2020-07-08 14:54] amihaiemil commented on #16
waiting for https://github.com/self-xdsd/self-core/issues/268

[2020-07-22 16:18] amihaiemil opened #25 "Integrate self-core"
And the login functionality.

[2020-07-22 18:07] amihaiemil opened #27 "Projects REST Controller"
We should have a GET endpoint for a project's data.

[2020-07-22 18:11] #25 closed

[2020-07-22 18:11] 0pdd opened #28 "LoginProducer.java:38-40: Make sure to extract the..."
The puzzle `25-55626d2f` from #25 has to be resolved:

https://github.com/self-xdsd/self-web/blob/0085e22d3a222b9a2acb0906cd948b3677f3d2c0/src/main/java/com/selfxdsd/selfweb/LoginProducer.java#L38-L40

The puzzle was created by @amihaiemil on 22-Jul-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when

[2020-07-22 18:11] 0pdd commented on #28
@amihaiemil please pay attention to this new issue.

[2020-07-22 18:55] amihaiemil opened #29 "Settings config for accessing Github Packages"
For release, travis and rultor.

[2020-07-23 09:53] amihaiemil opened #30 "Setup H2 DB for integration testing"
Similarly to how it's done in self-core and self-pm

[2020-07-23 09:58] #27 closed

[2020-07-25 11:10] amihaiemil opened #33 "Fetch and display org repos"
Let's do it

[2020-07-26 20:06] amihaiemil opened #35 "Add Logging"
Let's add some logging using SLF4J api.

[2020-07-26 20:13] 0pdd opened #37 "Repositories.java:40-43: Design the front-end part,..."
The puzzle `33-a55c46c3` from #33 has to be resolved:

https://github.com/self-xdsd/self-web/blob/f1eda15453a93968f03049b94858ece70638ce2f/src/main/java/com/selfxdsd/selfweb/api/Repositories.java#L40-L43

The puzzle was created by @amihaiemil on 26-Jul-20.

Estimate: 60 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" wh

[2020-07-26 20:14] 0pdd commented on #37
@amihaiemil please pay attention to this new issue.

[2020-07-26 20:16] #33 closed

[2020-07-27 12:28] criske commented on #28
@amihaiemil I'll work on this and also implement the GitlabLogin plus the application.properties updated for gitlab.

I've played a bit with the app, but I couldn't figure out where to inject the `Login` bean (worked very little with Spring in the past). So I've changed a little bit the design just to check if the login works for my Github and Gitlab accounts.
[LoginProducer](https://gist.github.c

[2020-07-27 16:10] amihaiemil commented on #28
@criske wait a little, don't start.

I make some changes to how the Login is used -- we will inject the User already logged in, instead of the Login and the core separately. This way, login will happen only once per session.

[2020-07-27 16:18] amihaiemil commented on #28
@criske Ok, you can see now how LoginProducer gives us the authenticated User directly. See how it's used in Repositories class, for instance.

[2020-07-27 16:19] amihaiemil commented on #28
@criske Don't bother with the GitLab Oauth flow too much. Just the puzzle's description is enough :D

[2020-07-27 17:26] criske commented on #28
@amihaiemil looks much better now, so `Self` is now "lazly" logged-in.
And about GitLab Oauth flow, I did it for GitlabLogin, especially for the user `username` field from Principal, which is different than the Github one. I'll keep the Gitlab config around, just let me know when we needed it.

[2020-07-28 12:02] amihaiemil opened #41 "Implement GitLab login"
Oauth2 login via GitLab. We need a button on the UI etc. See how Github login is implemented.

[2020-07-28 12:05] #28 closed

[2020-07-28 12:05] 0pdd commented on #28
The puzzle `25-55626d2f` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2020-07-28 12:05] 0pdd opened #42 "LoginProducer.java:43-44: Write unit tests for..."
The puzzle `40-0cb240ae` from #40 has to be resolved:

https://github.com/self-xdsd/self-web/blob/55b4ca7c48c7fcbfaeb66336f1add61f30f49478/src/main/java/com/selfxdsd/selfweb/LoginProducer.java#L43-L44

The puzzle was created by cristianpela on 28-Jul-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when

[2020-07-28 12:05] 0pdd commented on #42
@amihaiemil please pay attention to this new issue.

[2020-07-28 12:05] amihaiemil commented on #28
Paid with transaction id 2C5721509J103993S

[2020-07-28 14:34] criske commented on #42
@amihaiemil sign me up.

[2020-07-28 16:18] amihaiemil commented on #42
@criske This is a good ticket for a beginner on the project, I would leave it for someone else :D

[2020-07-28 17:50] criske commented on #42
@amihaiemil While testing is easy to implement, the setup might be a little bit trickier. They will require to create their own `OAuth2AuthorizedClientService` and  `OAuth2AuthenticationToken` (this is one will be injected instead of using the sec context).
That will require other parts to used like `ClientRegistration`, `OAuth2AccessToken`, `OAuth2User`.

[2020-07-29 09:58] amihaiemil commented on #41
paid with transaction id 7E506736DS7835711

[2020-07-29 10:27] criske opened #44 "Users.java:40 Update the getPublicRepos.js function."
Update the getPublicRepos.js function to fetch the github/gitlab repos according to the "provider" attribute returned  the from "/api/users/self" endpoint.

https://github.com/self-xdsd/self-web/blob/a671a3fcc811dde8fccb61472f872e69492bb712/src/main/java/com/selfxdsd/selfweb/api/Users.java#L40

@amihaiemil I've added a ":" after todo and broke the puzzle, sorry about that.
https://github.com/self-

[2020-07-29 10:36] #41 closed

[2020-08-10 13:08] amihaiemil opened #45 "Login based on role"
Login.role() and User.role() have been introduced. Adapt the login mechanism so the correct role is set in the User.
First step: update self-core to 0.0.14 and self-storage to 0.0.5.

Waiting for self-xdsd/self-storage#93

[2020-08-10 14:13] #45 closed

[2020-08-10 14:16] 0pdd opened #47 "LoginProducer.java:45-47: At the moment only the..."
The puzzle `45-edb1347b` from #45 has to be resolved:

https://github.com/self-xdsd/self-web/blob/394a09695fb1881c770ad3f0f2dced0e1112cb61/src/main/java/com/selfxdsd/selfweb/LoginProducer.java#L45-L47

The puzzle was created by @amihaiemil on 10-Aug-20.

Estimate: 60 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when

[2020-08-10 14:16] 0pdd commented on #47
@amihaiemil please pay attention to this new issue.

[2020-08-10 14:16] 0pdd opened #48 "Users.java:40-42: Update the getPublicRepos.js function..."
The puzzle `43-2688a758` from #43 has to be resolved:

https://github.com/self-xdsd/self-web/blob/394a09695fb1881c770ad3f0f2dced0e1112cb61/src/main/java/com/selfxdsd/selfweb/api/Users.java#L40-L42

The puzzle was created by @amihaiemil on 10-Aug-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the

[2020-08-10 14:16] 0pdd commented on #48
@amihaiemil please pay attention to this new issue.

[2020-08-10 14:17] amihaiemil commented on #44
will be done in #48

[2020-08-10 14:17] #44 closed

[2020-08-14 09:47] #48 closed

[2020-08-15 09:28] amihaiemil opened #50 "Remove Yasson, go back to Jackson"
There seems to be a bug in the SpringBoot/Yasson integration:

[code]

Let's go back to Jackson and see if we still have problems...

[2020-08-15 09:56] amihaiemil opened #52 "Add release.sh script."
Let's add it...

[2020-08-15 10:00] #50 closed

[2020-08-15 10:35] amihaiemil opened #54 "Update self-core 0.0.16"
Adapt the "New Project Manager" form to accept the PM's commission.
We also need to update the storage module to version `0.0.6`

[2020-08-15 10:52] #52 closed

[2020-08-15 15:52] #54 closed

[2020-08-21 14:20] amihaiemil opened #56 "Project page"
Let's implement it.

[2020-08-23 15:19] #56 closed, assigned to amihaiemil

[2020-08-23 15:23] 0pdd opened #58 "ProjectsApi.java:44-48: A project can be owned by a..."
The puzzle `56-0fd0090b` from #56 has to be resolved:

https://github.com/self-xdsd/self-web/blob/88aaa10239e553e82c9c7a89346233763fbb21ba/src/main/java/com/selfxdsd/selfweb/api/ProjectsApi.java#L44-L48

The puzzle was created by @amihaiemil on 23-Aug-20.

Estimate: 60 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" whe

[2020-08-23 15:23] 0pdd opened #59 "ProjectsApi.java:49-51: Implement and test the Contracts..."
The puzzle `56-61e8dc73` from #56 has to be resolved:

https://github.com/self-xdsd/self-web/blob/88aaa10239e553e82c9c7a89346233763fbb21ba/src/main/java/com/selfxdsd/selfweb/api/ProjectsApi.java#L49-L51

The puzzle was created by @amihaiemil on 23-Aug-20.

Estimate: 60 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" whe

[2020-08-24 16:23] #58 closed

[2020-08-24 16:23] 0pdd commented on #58
The puzzle `56-0fd0090b` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2020-08-24 16:24] 0pdd opened #61 "ProjectsApi.java:44-46: Unify the projects endpoint to..."
The puzzle `58-d7319092` from #58 has to be resolved:

https://github.com/self-xdsd/self-web/blob/9a284d3506be871de0c887f9187c276f5606ccc4/src/main/java/com/selfxdsd/selfweb/api/ProjectsApi.java#L44-L46

The puzzle was created by @amihaiemil on 24-Aug-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" whe

[2020-08-24 16:24] 0pdd commented on #61
@amihaiemil please pay attention to this new issue.

[2020-08-24 18:19] criske opened #62 "GetOrgRepos.js:15 - Will error with 'undefined' if there are no orgs."
I'm getting `Uncaught TypeError: Cannot read property 'sort' of undefined`

Solution:
- `api/repositories/orgs` returns an empty array (now is no content).
- or just update `GetOrgRepos.js:15` with:`(repos || []).sort(....)`

[2020-08-24 18:46] #62 closed

[2020-08-24 19:02] amihaiemil commented on #62
@criske solution for missing data in REST is usually 204 NO CONTENT, so yes, I think this should be handled client-side :D

[2020-08-25 06:42] criske opened #64 "ProjectsApi.java:90 Endoint "project" and explicit github provider."
https://github.com/self-xdsd/self-web/blob/8da9b1ab0d571a92d07f95817668787416cdcb13/src/main/java/com/selfxdsd/selfweb/api/ProjectsApi.java#L90
I think we can make this endpoint generic. We can get the provider from `user`.
Also I think we can use `fullName` for path variable istead of `owner + name`. Js looks like it's already use it:
https://github.com/self-xdsd/self-web/blob/8da9b1ab0d571a92d07

[2020-08-25 06:47] criske commented on #59
@amihaiemil I'll work on list project contracts REST endpoint.

[2020-08-25 06:51] amihaiemil commented on #64
@criske The endpoint will be made generic ("unified") in #61 -- it will work for all providers.

As for the path variables, I think it's better to leave them separated, so we don't have to use ``substring`` in the logic :D

[2020-08-25 06:56] criske commented on #64
@amihaiemil  Oh, didn't notice there is an issue already opened. You can assign me for that too, if you want :D

[2020-08-25 06:57] #64 closed

[2020-08-25 13:03] amihaiemil commented on #61
paid with transaction id 1G894001BP682134E

[2020-08-25 13:06] #61 closed

[2020-08-25 13:06] 0pdd commented on #61
The puzzle `58-d7319092` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2020-08-25 15:48] amihaiemil commented on #59
paid with transaction id 3EY27313V4152045W

[2020-08-25 15:53] #59 closed

[2020-08-25 15:53] 0pdd commented on #59
The puzzle `56-61e8dc73` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2020-08-25 15:53] 0pdd opened #67 "ProjectsApi.java:45-47: Implement and test the Contracts..."
The puzzle `69-36cf5403` from #69 has to be resolved:

https://github.com/self-xdsd/self-web/blob/31c85f277f7e98fc15f8d8fac82f6d78d8b1fd4d/src/main/java/com/selfxdsd/selfweb/api/ProjectsApi.java#L45-L47

The puzzle was created by cristianpela on 25-Aug-20.

Estimate: 60 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" wh

[2020-08-25 15:53] 0pdd commented on #67
@amihaiemil please pay attention to this new issue.

[2020-08-25 15:54] criske commented on #67
@amihaiemil I'll continue to work on this

[2020-08-28 14:52] amihaiemil commented on #67
paid with transaction id 51E094017C4050835

[2020-08-28 14:55] 0pdd commented on #67
The puzzle `69-36cf5403` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2020-08-28 14:55] #67 closed

[2020-08-28 14:55] 0pdd opened #69 "ProjectsApi.java:49-51: Implement and test the Contracts..."
The puzzle `70-0420f9d9` from #70 has to be resolved:

https://github.com/self-xdsd/self-web/blob/a8960c010d405c35703a559170415c0b3d4b74e2/src/main/java/com/selfxdsd/selfweb/api/ProjectsApi.java#L49-L51

The puzzle was created by cristianpela on 28-Aug-20.

Estimate: 60 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" wh

[2020-08-28 14:55] 0pdd commented on #69
@amihaiemil please pay attention to this new issue.

[2020-08-28 15:54] criske commented on #69
@amihaiemil I'll continue on this.
I'll focus mostly on js. The html will be very basic just to work with jquery (a table to list contracts, a form to add contract, and some loading visual).

[2020-08-28 16:22] amihaiemil commented on #69
@criske ok, but please know that this month's budget for bounties is out. Maybe it's better if you wait a few days :D

[2020-08-28 16:28] criske commented on #69
@amihaiemil I'll do it without bounty :D

[2020-08-29 13:50] amihaiemil opened #70 "Update core and storage"
Let's update them: core 0.0.20 and storage 0.0.7

[2020-08-30 11:45] criske commented on #69
![screencapture-localhost-63342-self-web-templates-contracts-spy-html-2020-08-30-14_37_20](https://user-images.githubusercontent.com/10284893/91658028-95772f00-eace-11ea-81b4-d77ea52cc8e4.png)
@amihaiemil Tested in isolation locally with a mocked service against fetching/adding/validation/catching errors/.
Has to wait for a self-core version with this fix for https://github.com/self-xdsd/self-core

[2020-08-31 12:50] #70 closed

[2020-08-31 12:51] amihaiemil commented on #69
@criske #70 has just been fixed :D

[2020-08-31 13:20] criske commented on #69
@amihaiemil nice, just need to test it before merge :D

[2020-09-01 11:48] #69 closed

[2020-09-01 11:48] 0pdd commented on #69
The puzzle `70-0420f9d9` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2020-09-04 07:45] amihaiemil opened #73 "Display Wallet piechart on Project Overview tab"
Let's display it.

[2020-09-04 13:46] #73 closed

[2020-09-04 13:55] 0pdd opened #75 "ProjectsApi.java:49-51: Let's move the /contracts methods..."
The puzzle `73-21b27e48` from #73 has to be resolved:

https://github.com/self-xdsd/self-web/blob/583554857ed0d910be62d5158b19a4d16ac39e1e/src/main/java/com/selfxdsd/selfweb/api/ProjectsApi.java#L49-L51

The puzzle was created by @amihaiemil on 04-Sep-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" whe

[2020-09-04 13:55] 0pdd commented on #75
@amihaiemil please pay attention to this new issue.

[2020-09-04 15:50] criske opened #76 "Handling "org.jooq.exception.DataAccessException"."
Right now it's leaking database internals. I think we should have an `@ExceptionHandler` in `BaseApiController` that will forward  with something generic like "_Something went wrong"_.
Here is what is showing in browser when introducing the same project contract twice:
![dataacess_exception_leak](https://user-images.githubusercontent.com/10284893/92257797-7ae1f300-eede-11ea-9cfd-bd9916f1cf7f.png)

[2020-09-04 18:01] amihaiemil commented on #76
@criske well, first of all we should have some validations, to not insert anything twice (we should not let it go until the persistence layer to fail).

Then, yes, we should definitely have appropriate ExceptionHandlers. :D

[2020-09-04 18:03] amihaiemil commented on #76
By the way, Github is saying that self-web is more JS than Java now. This is nice, it's as intended.

[2020-09-05 06:14] criske commented on #76
@amihaiemil Actually the insertion at storage layer is handling this pretty well. There is small bug there that won't trigger our ISE: the insert should have `.onDuplicateKeyIgnore()` attached. (I'll open an issue there)

That's nice, the language itself not so nice. :D

[2020-09-05 07:00] criske opened #77 "ContractInput 'hourlyRate' field should have @NotBlank contraint too."
https://github.com/self-xdsd/self-web/blob/583554857ed0d910be62d5158b19a4d16ac39e1e/src/main/java/com/selfxdsd/selfweb/api/input/ContractInput.java#L49

Otherwise validation message will be the NumberFormatException
![screencapture-localhost-8080-github-criske-app-portfolio-2020-09-05-09_53_33](https://user-images.githubusercontent.com/10284893/92299800-57f72380-ef5e-11ea-9a9b-badd16552c07.png)

I

[2020-09-05 08:35] amihaiemil commented on #77
@criske Yes, but there should also be validation on the front-end? Is that missing?

[2020-09-05 08:37] amihaiemil commented on #76
paid with transaction id 0H820053D6552620R

[2020-09-05 08:47] criske commented on #77
@amihaiemil The form serialization could sneak an empty string instead of "0.0" when houryRate is empty. Otherwise the proper validation is done on backend.

[2020-09-05 08:52] amihaiemil commented on #77
@criske Doesn't matter, we should always have front-end validation as well :D
I'll open another issue.

[2020-09-05 08:53] amihaiemil opened #80 "AddContract form should have front-end validation as well."
On the Project page -> Contracts tab. The add-contract form needs front-end validation too.

[2020-09-05 08:55] criske commented on #77
@amihaiemil Ok ,if that's the case, then I think you could reject this PR. I'll take care of frontend validation.

[2020-09-05 08:56] amihaiemil commented on #77
@criske that's already merged, let's just move to the new ticket

[2020-09-05 08:56] #77 closed

[2020-09-05 08:57] amihaiemil commented on #80
@criske btw, you can look how I've done it in the Add-PM formular. You won't be able to see that page when you run the app, but look into its code. I used the ``required`` class :D

[2020-09-05 08:58] #76 closed

[2020-09-05 09:06] criske commented on #80
@amihaiemil since we're doing full validation on front-end, wouldn't be better to use https://jqueryvalidation.org/ plugin?

[2020-09-05 09:10] amihaiemil commented on #80
@criske you can try it, yes. I remember I tried using it but it was a bit frustrating so I just did it myself.

[2020-09-05 14:35] amihaiemil opened #82 "Redirect to Homepage on Unauthorized"
At the moment we show a blank page if the user is not authorized. We should redirect them to the homepage instead.

[2020-09-05 15:41] amihaiemil commented on #80
paid with transaction id 1VL98299EC597612F

[2020-09-05 15:41] #82 closed

[2020-09-05 15:55] #80 closed

[2020-09-05 16:04] criske commented on #75
@amihaiemil I work on this, no bounty needed. it's just a refactor :)

[2020-09-05 18:23] amihaiemil opened #85 "Project Badge Page"
Just a public page saying "project X is managed by Self", which will be accessible via a badge.

[2020-09-05 18:24] #75 closed

[2020-09-05 18:24] 0pdd commented on #75
The puzzle `73-21b27e48` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2020-09-05 18:24] 0pdd opened #86 "ContractsApi.java:47-48: Start implementing..."
The puzzle `84-8b067e21` from #84 has to be resolved:

https://github.com/self-xdsd/self-web/blob/6df6adbde4669cad7dc0749b75ae56f829664a73/src/main/java/com/selfxdsd/selfweb/api/ContractsApi.java#L47-L48

The puzzle was created by cristianpela on 05-Sep-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" w

[2020-09-05 18:24] 0pdd commented on #86
@amihaiemil please pay attention to this new issue.

[2020-09-06 07:04] criske commented on #86
@amihaiemil I'll work on this.

[2020-09-06 09:06] criske commented on #86
I'll wait until `Self` has access to `contributors()`.

[2020-09-07 06:42] amihaiemil commented on #86
waiting for https://github.com/self-xdsd/self-core/issues/521

[2020-09-11 11:46] amihaiemil opened #87 "Update self-core 0.0.22 and self-storage 0.0.9"
Let's do it.

[2020-09-11 11:53] #87 closed

[2020-09-11 12:12] amihaiemil opened #89 "Contributor Dashboard page"
We should have a page where a User which is a Contributor can see their contracts, tasks, payout methods etc.

[2020-09-11 14:09] #89 closed

[2020-09-11 14:09] 0pdd opened #91 "ContributorApi.java:39-43: Implement the Contributor..."
The puzzle `89-c20954fc` from #89 has to be resolved:

https://github.com/self-xdsd/self-web/blob/2c37810ad017a7ba277bbede84d74a238b518eaf/src/main/java/com/selfxdsd/selfweb/api/ContributorApi.java#L39-L43

The puzzle was created by @amihaiemil on 11-Sep-20.

Estimate: 60 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\"

[2020-09-11 14:09] 0pdd commented on #91
@amihaiemil please pay attention to this new issue.

[2020-09-11 14:10] 0pdd opened #92 "JsonContract.java:15-20: Remove the project attribute..."
The puzzle `89-ce51b155` from #89 has to be resolved:

https://github.com/self-xdsd/self-web/blob/2c37810ad017a7ba277bbede84d74a238b518eaf/src/main/java/com/selfxdsd/selfweb/api/output/JsonContract.java#L15-L20

The puzzle was created by @amihaiemil on 11-Sep-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"do

[2020-09-11 14:10] 0pdd commented on #92
@amihaiemil please pay attention to this new issue.

[2020-09-11 14:11] amihaiemil commented on #92
@criske Can you pls take care of this? It's really easy, just remove the line

``.add("project", new JsonProject(contract.project()))`` and also remove any jquery/front-end stuff which does something with the project attribute from the response.

[2020-09-11 16:05] criske commented on #92
@amihaiemil sure

[2020-09-13 15:48] amihaiemil opened #95 "Endpoint to retreive a Contributor's Tasks from a Contract."
It should be something like:

[code]

[2020-09-14 05:31] #95 closed

[2020-09-15 12:52] #92 closed

[2020-09-15 12:52] 0pdd commented on #92
The puzzle `89-ce51b155` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2020-09-15 12:52] amihaiemil commented on #92
@criske thanks for fixing it! Paid with transaction id 8EC668309U587850A

[2020-09-19 13:27] 0pdd opened #100 "PayoutMethodsApi.java:238-240: The Stripe refreshUrl and..."
The puzzle `91-67621134` from #91 has to be resolved:

https://github.com/self-xdsd/self-web/blob/09e62f5da2b6425e24fcf467d022ee4579b4fab2/src/main/java/com/selfxdsd/selfweb/api/PayoutMethodsApi.java#L238-L240

The puzzle was created by @amihaiemil on 18-Sep-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"don

[2020-09-19 13:27] 0pdd commented on #100
@amihaiemil please pay attention to this new issue.

[2020-09-21 08:16] criske commented on #100
@amihaiemil I'll work on this

[2020-09-21 08:25] criske commented on #100
@amihaiemil
Btw no bounty needed, it looks like is a small fix

[2020-09-23 08:36] amihaiemil opened #102 "Misplaced Arrow in Avatar Drop-Down"
On the upper right-hand side of the page, when you click on the user's avatar, a drop-down appears which contains an unwanted arrow.

This arrow should be removed.

<img width="231" alt="Screenshot 2020-09-23 at 11 34 13" src="https://user-images.githubusercontent.com/6305156/93988017-ec4feb80-fd90-11ea-809b-1cf16d7d1fbc.png">

[2020-09-24 14:11] criske commented on #102
@amihaiemil I'll work on this

[2020-09-25 07:49] amihaiemil commented on #100
paid with transaction id 5Y312178YN6690821

[2020-09-25 07:50] amihaiemil commented on #102
paid with transaction id 40B89910FL8721424

[2020-09-25 07:50] #102 closed

[2020-09-25 07:50] amihaiemil commented on #102
@criske thanks!

[2020-09-25 08:08] 0pdd commented on #100
The puzzle `91-67621134` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2020-09-25 08:08] #100 closed

[2020-09-25 08:09] 0pdd opened #104 "getAndAddContracts.js:14-16: Provide autocomplete feature..."
The puzzle `103-573d7d5f` from #103 has to be resolved:

https://github.com/self-xdsd/self-web/blob/81d9eeaaaa9b1849a87811d8cff515478bac21c9/src/main/resources/public/js/getAndAddContracts.js#L14-L16

The puzzle was created by cristianpela on 21-Sep-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when

[2020-09-25 08:09] 0pdd commented on #104
@amihaiemil please pay attention to this new issue.

[2020-09-25 08:56] amihaiemil opened #105 "Rename DB env Variables"
Seems like we cannot set env variables which have dots in their names. Let's rename them to
``self_db_user``, ``self_db_password`` and ``self_db_url``.

We should also rename the stripe token variable.

[2020-09-25 13:53] #105 closed

[2020-09-25 13:55] amihaiemil commented on #105
@criske FYI

[2020-09-25 14:12] criske commented on #105
@amihaiemil any idea why this happens? On local works

[2020-09-25 14:26] amihaiemil commented on #105
@criske I'm working to set up a test environment (we are almost done with self-pm so we can out it to work).

Apparently, you can't have dots in the env variable names on linux :)

[2020-09-25 17:48] criske commented on #104
@amihaiemil I'll work on this

[2020-09-25 18:03] amihaiemil commented on #104
@criske I suggest you make the first API call only after the first 3 characters and then once gor each second char.

Also, maybe the username will start with ``@``, which should of course be ignored : D

Dont forget bout PDD, you dont have to fix it all in 1h.

[2020-09-25 18:18] criske commented on #104
@amihaiemil also adding a debounce time, maybe about 500ms, to avoid input spamming.

[2020-09-26 16:55] #85 closed

[2020-09-26 16:57] 0pdd opened #109 "project.html:8-10: Implement a "Swag" card on the Project..."
The puzzle `85-5f3aab94` from #85 has to be resolved:

https://github.com/self-xdsd/self-web/blob/760f88a439c9c05a912a5cf24e00ed9ebe1a6a05/src/main/resources/templates/project.html#L8-L10

The puzzle was created by @amihaiemil on 26-Sep-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem i

[2020-09-26 16:57] 0pdd commented on #109
@amihaiemil please pay attention to this new issue.

[2020-09-26 19:05] #109 closed

[2020-09-26 19:05] 0pdd commented on #109
The puzzle `85-5f3aab94` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2020-09-29 09:02] amihaiemil opened #112 "Make Footer Stay Down"
At the moment the footer is going up if there are not enough elements on the page. It should always stay down.

You can use Bootstrap CSS or, if you need to add your own CSS, you can add it inside ``main.css`` (src/main/resources/public/css/main.css)

Examples of Sticky Footer from Boostrap can be found here: https://getbootstrap.com/docs/4.0/examples/

![footer](https://user-images.githubusercont

[2020-09-29 09:03] amihaiemil commented on #112
@Lumi3011 Pls take care of this when you have some time. If any problems, don't hesitate to write me :D

[2020-09-29 18:15] amihaiemil commented on #104
Paid with transaction id 00N02142EM643632V

[2020-09-29 18:18] #104 closed

[2020-09-29 18:18] 0pdd commented on #104
The puzzle `103-573d7d5f` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2020-09-29 18:30] amihaiemil opened #113 "Display banner when in Test"
When in Test environment, we should display a red banner stating this, on all the pages.

[2020-09-30 13:13] #113 closed

[2020-10-01 14:47] amihaiemil opened #115 "Update to self-storage 0.0.10"
To fix NPE at login, if the User has no email address (self-xdsd/self-storage#148)

[2020-10-04 05:40] amihaiemil opened #117 "Styling Project Contracts Tab"
Let's add some styling similar to the contributor contracts tab

[2020-10-04 06:50] #117 closed

[2020-10-04 06:52] amihaiemil opened #119 "Remove JQuery Validator"
At the moment the Add Contract Form (project contracts tab) uses this jquery plugin, which is a pain in the ass.

Let's remove it and validate the form ourselves, it's not that hard (only 3 fields). It should be very similar to how the "Add PM" form is validated.

[2020-10-04 08:38] amihaiemil opened #121 "Project Contracts Tab: Download Active Invoice"
We should allow the project owner to download the active invoice of any contract of the project.

[2020-10-04 08:39] amihaiemil opened #122 "Project Contracts Tab: Show Tasks"
The PO should be able to see the tasks assigned to a contract.

[2020-10-04 08:55] #119 closed

[2020-10-04 09:00] amihaiemil opened #123 "Wallets Tab on Project Page"
We should display this tab, where there will be a table with the project's wallet and the form for creating a Stripe wallet (if the project doesn't have a Stripe wallet yet).

[2020-10-04 13:52] #122 closed

[2020-10-04 17:57] #121 closed

[2020-10-05 12:34] #112 closed

[2020-10-05 12:35] amihaiemil commented on #112
paid with transaction id 57522018V03710740

[2020-10-05 13:46] amihaiemil opened #127 "Org Repos Tab: Make the repo names Links"
Similarly to how it's done in [getPublicRepos.js](https://github.com/self-xdsd/self-web/blob/master/src/main/resources/public/js/getPublicRepos.js#L23), we should make the org repos display as links as well.

In method [getRepoAsTableRow](https://github.com/self-xdsd/self-web/blob/master/src/main/resources/public/js/getOrgRepos.js#L40) we should wrap the name inside ``<a>`` tags, with a ``href`` p

[2020-10-05 14:10] Lumi3011 commented on #127
If I understand well, the method should look like this?

![image](https://user-images.githubusercontent.com/32979820/95090216-b0703b00-072d-11eb-81f7-8e709f7d857b.png)

[2020-10-05 14:15] amihaiemil commented on #127
@Lumi3011 yep :D

[2020-10-05 14:15] Lumi3011 commented on #127
@amihaiemil ok then, it's done, i'll make a push with the changes.

[2020-10-05 14:46] amihaiemil commented on #127
paid with transaction id 7LY03234N8855251U

[2020-10-05 14:49] #127 closed

[2020-10-05 15:22] amihaiemil opened #129 "Sticky Footer Hides Content"
Seems like the footer hides the content at the bottom of the page.

![Screenshot_2020-10-05 Self XDSD](https://user-images.githubusercontent.com/6305156/95098646-9fc4c280-0737-11eb-83dd-b4cbfa137447.png)

This seems to happen on all the pages.

The problem might be related to the main content element (which is usually ``<article>``), maybe it does not have the required CSS classes :D

Some SO Ques

[2020-10-05 15:23] amihaiemil commented on #129
@Lumi3011 Can you have a look when you have some time? :D

I remember I also had this issue when I tried to make the sticky footer.

[2020-10-05 15:27] amihaiemil commented on #129
@Lumi3011 It also happens on the home page:

![Screenshot_2020-10-05 Self XDSD(1)](https://user-images.githubusercontent.com/6305156/95099173-3f825080-0738-11eb-88ae-ab3d74851862.png)

I'm not sure, but I think it's the relation between the main content element and the footer. The footer should be at the end of the content, not over it -- if the content is longer than the current screen, the foote

[2020-10-05 15:32] Lumi3011 commented on #129
Sure, I will look into it, I only checked on my user page, where it was a liitle content and i didn't saw that.

[2020-10-05 15:34] amihaiemil commented on #129
@Lumi3011 no problem :D

[2020-10-06 10:27] Lumi3011 commented on #129
@amihaiemil Done. I set the footer position absolute, to be down on every page, then I added some padding to the body, the same as the footer size, so it will be displayed properly.

[2020-10-06 13:42] amihaiemil commented on #129
paid with transaction id 1PJ20271J9508625Y

[2020-10-06 13:42] amihaiemil commented on #129
@Lumi3011 Thanks!

[2020-10-06 13:44] Lumi3011 commented on #129
@amihaiemil thank you too!

[2020-10-06 13:46] #129 closed

[2020-10-07 09:35] amihaiemil opened #132 "Home Page Responsiveness Bug"
Currently the text sections (What is Self, Register your repository etc) are not displaying well on mobile.

![Screenshot_2020-10-07 Self XDSD](https://user-images.githubusercontent.com/6305156/95314066-83409b80-0899-11eb-8030-4428403212a9.png)

On mobile, they should be one after the other and the images should not be displayed.

[2020-10-07 09:36] amihaiemil commented on #132
@Lumi3011 Can you please have a look here when you have some time? :D

[2020-10-07 09:38] amihaiemil commented on #132
@Lumi3011 The page was made after this example: https://getbootstrap.com/docs/4.0/examples/product/
There's most likely a problem with the Bootstrap classes being used on the elements :D

[2020-10-07 09:51] Lumi3011 commented on #132
@amihaiemil None of the images should be seen on mobile? Neither the first image on the page?

[2020-10-07 09:53] amihaiemil commented on #132
@Lumi3011 The first one should stay. The ones from left and right of the paragraphs (what it is, register your repo...) should not be visible :D

[2020-10-07 11:51] Lumi3011 commented on #132
@amihaiemil I have solved it. I had to add some classes in the html file to add style based on them. The responsiveness problem occurs because of a bootstrap class "w-50". I tried to delete it at first, but then I've got some bugs on desktop, so the preferred solution was to create a media query for mobile.

[2020-10-07 12:43] amihaiemil commented on #132
paid with transaction id 04234441TN3636458

[2020-10-07 12:43] Lumi3011 commented on #132
Thank you!

[2020-10-07 12:46] #132 closed

[2020-10-08 12:59] #123 closed

[2020-10-08 12:59] 0pdd opened #135 "ProjectsApi.java:45-48: As soon as we have this logic..."
The puzzle `123-cb1a3cb5` from #123 has to be resolved:

https://github.com/self-xdsd/self-web/blob/cf76cc5e617570ed07d8361f3d91a7bf87b78c00/src/main/java/com/selfxdsd/selfweb/api/ProjectsApi.java#L45-L48

The puzzle was created by @amihaiemil on 07-Oct-20.

Estimate: 40 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" w

[2020-10-08 13:00] 0pdd commented on #135
@amihaiemil please pay attention to this new issue.

[2020-10-11 12:39] amihaiemil commented on #135
we need self-core 0.0.27 and self-storage 0.0.12 for this

[2020-10-11 14:42] #135 closed

[2020-10-11 14:42] 0pdd commented on #135
The puzzle `123-cb1a3cb5` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2020-10-11 14:42] 0pdd opened #137 "WalletsApi.java:46-47: Add an endpoint and front-end code..."
The puzzle `135-6e71764e` from #135 has to be resolved:

https://github.com/self-xdsd/self-web/blob/07f9e50782905536fc3b2c8bbead1f40756ac974/src/main/java/com/selfxdsd/selfweb/api/WalletsApi.java#L46-L47

The puzzle was created by @amihaiemil on 11-Oct-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" wh

[2020-10-11 14:42] 0pdd commented on #137
@amihaiemil please pay attention to this new issue.

[2020-10-11 14:42] 0pdd opened #138 "WalletsApi.java:48-50: Once the PaymentMethod logic is..."
The puzzle `135-163bde02` from #135 has to be resolved:

https://github.com/self-xdsd/self-web/blob/07f9e50782905536fc3b2c8bbead1f40756ac974/src/main/java/com/selfxdsd/selfweb/api/WalletsApi.java#L48-L50

The puzzle was created by @amihaiemil on 11-Oct-20.

Estimate: 60 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" wh

[2020-10-11 14:42] 0pdd commented on #138
@amihaiemil please pay attention to this new issue.

[2020-10-11 14:42] 0pdd opened #139 "WalletsApi.java:51-53: Once the Wallet.updateCash(...)..."
The puzzle `135-26d24fff` from #135 has to be resolved:

https://github.com/self-xdsd/self-web/blob/07f9e50782905536fc3b2c8bbead1f40756ac974/src/main/java/com/selfxdsd/selfweb/api/WalletsApi.java#L51-L53

The puzzle was created by @amihaiemil on 11-Oct-20.

Estimate: 60 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" wh

[2020-10-11 14:42] 0pdd commented on #139
@amihaiemil please pay attention to this new issue.

[2020-10-12 15:28] amihaiemil opened #141 "Continue Unit Test class JsonTask"
We should continue testing it.

[2020-10-17 12:41] amihaiemil opened #142 "Update Contract Form"
A project owner should be able to update the hourly rate of a Contract.

[2020-10-17 15:28] #142 closed

[2020-10-17 15:28] 0pdd opened #144 "ContractsApi.java:49-50: As soon as we have this logic..."
The puzzle `142-5e8cb6d3` from #142 has to be resolved:

https://github.com/self-xdsd/self-web/blob/dc328a9ac4896839e2cc5e927a71354bf8a3f22b/src/main/java/com/selfxdsd/selfweb/api/ContractsApi.java#L49-L50

The puzzle was created by @amihaiemil on 17-Oct-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\"

[2020-10-17 15:28] 0pdd commented on #144
@amihaiemil please pay attention to this new issue.

[2020-10-20 15:29] #141 closed

[2020-10-20 15:31] amihaiemil commented on #141
paid with transaction id 355050301H928904B

[2020-10-20 15:33] amihaiemil opened #146 "Add "Plans" Section on Homepage"
On the homepage, we should add one more Section with the "Plans". There should be 2 cards (text for now is irrelevant, it can be lorem ipsum).

Example of pricing/plan cards here: https://getbootstrap.com/docs/4.0/examples/pricing/

[2020-10-20 15:34] amihaiemil commented on #146
@Lumi3011 can you please take care of this when you have some time? :D

Just a section with 2 cards is enough for now -- on mobile, they should come one after another, but I think this is already the default behaviour of those bootstrap classes.

[2020-10-21 07:46] Lumi3011 commented on #146
@amihaiemil Sure, I'll try to take care of that today :D

[2020-10-21 09:03] Lumi3011 commented on #146
![image](https://user-images.githubusercontent.com/32979820/96698153-7772d000-1395-11eb-9d14-53c1760f5bdd.png)

[2020-10-21 09:04] Lumi3011 commented on #146
@amihaiemil It looks ok like this?

[2020-10-22 05:59] amihaiemil commented on #146
@Lumi3011 yes, perfect. Please make a PR. :)

[2020-10-22 07:51] Lumi3011 commented on #146
@amihaiemil Done :D

[2020-10-22 07:59] amihaiemil commented on #146
paid with transaction id 4A110282V3893671E

[2020-10-22 07:59] amihaiemil commented on #146
@Lumi3011 thanks!

[2020-10-22 07:59] #146 closed

[2020-10-22 17:42] 0pdd opened #149 "ContractsApi.java:53-56: As soon as we have this logic..."
The puzzle `142-78fcf4aa` from #142 has to be resolved:

https://github.com/self-xdsd/self-web/blob/11f8cac7bfd1b516f8a515441f6f313e50082c9c/src/main/java/com/selfxdsd/selfweb/api/ContractsApi.java#L53-L56

The puzzle was created by @amihaiemil on 22-Oct-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\"

[2020-10-22 17:42] 0pdd commented on #149
@amihaiemil please pay attention to this new issue.

[2020-10-26 08:50] 0pdd opened #151 "ContributorApi.java:49-51: As soon as we have this logic..."
The puzzle `142-1525c079` from #142 has to be resolved:

https://github.com/self-xdsd/self-web/blob/9b826bb7664e2a5cf5a79508ac4ca8ff2d3f08f3/src/main/java/com/selfxdsd/selfweb/api/ContributorApi.java#L49-L51

The puzzle was created by amihaiemil on 23-Oct-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\"

[2020-10-26 08:50] 0pdd commented on #151
@amihaiemil please pay attention to this new issue.

[2020-10-30 08:10] amihaiemil opened #152 "Write Unit Tests for Output Class JsonProject"
Similarly to how unit tests are written for JsonTask.

[2020-10-30 08:10] charlesmike commented on #152
@Lumi3011 this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-11-09T10:10:40.239506``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it partially and leave ``todo`` markers in the code, which will become future tasks.

If you have any questions don't ask m

[2020-10-30 08:10] charlesmike commented on #152
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2020-10-30 08:11] amihaiemil commented on #152
@Lumi3011 Can you take care of this when you have some time? :D

[2020-10-30 08:23] Lumi3011 commented on #152
@amihaiemil Sure, I'll take care of it :D

[2020-10-30 14:52] #149 closed

[2020-10-30 14:52] 0pdd commented on #149
The puzzle `142-78fcf4aa` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2020-10-30 14:52] 0pdd opened #155 "ContractsApi.java:53-54: Implement the 'Restore Contract'..."
The puzzle `149-d94ca8ab` from #149 has to be resolved:

https://github.com/self-xdsd/self-web/blob/0f3cb57395059bb8b76ba9049673cd5e775ec516/src/main/java/com/selfxdsd/selfweb/api/ContractsApi.java#L53-L54

The puzzle was created by @amihaiemil on 30-Oct-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\"

[2020-10-30 14:52] 0pdd commented on #155
@amihaiemil please pay attention to this new issue.

[2020-10-30 14:52] charlesmike commented on #155
@0pdd thank you for reporting this. I'll assign someone to take care of it soon.

[2020-10-30 14:53] 0pdd commented on #155
I see you're talking to me, but I can't reply since I'm not a chat bot.

[2020-10-30 14:55] charlesmike commented on #155
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-11-09T16:55:26.682739``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it partially and leave ``todo`` markers in the code, which will become future tasks.

If you have any questions don't ask

[2020-10-30 14:58] #151 closed

[2020-10-30 14:58] 0pdd commented on #151
The puzzle `142-1525c079` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2020-11-02 14:31] amihaiemil opened #156 "Add "Are you sure?" Modal Question On Remove Contract"
When the user presses "Mark Contract For Removal" in the Project Contracts tab, we should ask them if they are sure they want to do that.

<img width="754" alt="Screenshot 2020-11-02 at 16 34 02" src="https://user-images.githubusercontent.com/6305156/97880006-4d23f980-1d29-11eb-937a-de6dae87dfba.png">

I think this can be done with a Promise or something.

A more generic solution would be nice, be

[2020-11-02 14:31] charlesmike commented on #156
@criske this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-11-12T16:31:12.567126``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it partially and leave ``todo`` markers in the code, which will become future tasks.

If you have any questions don't ask me,

[2020-11-02 14:31] charlesmike commented on #156
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2020-11-02 14:31] amihaiemil commented on #156
@criske Can you take care of this when you have some time? :D

[2020-11-02 15:13] criske commented on #156
@amihaiemil  sure

[2020-11-03 08:51] criske opened #158 "Tooltip flickers when hover the "mark for removal" icon."
On my end, tooltip flickers when hover the "mark for removal" icon in Project - Contracts table.
Also the tooltip is displaced.
![mark_for_delete_tooltip_flicker](https://user-images.githubusercontent.com/10284893/97964837-13530180-1dc2-11eb-84b7-ea88e84c1815.png)

[2020-11-03 08:51] charlesmike commented on #158
@criske thank you for reporting this. I'll assign someone to take care of it soon.

[2020-11-03 08:55] charlesmike commented on #158
@Lumi3011 this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-11-13T10:55:26.694839``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it partially and leave ``todo`` markers in the code, which will become future tasks.

If you have any questions don't ask m

[2020-11-03 09:33] amihaiemil commented on #158
@criske to be honest, I have no idea what could be wrong. Is the tooltip displaced on mobile, is it maybe a responsiveness bnug?

[2020-11-03 09:42] criske commented on #158
@amihaiemil is displaced on desktop.

[2020-11-03 09:49] criske commented on #158
@amihaiemil maybe due to the table, it doesn't have enough room? Can you try with only one record?

[2020-11-03 09:52] amihaiemil commented on #158
@criske that's strange. I'll try to reproduce it too.

@Lumi3011 Can you also have a short look when you have some time?

[2020-11-03 11:25] amihaiemil commented on #156
paid with transaction id 2B11268322131505U

[2020-11-03 13:35] #156 closed

[2020-11-03 14:30] Lumi3011 commented on #158
@amihaiemil sure, I will take a look :D

[2020-11-03 15:35] charlesmike commented on #156
@criske thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2020-11-03 16:55] amihaiemil opened #160 "Add "Are You Sure?" Modal On Contributor Contract Remove"
When the contributor marks one of their contracts for removal, we should have this popup, similarly to how it's done on project contracts tab.

[2020-11-03 16:55] charlesmike commented on #160
@criske this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-11-13T18:55:17.770813``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it partially and leave ``todo`` markers in the code, which will become future tasks.

If you have any questions don't ask me,

[2020-11-03 16:55] charlesmike commented on #160
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2020-11-03 16:56] amihaiemil opened #161 "Add "Update Cash Limit" Form"
On the Project page, Wallets tab, "Real Wallet" card there should be a form with one numeric field, that will allow the PO to update the cash limit that we're allowed to use.

[2020-11-03 16:56] charlesmike commented on #161
@criske this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-11-13T18:56:12.059589``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it partially and leave ``todo`` markers in the code, which will become future tasks.

If you have any questions don't ask me,

[2020-11-03 16:56] charlesmike commented on #161
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2020-11-03 17:01] amihaiemil commented on #152
paid with transaction id 1X978032VP0853810

[2020-11-03 17:06] #152 closed

[2020-11-03 17:06] 0pdd opened #162 "JsonProjectTestCase.java:44-45: Continue writing unit..."
The puzzle `152-911b3e7d` from #152 has to be resolved:

https://github.com/self-xdsd/self-web/blob/b8fdb009c4a09feaf37f2a735199f05aaa845627/src/test/java/com/selfxdsd/selfweb/api/output/JsonProjectTestCase.java#L44-L45

The puzzle was created by Mihai on 03-Nov-20.

Estimate: 60 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \

[2020-11-03 17:06] 0pdd commented on #162
@amihaiemil please pay attention to this new issue.

[2020-11-03 17:06] charlesmike commented on #162
@0pdd thank you for reporting this. I'll assign someone to take care of it soon.

[2020-11-03 17:15] charlesmike commented on #162
@Lumi3011 this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-11-13T19:15:26.331479``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it partially and leave ``todo`` markers in the code, which will become future tasks.

If you have any questions don't ask m

[2020-11-03 21:35] charlesmike commented on #152
@Lumi3011 thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2020-11-04 03:35] charlesmike commented on #155
@amihaiemil Don't forget to close this ticket before the deadline (2020-11-09T16:55:26). You are past the first half of the allowed period.

[2020-11-05 07:54] amihaiemil commented on #158
paid with transaction id 3JU570827C353880V

[2020-11-05 07:59] #158 closed

[2020-11-05 08:04] #160 closed

[2020-11-05 08:09] charlesmike commented on #158
@Lumi3011 thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2020-11-05 08:09] charlesmike commented on #160
@criske thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2020-11-05 14:05] amihaiemil commented on #162
paid with transaction id 4DF15023BV028884G

[2020-11-05 14:06] Lumi3011 commented on #162
Thank you! :D

[2020-11-05 14:39] #162 closed

[2020-11-05 14:39] 0pdd commented on #162
The puzzle `152-911b3e7d` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2020-11-05 14:39] 0pdd opened #166 "JsonContractTestCase.java:39-40: Continue writing unit..."
The puzzle `162-cfb8e2aa` from #162 has to be resolved:

https://github.com/self-xdsd/self-web/blob/6d109acba897e7b29cc51109ac71d23237005c4d/src/test/java/com/selfxdsd/selfweb/api/output/JsonContractTestCase.java#L39-L40

The puzzle was created by Lumi3011 on 05-Nov-20.

Estimate: 60 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will

[2020-11-05 14:39] 0pdd commented on #166
@amihaiemil please pay attention to this new issue.

[2020-11-05 14:39] charlesmike commented on #166
@0pdd thank you for reporting this. I'll assign someone to take care of it soon.

[2020-11-05 14:40] amihaiemil opened #167 "Rultor: Caused by: java.lang.IllegalArgumentException: Could not resolve placeholder 'self_logging_path' in value "${self_logging_path}self-web-xdsd.log""
Let's disable the SpringBoot context loading test.

[2020-11-05 14:40] charlesmike commented on #167
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-11-15T16:40:41.749662``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it partially and leave ``todo`` markers in the code, which will become future tasks.

If you have any questions don't ask

[2020-11-05 14:40] charlesmike commented on #167
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2020-11-05 14:46] #167 closed

[2020-11-05 14:49] charlesmike commented on #166
@Lumi3011 this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-11-15T16:48:58.540426``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it partially and leave ``todo`` markers in the code, which will become future tasks.

If you have any questions don't ask m

[2020-11-05 20:09] charlesmike commented on #162
@Lumi3011 thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2020-11-05 20:09] charlesmike commented on #167
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2020-11-08 03:37] charlesmike commented on #161
@criske Don't forget to close this ticket before the deadline (2020-11-13T18:56:12). You are past the first half of the allowed period.

[2020-11-09 09:18] amihaiemil commented on #161
paid with transaction id 1DW18277MT712660P

[2020-11-09 09:30] #161 closed

[2020-11-09 09:30] 0pdd opened #170 "getProject.js:246-247: Once the Wallet.updateCash(...)..."
The puzzle `169-cede6e8a` from #169 has to be resolved:

https://github.com/self-xdsd/self-web/blob/cc18b6781e72a3d1699af67ab76c7217374a079c/src/main/resources/public/js/getProject.js#L246-L247

The puzzle was created by @amihaiemil on 09-Nov-20.

Estimate: 60 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the pro

[2020-11-09 09:30] 0pdd commented on #170
@amihaiemil please pay attention to this new issue.

[2020-11-09 09:30] charlesmike commented on #170
@0pdd thank you for reporting this. I'll assign someone to take care of it soon.

[2020-11-09 09:37] charlesmike commented on #161
@criske thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2020-11-09 09:37] charlesmike commented on #170
@criske this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-11-19T11:37:39.522716``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it partially and leave ``todo`` markers in the code, which will become future tasks.

If you have any questions don't ask me,

[2020-11-09 15:09] criske commented on #170
waiting for #139

[2020-11-09 15:12] amihaiemil commented on #139
@criske I'm pretty sure we already have this implemented. Just update the core and storage versions to the latest.

[2020-11-09 15:37] charlesmike commented on #155
@amihaiemil Looks like you've missed the task deadline (2020-11-09T16:55:26). You are now resigned from this task.

Please stop working on it, you will not be paid. I will assign it to someone else soon.

[2020-11-09 15:37] charlesmike commented on #155
@criske this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-11-19T17:37:55.635873``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it partially and leave ``todo`` markers in the code, which will become future tasks.

If you have any questions don't ask me,

[2020-11-10 03:37] charlesmike commented on #166
@Lumi3011 Don't forget to close this ticket before the deadline (2020-11-15T16:48:58). You are past the first half of the allowed period.

[2020-11-10 16:41] amihaiemil commented on #139
paid with transaction id 26A27025WM7411816

[2020-11-10 16:52] #139 closed

[2020-11-10 16:52] 0pdd commented on #139
The puzzle `135-26d24fff` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2020-11-11 07:48] amihaiemil commented on #166
paid with transaction id 6YX44045WM462951P

[2020-11-11 07:51] #166 closed

[2020-11-11 07:51] 0pdd commented on #166
The puzzle `162-cfb8e2aa` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2020-11-11 07:51] 0pdd opened #173 "JsonWalletTestCase.java:36-37: Continue writing unit..."
The puzzle `166-208d6a22` from #166 has to be resolved:

https://github.com/self-xdsd/self-web/blob/39bbec56344f5ad72eedf15d77de49ea8450f2c5/src/test/java/com/selfxdsd/selfweb/api/output/JsonWalletTestCase.java#L36-L37

The puzzle was created by Lumi3011 on 10-Nov-20.

Estimate: 60 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be

[2020-11-11 07:51] 0pdd commented on #173
@amihaiemil please pay attention to this new issue.

[2020-11-11 07:51] charlesmike commented on #173
@0pdd thank you for reporting this. I'll assign someone to take care of it soon.

[2020-11-11 07:53] 0pdd commented on #173
I see you're talking to me, but I can't reply since I'm not a chat bot.

[2020-11-11 07:57] charlesmike commented on #173
@Lumi3011 this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-11-21T09:57:20.467294``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it partially and leave ``todo`` markers in the code, which will become future tasks.

If you have any questions don't ask m

[2020-11-11 09:37] charlesmike commented on #166
@Lumi3011 thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2020-11-14 02:30] charlesmike commented on #155
@criske Don't forget to close this ticket before the deadline (2020-11-19T17:37:55). You are past the first half of the allowed period.

[2020-11-14 02:30] charlesmike commented on #170
@criske Don't forget to close this ticket before the deadline (2020-11-19T11:37:39). You are past the first half of the allowed period.

[2020-11-14 10:45] amihaiemil commented on #170
paid with transaction id 1W14109786259881R

[2020-11-14 10:50] #170 closed

[2020-11-14 11:43] amihaiemil commented on #155
paid with transaction id 3Y110406WT2065238

[2020-11-14 14:30] charlesmike commented on #170
@criske thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2020-11-15 07:41] criske commented on #137
@amihaiemil I'll work on this, I think we have activation available in stroage.

[2020-11-15 07:55] amihaiemil commented on #137
@criske dont work on it yet, I already have a branch with a lot of changes in that area, so we will have a lot of conflicts :)

[2020-11-15 07:56] amihaiemil commented on #137
@criske actually, you can do it, but only the backend, no frontend yet please.

[2020-11-15 07:57] amihaiemil commented on #137
@charlesmike register

[2020-11-15 07:57] charlesmike commented on #137
@amihaiemil I've just registered this ticket as a task and will assign it to someone soon. Thanks!

[2020-11-15 08:00] charlesmike commented on #137
@criske this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-11-25T10:00:30.993419``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it partially and leave ``todo`` markers in the code, which will become future tasks.

If you have any questions don't ask me,

[2020-11-16 02:30] charlesmike commented on #173
@Lumi3011 Don't forget to close this ticket before the deadline (2020-11-21T09:57:20). You are past the first half of the allowed period.

[2020-11-16 08:09] amihaiemil commented on #137
paid with transaction id 4R464596P64562947

[2020-11-17 07:43] amihaiemil commented on #173
paid with transaction id 39A586217C0192055

[2020-11-17 07:49] charlesmike opened #178 "JsonInvoicedTaskTestCase.java: Continue writing unit tests f..."
The puzzle ``173-2a3d8346`` originating from #173 has to be resolved:

https://github.com/self-xdsd/self-web/blob/d04274791aa658a4bbfc29711bab1dce04c44aa5/src/test/java/com/selfxdsd/selfweb/api/output/JsonInvoicedTaskTestCase.java#L37-L38

"Continue writing unit tests for the JSON output classes. We can continue with class JsonPayoutMethod.".

It was created by Lumi3011 on 2020-11-16T17:36:17Z. Es

[2020-11-17 07:49] charlesmike opened #179 "ContractsApi.java: Once self-core 'Restore Contr..."
The puzzle ``175-9e03e79b`` originating from #175 has to be resolved:

https://github.com/self-xdsd/self-web/blob/d04274791aa658a4bbfc29711bab1dce04c44aa5/src/main/java/com/selfxdsd/selfweb/api/ContractsApi.java#L56-L59

"Once self-core 'Restore Contract' functionality for a Project Contract is available, remove the placeholder `restoreContractApi` and use the real api call. Also test constructor

[2020-11-17 07:49] charlesmike opened #180 "ContractsApi.java: Change the endpoint mapping f..."
The puzzle ``176-f531a48e`` originating from #176 has to be resolved:

https://github.com/self-xdsd/self-web/blob/d04274791aa658a4bbfc29711bab1dce04c44aa5/src/main/java/com/selfxdsd/selfweb/api/ContractsApi.java#L60-L66

"Change the endpoint mapping for `markContractForRemoval()` with `@PutMapping /projects/{owner}/{name}/contracts/{username}/mark` and for `restoreContract()` with `@DeleteMapping

[2020-11-17 07:49] charlesmike opened #181 "WalletsApi.java: On frontend, in `getProject.j..."
The puzzle ``178-aed0946a`` originating from #178 has to be resolved:

https://github.com/self-xdsd/self-web/blob/d04274791aa658a4bbfc29711bab1dce04c44aa5/src/main/java/com/selfxdsd/selfweb/api/WalletsApi.java#L56-L57

"On frontend, in `getProject.js`, integrate the wallet activation feature with the backend.".

It was created by cristianpela on 2020-11-15T09:10:06Z. Estimation is ``30 minutes``.

[2020-11-17 07:49] charlesmike opened #182 "WalletsApi.java: Update WalletsApi endpoints t..."
The puzzle ``179-5898565e`` originating from #179 has to be resolved:

https://github.com/self-xdsd/self-web/blob/d04274791aa658a4bbfc29711bab1dce04c44aa5/src/main/java/com/selfxdsd/selfweb/api/WalletsApi.java#L58-L61

"Update WalletsApi endpoints to use `this.user.projects` when searching for a project (where is the case). Right now most of them are using `this.self.projects` meaning that any use

[2020-11-17 07:49] charlesmike opened #183 "BaseApiController.java: Implement a validation except..."
The puzzle ``175-f102c8dd`` originating from #175 has to be resolved:

https://github.com/self-xdsd/self-web/blob/d04274791aa658a4bbfc29711bab1dce04c44aa5/src/main/java/com/selfxdsd/selfweb/api/BaseApiController.java#L40-L43

"Implement a validation exceptions handler for `ConstraintViolationException`. This is needed for `@Validated` Controllers, otherwise it will be caught by `handleInternalSeve

[2020-11-17 07:49] #173 closed

[2020-11-17 07:49] charlesmike commented on #173
Puzzle disappeared from the code, that's why I closed this ticket.

[2020-11-17 07:49] #155 closed

[2020-11-17 07:49] charlesmike commented on #155
Puzzle disappeared from the code, that's why I closed this ticket.

[2020-11-17 07:49] #137 closed

[2020-11-17 07:49] charlesmike commented on #137
Puzzle disappeared from the code, that's why I closed this ticket.

[2020-11-17 07:50] charlesmike commented on #178
@criske this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-11-27T09:50:33.110487``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it partially and leave ``todo`` markers in the code, which will become future tasks.

If you have any questions don't ask me,

[2020-11-17 07:50] charlesmike commented on #179
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-11-27T09:50:40.344952``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it partially and leave ``todo`` markers in the code, which will become future tasks.

If you have any questions don't ask

[2020-11-17 07:50] charlesmike commented on #180
@Lumi3011 this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-11-27T09:50:47.893936``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it partially and leave ``todo`` markers in the code, which will become future tasks.

If you have any questions don't ask m

[2020-11-17 07:50] amihaiemil commented on #178
@charlesmike deregister

[2020-11-17 07:50] charlesmike commented on #181
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-11-27T09:50:55.325782``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it partially and leave ``todo`` markers in the code, which will become future tasks.

If you have any questions don't ask

[2020-11-17 07:51] charlesmike commented on #178
@amihaiemil ok, I've removed this task from scope. I'm not managing it anymore.

[2020-11-17 07:51] charlesmike commented on #182
@criske this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-11-27T09:51:02.476613``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it partially and leave ``todo`` markers in the code, which will become future tasks.

If you have any questions don't ask me,

[2020-11-17 07:51] charlesmike commented on #183
@Lumi3011 this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-11-27T09:51:08.332270``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it partially and leave ``todo`` markers in the code, which will become future tasks.

If you have any questions don't ask m

[2020-11-17 07:51] amihaiemil commented on #178
@charlesmike register

[2020-11-17 07:51] charlesmike commented on #178
@amihaiemil I've just registered this ticket as a task and will assign it to someone soon. Thanks!

[2020-11-17 08:00] amihaiemil commented on #183
@Lumi3011 I've decided to let the PM do his job so he assigns tasks randomly to different contributors. Have a short look and if you think you can fix it, go ahead. If not, just say ``@charlesmike resign`` and the PM will look for another assignee :D

[2020-11-17 08:00] charlesmike commented on #178
@Lumi3011 this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-11-27T10:00:30.672321``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it partially and leave ``todo`` markers in the code, which will become future tasks.

If you have any questions don't ask m

[2020-11-17 08:30] charlesmike commented on #137
@criske thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2020-11-17 08:30] charlesmike commented on #155
@criske thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2020-11-17 08:30] charlesmike commented on #173
@Lumi3011 thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2020-11-18 07:26] #182 closed

[2020-11-18 08:32] charlesmike commented on #182
@criske thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2020-11-19 17:24] #181 closed

[2020-11-19 17:24] charlesmike commented on #181
Puzzle disappeared from the code, that's why I closed this ticket.

[2020-11-19 17:24] #138 closed

[2020-11-19 17:24] charlesmike commented on #138
Puzzle disappeared from the code, that's why I closed this ticket.

[2020-11-19 20:31] charlesmike commented on #181
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2020-11-20 08:32] amihaiemil opened #188 "Add Button To Pay Contract"
The PO should have a button on the Project page (Contracts tab) to pay a certain Contract (pay its active Invoice)

[2020-11-20 08:32] charlesmike commented on #188
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-11-30T10:32:18.383293``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it partially and leave ``todo`` markers in the code, which will become future tasks.

If you have any questions don't ask

[2020-11-20 08:32] charlesmike commented on #188
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2020-11-20 09:44] amihaiemil opened #189 "Let's Switch to Euros"
Apparently Self's platform account on Stripe works only with Euros for some reasons.
This is a big problem: if we charge the Wallet in USD, there will be a currency conversion to Euros and we will lose money (we will not have enough money to transfer to the Contributor).

Let's just switch to Euros. Changes need to be done only on the front-end (replace any USD reference or label to EUR).

[2020-11-20 09:44] charlesmike commented on #189
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-11-30T11:44:12.623218``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it partially and leave ``todo`` markers in the code, which will become future tasks.

If you have any questions don't ask

[2020-11-20 09:44] charlesmike commented on #189
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2020-11-20 09:44] amihaiemil commented on #189
@criske FYI :D

[2020-11-20 10:08] criske commented on #189
@amihaiemil Also
https://github.com/self-xdsd/self-web/blob/09b14d85cd23b0bb2e547d4e749932d69aeddede/src/main/java/com/selfxdsd/selfweb/api/output/JsonContract.java#L32
"$" format needs to be removed for `horlyRate` and `value` and keep the plain values.

[2020-11-20 10:10] amihaiemil commented on #189
@criske right, good catch

[2020-11-20 13:30] #188 closed

[2020-11-20 14:32] charlesmike commented on #188
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2020-11-22 02:31] charlesmike commented on #178
@Lumi3011 Don't forget to close this ticket before the deadline (2020-11-27T10:00:30). You are past the first half of the allowed period.

[2020-11-22 02:31] charlesmike commented on #179
@amihaiemil Don't forget to close this ticket before the deadline (2020-11-27T09:50:40). You are past the first half of the allowed period.

[2020-11-22 02:31] charlesmike commented on #180
@Lumi3011 Don't forget to close this ticket before the deadline (2020-11-27T09:50:47). You are past the first half of the allowed period.

[2020-11-22 02:32] charlesmike commented on #183
@Lumi3011 Don't forget to close this ticket before the deadline (2020-11-27T09:51:08). You are past the first half of the allowed period.

[2020-11-23 08:03] #189 closed

[2020-11-23 08:32] charlesmike commented on #189
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2020-11-24 09:09] amihaiemil opened #192 "Color for the Limit Cash in Real Wallet"
The real cash Limit should colored in:

* red if it's 0 or less than the Debt;
* yellow if limit - debt <= 100;
* green otherwise.

[2020-11-24 09:09] charlesmike commented on #192
@criske this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-12-04T11:09:54.099266``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it partially and leave ``todo`` markers in the code, which will become future tasks.

If you have any questions don't ask me,

[2020-11-24 09:09] charlesmike commented on #192
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2020-11-24 10:26] amihaiemil opened #193 "Update core 0.0.38 and storage 0.0.16"
There is a big change: the PM now takes their commission as percentage from every Task's value.
In this update, we mainly need to update the 'Project Managers' page.

[2020-11-24 10:26] charlesmike commented on #193
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-12-04T12:26:16.379318``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it partially and leave ``todo`` markers in the code, which will become future tasks.

If you have any questions don't ask

[2020-11-24 10:26] charlesmike commented on #193
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2020-11-24 17:35] Lumi3011 commented on #183
@charlesmike resign

[2020-11-24 17:35] charlesmike commented on #183
@Lumi3011 ok, I'll find someone else to take care of it.

[2020-11-24 17:41] charlesmike commented on #183
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-12-04T19:41:52.418786``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it partially and leave ``todo`` markers in the code, which will become future tasks.

If you have any questions don't ask

[2020-11-25 07:54] amihaiemil commented on #192
paid with transaction id 57E73293RB629215T

[2020-11-25 07:58] #192 closed

[2020-11-25 08:31] charlesmike commented on #192
@criske thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2020-11-26 07:47] amihaiemil commented on #178
paid with transaction id 2V150346D6313612F

[2020-11-26 07:51] charlesmike opened #196 "JsonPayoutMethodTestCase.java: Continue writing unit tests f..."
The puzzle ``178-bc6ac0ac`` originating from #178 has to be resolved:

https://github.com/self-xdsd/self-web/blob/10c94ff3c1a3f0179998cb1e8bef5406f64a3b32/src/test/java/com/selfxdsd/selfweb/api/output/JsonPayoutMethodTestCase.java#L36-L37

"Continue writing unit tests for the JSON output classes. We can continue with class JsonPaymentMethod.".

It was created by Lumi3011 on 2020-11-25T18:32:23Z. E

[2020-11-26 07:51] #178 closed

[2020-11-26 07:51] charlesmike commented on #178
Puzzle disappeared from the code, that's why I closed this ticket.

[2020-11-26 08:01] charlesmike commented on #196
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-12-06T10:01:52.652646``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it partially and leave ``todo`` markers in the code, which will become future tasks.

If you have any questions don't ask

[2020-11-26 08:30] #193 closed

[2020-11-26 08:31] amihaiemil commented on #196
@charlesmike resign

[2020-11-26 08:31] charlesmike commented on #196
@amihaiemil ok, I'll find someone else to take care of it.

[2020-11-26 08:31] charlesmike commented on #178
@Lumi3011 thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2020-11-26 08:31] charlesmike commented on #193
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2020-11-26 08:32] charlesmike commented on #196
@Lumi3011 this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-12-06T10:32:07.843085``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it partially and leave ``todo`` markers in the code, which will become future tasks.

If you have any questions don't ask m

[2020-11-26 08:33] amihaiemil opened #198 "Project Page: Display Invoices of Contract"
Analogous to how we display invoices of a Contract on the Contributor Dashboard page, we should also display a Contract's Invoices on the Project Page (Contracts Tab). At the moment, only the Tasks are displayed and the PO can only download the active Invoice.

[2020-11-26 08:33] charlesmike commented on #198
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-12-06T10:33:09.251948``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it partially and leave ``todo`` markers in the code, which will become future tasks.

If you have any questions don't ask

[2020-11-26 08:33] charlesmike commented on #198
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2020-11-27 08:31] charlesmike commented on #179
@amihaiemil Looks like you've missed the task deadline (2020-11-27T09:50:40). You are now resigned from this task.

Please stop working on it, you will not be paid. I will assign it to someone else soon.

[2020-11-27 08:31] charlesmike commented on #180
@Lumi3011 Looks like you've missed the task deadline (2020-11-27T09:50:47). You are now resigned from this task.

Please stop working on it, you will not be paid. I will assign it to someone else soon.

[2020-11-27 08:32] charlesmike commented on #179
@Lumi3011 this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-12-07T10:32:03.472117``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it partially and leave ``todo`` markers in the code, which will become future tasks.

If you have any questions don't ask m

[2020-11-27 08:32] charlesmike commented on #180
@criske this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-12-07T10:32:08.795921``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it partially and leave ``todo`` markers in the code, which will become future tasks.

If you have any questions don't ask me,

[2020-11-27 08:36] amihaiemil commented on #179
@charlesmike deregister

[2020-11-27 08:37] charlesmike commented on #179
@amihaiemil ok, I've removed this task from scope. I'm not managing it anymore.

[2020-11-27 08:37] amihaiemil commented on #179
@Lumi3011 I removed this task from scope because the required functionality is not yet implemented in the core.

[2020-11-27 13:21] charlesmike opened #200 "ContractsApi.java: On frontend. in `getAndAddCon..."
The puzzle ``200-6c14773a`` originating from #200 has to be resolved:

https://github.com/self-xdsd/self-web/blob/8d5677dcc8ae737fcd4844d1d7973f5f2f2bbf83/src/main/java/com/selfxdsd/selfweb/api/ContractsApi.java#L60-L63

"On frontend. in `getAndAddContracts.js`, implement `restoreContract(...)` function. This will call `DELETE "/projects/{owner}/{name}/contracts/{username}/mark" endpoint, and on s

[2020-11-27 13:21] #180 closed

[2020-11-27 13:21] charlesmike commented on #180
Puzzle disappeared from the code, that's why I closed this ticket.

[2020-11-27 13:21] charlesmike commented on #200
@Lumi3011 this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-12-07T15:21:52.431492``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it partially and leave ``todo`` markers in the code, which will become future tasks.

If you have any questions don't ask m

[2020-11-27 14:32] charlesmike commented on #180
@criske thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2020-11-28 07:42] #198 closed

[2020-11-28 08:31] charlesmike commented on #198
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2020-11-29 02:31] charlesmike commented on #183
@amihaiemil Don't forget to close this ticket before the deadline (2020-12-04T19:41:52). You are past the first half of the allowed period.

[2020-11-30 07:55] amihaiemil opened #202 "Update self-core to 0.0.39 and self-storage to 0.0.17"
Let's update them.

[2020-11-30 07:55] charlesmike commented on #202
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-12-10T09:55:43.997625``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it partially and leave ``todo`` markers in the code, which will become future tasks.

If you have any questions don't ask

[2020-11-30 07:55] charlesmike commented on #202
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2020-11-30 08:08] amihaiemil commented on #202
done

[2020-11-30 08:08] #202 closed

[2020-11-30 08:27] charlesmike commented on #202
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2020-11-30 11:01] amihaiemil opened #203 "Load Contracts Only on Tab Click"
On the Project page, we should load the Contracts only when the user clicks on the 'Contracts' tab.

At the moment, contracts area loaded together with the Project Overview tab and this is not always correct.

For example, the authenticated user may be an admin in the Organization which owns the repo, but we allow them to see only the Project Overview (they will not be able to load the contracts).

[2020-11-30 11:01] charlesmike commented on #203
@criske this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-12-10T13:01:05.603976``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it partially and leave ``todo`` markers in the code, which will become future tasks.

If you have any questions don't ask me,

[2020-11-30 11:01] charlesmike commented on #203
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2020-11-30 13:12] amihaiemil opened #204 "DIsable GitLab Login"
Let's disable this login option, we're not yet entirely ready for GitLab.

[2020-11-30 13:12] charlesmike commented on #204
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-12-10T15:12:48.921426``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it partially and leave ``todo`` markers in the code, which will become future tasks.

If you have any questions don't ask

[2020-11-30 13:12] charlesmike commented on #204
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2020-11-30 13:20] #204 closed

[2020-11-30 13:27] amihaiemil opened #206 "Update to self-core 0.0.40"
Let's update then redeploy to Test.

[2020-11-30 13:27] charlesmike commented on #206
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-12-10T15:27:50.389201``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it partially and leave ``todo`` markers in the code, which will become future tasks.

If you have any questions don't ask

[2020-11-30 13:27] charlesmike commented on #206
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2020-11-30 13:29] #206 closed

[2020-11-30 14:21] charlesmike commented on #204
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2020-11-30 14:21] charlesmike commented on #206
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2020-12-01 02:20] charlesmike commented on #196
@Lumi3011 Don't forget to close this ticket before the deadline (2020-12-06T10:32:07). You are past the first half of the allowed period.

[2020-12-01 08:18] criske commented on #203
@amihaiemil I think the problem is that we don't check in `ContractsApi` if the `owner` is the same as `user` -- this leaves the door open to load contracts from any `owner` not just the org.
The other `Contracts` endpoints have the same bug, so a separate ticket is necessary. (maybe a `Filter` could be used on the long run?)

[2020-12-01 08:24] #144 closed

[2020-12-01 08:24] charlesmike commented on #144
Puzzle disappeared from the code, that's why I closed this ticket.

[2020-12-01 08:29] amihaiemil commented on #203
@criske In Contracts API we access everything via ``this.user``, so we know for sure the projects/contracts belong to them.

Maybe I don't understand what you say :D

[2020-12-01 08:39] criske commented on #203
@amihaiemil  You're right, somehow I've missed that :D

[2020-12-01 10:48] amihaiemil opened #209 "Add Org Access Info on Organizations Tab"
The user may not see their orgs on the 'Organisations' Tab because most of the times they need to go to Github and explictely allow Self XDSD to access them ("Grant") button.

Let's add an Info Text on the Org tab and let the users know about this. The link for Self XDSD Test is this: https://github.com/settings/connections/applications/a55dd23908b4dffe8df6

[2020-12-01 10:48] charlesmike commented on #209
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-12-11T12:48:19.073125``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it partially and leave ``todo`` markers in the code, which will become future tasks.

If you have any questions don't ask

[2020-12-01 10:48] charlesmike commented on #209
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2020-12-01 13:02] amihaiemil opened #210 "If in Test, Add Credit Card Warning"
On the Wallets tab, Real Wallet section, we should display a message like: "Do not add your real card here, we are in Test", if the environment is Test.

[2020-12-01 13:02] charlesmike commented on #210
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-12-11T15:02:53.986092``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it partially and leave ``todo`` markers in the code, which will become future tasks.

If you have any questions don't ask

[2020-12-01 13:02] charlesmike commented on #210
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2020-12-01 13:06] #203 closed

[2020-12-01 13:21] #210 closed

[2020-12-01 14:21] charlesmike commented on #203
@criske thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2020-12-01 14:21] charlesmike commented on #210
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2020-12-01 19:02] amihaiemil opened #212 "Add Pattern Validation For String Inputs"
For all the String input parameters, we should add ``@Pattern(...)`` validation and only allow alphanumeric characters + ``-`` and ``_``. Maximum length 256.

[2020-12-01 19:02] charlesmike commented on #212
@amihaiemil thank you for reporting this. I'll assign someone to take care of it soon.

[2020-12-01 19:10] charlesmike commented on #212
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-12-11T21:10:50.311121``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it partially and leave ``todo`` markers in the code, which will become future tasks.

If you have any questions don't ask

[2020-12-02 02:21] charlesmike commented on #200
@Lumi3011 Don't forget to close this ticket before the deadline (2020-12-07T15:21:52). You are past the first half of the allowed period.

[2020-12-02 08:03] #209 closed

[2020-12-02 08:20] charlesmike commented on #209
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2020-12-02 08:57] #212 closed

[2020-12-02 09:21] amihaiemil opened #215 "Show "Loading" Circle When Loading Contracts"
On the project page, Contracts tab, we should show the Loading circle. At the moment, it's not used there and the page looks like this (until the projects are displayed):

<img width="1107" alt="Screenshot 2020-12-02 at 11 19 56" src="https://user-images.githubusercontent.com/6305156/100853471-781c7d00-3490-11eb-96eb-675709eb3f4a.png">

[2020-12-02 09:21] charlesmike commented on #215
@criske this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-12-12T11:21:32.717925``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it partially and leave ``todo`` markers in the code, which will become future tasks.

If you have any questions don't ask me,

[2020-12-02 09:21] charlesmike commented on #215
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2020-12-02 09:27] amihaiemil opened #216 "Max 300 EUR per hour"
Let's limit the maximum hourly rate to 300 EUR.

[2020-12-02 09:27] charlesmike commented on #216
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-12-12T11:27:50.653229``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it partially and leave ``todo`` markers in the code, which will become future tasks.

If you have any questions don't ask

[2020-12-02 09:27] charlesmike commented on #216
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2020-12-02 09:38] #216 closed

[2020-12-02 14:20] charlesmike commented on #212
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2020-12-02 14:21] charlesmike commented on #216
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2020-12-02 17:59] amihaiemil opened #218 "Manual Testing Of Self-Web"
We should run some some manual tests on the front-end to make sure everything works fine.

[2020-12-02 17:59] charlesmike commented on #218
@MihaiDejeu this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-12-12T19:59:18.716194``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it partially and leave ``todo`` markers in the code, which will become future tasks.

If you have any questions don't ask

[2020-12-02 17:59] charlesmike commented on #218
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2020-12-02 18:01] amihaiemil commented on #218
@charlesmike deregister

[2020-12-02 18:01] charlesmike commented on #218
@amihaiemil ok, I've removed this task from scope. I'm not managing it anymore.

[2020-12-02 18:02] amihaiemil commented on #218
@charlesmike register

[2020-12-02 18:02] charlesmike commented on #218
@amihaiemil I've just registered this ticket as a task and will assign it to someone soon. Thanks!

[2020-12-02 18:10] charlesmike commented on #218
@MihaiDejeu this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-12-12T20:10:50.647149``.

Estimation here is ``240 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it partially and leave ``todo`` markers in the code, which will become future tasks.

If you have any questions don't as

[2020-12-03 10:37] amihaiemil commented on #215
paid with transaction id 6AB20714BU795650D

[2020-12-03 10:38] #215 closed

[2020-12-03 12:02] #200 closed

[2020-12-03 12:02] charlesmike commented on #200
Puzzle disappeared from the code, that's why I closed this ticket.

[2020-12-03 12:02] #179 closed

[2020-12-03 12:02] charlesmike commented on #179
Puzzle disappeared from the code, that's why I closed this ticket.

[2020-12-03 13:26] charlesmike commented on #215
@criske thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2020-12-03 13:26] charlesmike commented on #200
@Lumi3011 thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2020-12-04 19:25] charlesmike commented on #183
@amihaiemil Looks like you've missed the task deadline (2020-12-04T19:41:52). You are now resigned from this task.

Please stop working on it, you will not be paid. I will assign it to someone else soon.

[2020-12-04 19:26] charlesmike commented on #183
@criske this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-12-14T21:26:04.308222``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it partially and leave ``todo`` markers in the code, which will become future tasks.

If you have any questions don't ask me,

[2020-12-05 10:13] criske opened #222 "On mobile, main menu avatar is stretched"
![Screenshot_20201205-120908.jpg](https://user-images.githubusercontent.com/10284893/101239800-4c4d0180-36f3-11eb-9325-032dab73f343.jpg)

[2020-12-05 10:13] charlesmike commented on #222
@criske thank you for reporting this. I'll assign someone to take care of it soon.

[2020-12-05 10:15] charlesmike commented on #222
@criske this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-12-15T12:15:51.055191``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it partially and leave ``todo`` markers in the code, which will become future tasks.

If you have any questions don't ask me,

[2020-12-05 18:11] amihaiemil opened #223 "Display Wallet Type for Contract"
On the Contributor Dashboard page, for every Contract of the Contributor, we should display an icon letting the contributor know whether the Project uses a real wallet or a fake wallet.

EDIT: let's also display it on the Projects page (Contracts tab).

[2020-12-05 18:11] charlesmike commented on #223
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-12-15T20:11:10.228694``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it partially and leave ``todo`` markers in the code, which will become future tasks.

If you have any questions don't ask

[2020-12-05 18:11] charlesmike commented on #223
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2020-12-05 19:08] amihaiemil opened #224 "Making a Real Payment Crashes"
Making a Real Payment when the Contributor has no Payout Method set up results in 500 SERVER ERROR.
Let's fix it and show a more suggestive response.

[2020-12-05 19:08] charlesmike commented on #224
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-12-15T21:08:22.825627``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it partially and leave ``todo`` markers in the code, which will become future tasks.

If you have any questions don't ask

[2020-12-05 19:08] charlesmike commented on #224
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2020-12-06 13:26] charlesmike commented on #196
@Lumi3011 Looks like you've missed the task deadline (2020-12-06T10:32:07). You are now resigned from this task.

Please stop working on it, you will not be paid. I will assign it to someone else soon.

[2020-12-06 13:26] charlesmike commented on #196
@criske this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-12-16T15:26:18.888406``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it partially and leave ``todo`` markers in the code, which will become future tasks.

If you have any questions don't ask me,

[2020-12-07 01:26] charlesmike commented on #218
@MihaiDejeu Don't forget to close this ticket before the deadline (2020-12-12T20:10:50). You are past the first half of the allowed period.

[2020-12-07 15:49] amihaiemil opened #227 "Manual QA for Mobile"
Let's test it on mobile as well. Watch out especially for responsiveness bugs.

[2020-12-07 15:49] charlesmike commented on #227
@MihaiDejeu this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-12-17T17:49:21.413056``.

Estimation here is ``240 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it partially and leave ``todo`` markers in the code, which will become future tasks.

If you have any questions don't as

[2020-12-07 15:49] charlesmike commented on #227
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2020-12-07 17:01] amihaiemil commented on #218
total 8h worked and paid

[2020-12-07 17:01] #218 closed

[2020-12-07 19:26] charlesmike commented on #218
@MihaiDejeu thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2020-12-08 18:15] amihaiemil opened #228 "Update to self-core 0.0.42 and self-storage 0.0.19"
They contain some bugfixes and the Remove Project functionality, which we should also implement in self-web.

[2020-12-08 18:15] charlesmike commented on #228
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-12-18T20:15:06.643035``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it partially and leave ``todo`` markers in the code, which will become future tasks.

If you have any questions don't ask

[2020-12-08 18:15] charlesmike commented on #228
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2020-12-09 01:26] charlesmike commented on #183
@criske Don't forget to close this ticket before the deadline (2020-12-14T21:26:04). You are past the first half of the allowed period.

[2020-12-09 07:57] #228 closed

[2020-12-09 07:57] charlesmike opened #230 "ContractsApi.java: Start implementing the Remove..."
The puzzle ``228-79427c10`` originating from #228 has to be resolved:

https://github.com/self-xdsd/self-web/blob/36442d916af2a1155737c38e8b2692ba4609c387/src/main/java/com/selfxdsd/selfweb/api/ContractsApi.java#L54-L56

"Start implementing the Remove Project functionality. This option should be on the Settings (Project page) and it should be available only if all the Project's contracts are remov

[2020-12-09 08:00] amihaiemil commented on #183
paid with transaction id 2SW426045H305893E

[2020-12-09 08:01] amihaiemil commented on #227
finished and paid for 3h work + 30min call

[2020-12-09 08:01] #227 closed

[2020-12-09 08:05] #183 closed

[2020-12-09 08:05] charlesmike commented on #183
Puzzle disappeared from the code, that's why I closed this ticket.

[2020-12-09 08:05] charlesmike commented on #230
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-12-19T10:05:49.690276``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it partially and leave ``todo`` markers in the code, which will become future tasks.

If you have any questions don't ask

[2020-12-09 08:46] #222 closed

[2020-12-09 13:25] charlesmike commented on #228
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2020-12-09 13:26] charlesmike commented on #183
@criske thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2020-12-09 13:26] charlesmike commented on #222
@criske thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2020-12-09 13:26] charlesmike commented on #227
@MihaiDejeu thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2020-12-09 14:46] #223 closed

[2020-12-09 19:25] charlesmike commented on #223
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2020-12-10 01:26] charlesmike commented on #224
@amihaiemil Don't forget to close this ticket before the deadline (2020-12-15T21:08:22). You are past the first half of the allowed period.

[2020-12-10 08:39] #224 closed

[2020-12-10 10:28] amihaiemil commented on #218
@MihaiDejeu Am rezolvat urmatoarele probleme in self-web pt care nu mai trebuie sa deschizi tichete:

* sumele in Euro sunt formatate consistent peste tot (e.g.  7.5 -> 7,50; 99500.35 -> 99.500,35), inclusiv in Invoice PDF);
* problema cu avatarul intins (in Chrome si altele);
* cand se apasa pe icoana "Pay Invoice", se arata un popup cu "Are you sure?...". Acolo ii zice si ce fel de wallet folose

[2020-12-10 13:26] charlesmike commented on #224
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2020-12-11 01:26] charlesmike commented on #196
@criske Don't forget to close this ticket before the deadline (2020-12-16T15:26:18). You are past the first half of the allowed period.

[2020-12-13 11:19] MihaiDejeu opened #234 "Cannot download invoices using a mobile device"
Device: Samsung Galaxy S8
OS: Android 9

1. Log into application using a mobile device
2. Go to invoice list of a contract
3. Tap on the download invoice button
**Expected outcome**: Invoice should be downloaded in the device storage
**Actual outcome**: Nothing happens
![image](https://user-images.githubusercontent.com/75386651/102010240-88acdd00-3d45-11eb-8faf-83bda54294d3.png)

[2020-12-13 11:19] charlesmike commented on #234
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-12-23T13:19:04.228``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become futur

[2020-12-13 11:19] charlesmike commented on #234
@MihaiDejeu please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2020-12-13 11:24] MihaiDejeu opened #235 "Cannot log in with a different user if the credential were already saved in the browser"
Recommend to have an extra step authentication where you can select the saved users from a list that contains all the previously saved users.
![image](https://user-images.githubusercontent.com/75386651/102010411-8c8d2f00-3d46-11eb-992d-e9187e06f82a.png)

[2020-12-13 11:24] charlesmike commented on #235
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-12-23T13:24:44.259706``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2020-12-13 11:24] charlesmike commented on #235
@MihaiDejeu please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2020-12-13 22:00] charlesmike commented on #230
@amihaiemil Don't forget to close this ticket before the deadline (2020-12-19T10:05:49). You are past the first half of the allowed period.

[2020-12-14 15:33] MihaiDejeu opened #236 "Implement "User profile" page"
Should be possible to view the user profile details. This page should be accessed by using the button from main drop-down
![image](https://user-images.githubusercontent.com/75386651/102100603-4ca37600-3e32-11eb-8d90-859c31111bfb.png)

[2020-12-14 15:33] charlesmike commented on #236
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-12-24T17:33:39.726186``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2020-12-14 15:33] charlesmike commented on #236
@MihaiDejeu please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2020-12-14 15:38] MihaiDejeu opened #237 "Pictures are not resizing when zooming-out or zooming-in"
1. Navigate to the landing page: http://self-xdsd.go.ro/#how-it-works
2. Once you reached this page, hold CTRL and + or - to zoom-in or zoom-out in this page
Expected result: The text font size is changing together with the pictures size
Actual result: Only the text font size is changing without the pictures

![image](https://user-images.githubusercontent.com/75386651/102101234-07cc0f00-3e33-11eb-

[2020-12-14 15:38] charlesmike commented on #237
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-12-24T17:38:03.752850``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2020-12-14 15:38] charlesmike commented on #237
@MihaiDejeu please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2020-12-14 15:43] MihaiDejeu opened #238 "Change the design for the device action button from "<-" to "X""
When using the mobile device, the action button from closing the application indicates a back button. This is really confusing. If the purpose is for closing the application then the design should be "X"

![image](https://user-images.githubusercontent.com/75386651/102101453-54174f00-3e33-11eb-9d2d-0f3395de49f4.png)

[2020-12-14 15:43] charlesmike commented on #238
@MihaiDejeu thank you for reporting this. I'll assign someone to take care of it soon.

[2020-12-14 15:43] charlesmike commented on #238
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-12-24T17:43:36.486052``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2020-12-14 15:48] MihaiDejeu opened #239 "Should not be possible to add, as a payment method, the same credit card multiple times"
1. Navigate to the "Wallet" page for a certain repository
2. Go to the "Real Wallet" section,
3. Add a card as a payment method
4. Add the same credit card one more time
Expected result: A validation should occur and user is not allowed to add the same card twice
Expected result: User is allowed to add the same card as many time he/she wants
![image](https://user-images.githubusercontent.com/75386

[2020-12-14 15:48] charlesmike commented on #239
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-12-24T17:48:52.192785``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2020-12-14 15:48] charlesmike commented on #239
@MihaiDejeu please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2020-12-14 16:12] MihaiDejeu opened #240 "When refreshing the home page, the page should be scrolled up automatically"
1. GO to http://self-xdsd.go.ro/
2. Scroll down
3. Refresh the page
**Expected result**: Page should be scrolled all the way up
![image](https://user-images.githubusercontent.com/75386651/102105089-a3f81500-3e37-11eb-9eb8-ead0cadc5fd7.png)
**Actual result:** Page remain scrolled down, where it was before reloading the page
![image](https://user-images.githubusercontent.com/75386651/102105134-b3775

[2020-12-14 16:12] charlesmike commented on #240
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-12-24T18:12:53.392928``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2020-12-14 16:12] charlesmike commented on #240
@MihaiDejeu please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2020-12-14 16:16] MihaiDejeu opened #241 "Typo in "Update contract" card"
![image](https://user-images.githubusercontent.com/75386651/102105743-6d6eca00-3e38-11eb-9c57-93ff70026e10.png)

[2020-12-14 16:16] charlesmike commented on #241
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-12-24T18:16:37.612955``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2020-12-14 16:16] charlesmike commented on #241
@MihaiDejeu please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2020-12-14 16:19] MihaiDejeu opened #242 "Table footnote doesn’t update correctly based on entries per page"
1. Go to the Contracts of a specific repository
2. Change to show 25 entries
**Expected result**: In my case, should have been “Showing 1 to 2 of 2 entries”
**Actual result**: It display "Showing 1 to 25 of 25 entries"
![image](https://user-images.githubusercontent.com/75386651/102106129-e0784080-3e38-11eb-9c18-54bea788197d.png)

[2020-12-14 16:19] charlesmike commented on #242
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-12-24T18:19:33.804982``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2020-12-14 16:19] charlesmike commented on #242
@MihaiDejeu please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2020-12-14 16:23] MihaiDejeu opened #243 "Refresh pages doesn't work on the mobile device"
1. Open application using a mobile device
2. Try to refresh a page by scrolling up
**Expected result**: Page is refreshed
**Actual result**: Nothing happens

[2020-12-14 16:23] charlesmike commented on #243
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-12-24T18:23:08.275055``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2020-12-14 16:23] charlesmike commented on #243
@MihaiDejeu please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2020-12-14 16:26] MihaiDejeu opened #244 "Newly created invoices are not displayed when pressing the “See Tasks” button"
1. GO to a contract
2. Pay an invoice -> Invoice is "Paid"
3. Press on the reload button for the paid invoice at step 2
**Expected result**: The new invoice should be displayed
**Actual result**:  The new invoice is not displayed until the contract list is refreshed
![image](https://user-images.githubusercontent.com/75386651/102107069-fc301680-3e39-11eb-9272-916c37ecbf87.png)

[2020-12-14 16:26] charlesmike commented on #244
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-12-24T18:26:22.199926``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2020-12-14 16:26] charlesmike commented on #244
@MihaiDejeu please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2020-12-14 16:30] MihaiDejeu opened #245 "Validation for "Github Username" field is still displayed after selecting a user for a new contract"
1. Try to add a new contract
2. Search for a non-existing user -> Validation is displayed
3. Select a valid user
Expected result: Validation is not displayed anymore
Actual result: Validation is still displayed
![image](https://user-images.githubusercontent.com/75386651/102107675-a7d96680-3e3a-11eb-8811-ef912b0bc684.png)

[2020-12-14 16:30] charlesmike commented on #245
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-12-24T18:30:56.905065``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2020-12-14 16:31] charlesmike commented on #245
@MihaiDejeu please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2020-12-14 16:34] MihaiDejeu opened #246 "Add a more suggestive validation text when trying to create a new contract for the same user with the same role"
1. Create a contract for **MihaiDejeu** with role **DEV**
2. Create a new contract for the same user, **MihaiDejeu** with role **DEV**
![image](https://user-images.githubusercontent.com/75386651/102107896-ec650200-3e3a-11eb-8bf0-075cfedde839.png)

[2020-12-14 16:34] charlesmike commented on #246
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-12-24T18:34:36.322975``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2020-12-14 16:34] charlesmike commented on #246
@MihaiDejeu please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2020-12-14 16:37] MihaiDejeu opened #247 "Console error when refreshing the contract list for MihaiDejeu/self-QA repository"
**Browser: Chrome 87.0.4280.88**

1. GO to **MihaiDejeu/self-QA** repository
2. GO to **Contracts** tab
![image](https://user-images.githubusercontent.com/75386651/102108226-5382b680-3e3b-11eb-92ca-57a3ca99cdee.png)

[2020-12-14 16:37] charlesmike commented on #247
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-12-24T18:37:30.315090``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2020-12-14 16:37] charlesmike commented on #247
@MihaiDejeu please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2020-12-14 16:47] MihaiDejeu opened #248 "The "Approximate Total" of the real wallet chart is not updating after changing the limit"
1. Go to **Wallets** tab
2. Set Active the **Real wallet**
3. Set a limit to wallet
![image](https://user-images.githubusercontent.com/75386651/102109267-86797a00-3e3c-11eb-9ecd-e0eefac38653.png)
4. Go to **Overview** tab
Expected outcome: Limit set at step 3 should be displayed
Actual result: Still the old limit is displayed. It’s updating only after refreshing the page
![image](https://user-imag

[2020-12-14 16:48] charlesmike commented on #248
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-12-24T18:48:09.816003``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2020-12-14 16:48] charlesmike commented on #248
@MihaiDejeu please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2020-12-14 17:37] MihaiDejeu opened #249 "When clicking outside of the "Update cash limit" pop-up this should be closed"
1. Go to the **Wallets** tab of a certain repository
2. Open the "Update cash limit" pop-up
3. Click outside the pop-up
Expected result: Pop-up should be closed
Actual result: Pop-up remain opened and when you navigate to a different tab, this will still be displayed
![image](https://user-images.githubusercontent.com/75386651/102115095-bb3cff80-3e43-11eb-9e1a-f4d142364c61.png)

[2020-12-14 17:37] charlesmike commented on #249
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-12-24T19:37:09.205378``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2020-12-14 17:37] charlesmike commented on #249
@MihaiDejeu please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2020-12-14 17:39] MihaiDejeu opened #250 "When pressing the My Repositories or Contributor Dashboard buttons, for a fraction of second, home screen buttons are displayed"
![image](https://user-images.githubusercontent.com/75386651/102115238-f50e0600-3e43-11eb-9f56-f8126907fb2d.png)
![image](https://user-images.githubusercontent.com/75386651/102115275-00613180-3e44-11eb-9869-d99da000ace8.png)
![image](https://user-images.githubusercontent.com/75386651/102115305-0c4cf380-3e44-11eb-90c9-cf6d7a60dc33.png)

[2020-12-14 17:39] charlesmike commented on #250
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-12-24T19:39:29.735082``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2020-12-14 17:39] charlesmike commented on #250
@MihaiDejeu please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2020-12-14 17:42] MihaiDejeu opened #251 "User should remain logged in when reopening the browser"
1. Log into self
2. Close the browser
3. Open the browser again
Expected result: User should be already logged into the platform
Expected result: User is not logged into the platform
![image](https://user-images.githubusercontent.com/75386651/102115557-66e64f80-3e44-11eb-8ea8-08b83166a176.png)

[2020-12-14 17:42] charlesmike commented on #251
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-12-24T19:42:16.062514``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2020-12-14 17:42] charlesmike commented on #251
@MihaiDejeu please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2020-12-14 17:44] MihaiDejeu opened #252 ""Payment methods" table is not sized properly on mobile devices"
**Device: Samsung Galaxy S8
OS: Android 9**

1. Go to the **Wallets** menu
2. Scroll to the **Payment methods** list
![image](https://user-images.githubusercontent.com/75386651/102115812-bb89ca80-3e44-11eb-9496-c6dc865cce72.png)

[2020-12-14 17:44] charlesmike commented on #252
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-12-24T19:44:43.402841``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2020-12-14 17:44] charlesmike commented on #252
@MihaiDejeu please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2020-12-14 17:54] MihaiDejeu opened #253 "When navigating back from the "Stripe Dashboard" page, user should be redirected to the "Payout Methods" page"
1. Go to the **Contributor Dashboard**
2. Go to **Payout Methods** page
3. Go to **Stripe Dashboard** page
4. Go back
Expected result: User should be taken back to step 2 **Payout Methods** page
![image](https://user-images.githubusercontent.com/75386651/102116621-e4f72600-3e45-11eb-8810-c155e8c5fb25.png)

Actual result: User is taken the the **Repository overview** page
![image](https://user-imag

[2020-12-14 17:54] charlesmike commented on #253
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-12-24T19:54:10.808596``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2020-12-14 17:54] charlesmike commented on #253
@MihaiDejeu please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2020-12-14 17:59] MihaiDejeu opened #254 "In case some tasks were added and you view the tasks for a certain contract, the values are not in sync."
1. Go to the tasks of a certain contract
2. Create an issue in **GitHub** and assign it to the user from the contract selected at step 1
3. In Self, view the tasks and invoices for that contract
Expected result: Total value for the contract should be in sync with the total value from the **Tasks** card
Actual result: Total value for the contract is not in sync with the total value from the **Tasks

[2020-12-14 17:59] charlesmike commented on #254
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-12-24T19:59:12.569604``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2020-12-14 17:59] charlesmike commented on #254
@MihaiDejeu please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2020-12-14 18:04] MihaiDejeu opened #255 "Cannot pay invoices 82 and 108 from MihaiDejeu/self-QA repository"
**Fake Wallet** is used for the **MihaiDejeu/self-QA** repository

Please investigate why this error occurs when trying to pay the following invoices
![image](https://user-images.githubusercontent.com/75386651/102117634-3ce25c80-3e47-11eb-9882-f6d5b18af762.png)

![image](https://user-images.githubusercontent.com/75386651/102117791-7024eb80-3e47-11eb-81e3-f28839b6ae5f.png)

[2020-12-14 18:04] charlesmike commented on #255
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-12-24T20:04:17.933328``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2020-12-14 18:04] charlesmike commented on #255
@MihaiDejeu please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2020-12-14 18:12] MihaiDejeu opened #256 "The job fails when adding a label that refer to a very large number of minutes"
![image](https://user-images.githubusercontent.com/75386651/102118603-9b5c0a80-3e48-11eb-9512-2a606e1c115c.png)

[2020-12-14 18:12] charlesmike commented on #256
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-12-24T20:12:51.876827``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2020-12-14 18:12] charlesmike commented on #256
@MihaiDejeu please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2020-12-14 18:23] MihaiDejeu opened #257 ""Home" page UI improvements"
**Improvement 1:**
Remove “project” from the description
1.
![image](https://user-images.githubusercontent.com/75386651/102119494-dc085380-3e49-11eb-8c89-16809a6f680c.png)
2.
![image](https://user-images.githubusercontent.com/75386651/102119504-e1659e00-3e49-11eb-94bd-0aea263ec017.png)

**Improvement 2:**
Align the text vertically (set to the middle of the element looking to the picture next to it

[2020-12-14 18:24] charlesmike commented on #257
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-12-24T20:24:00.423384``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2020-12-14 18:24] charlesmike commented on #257
@MihaiDejeu please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2020-12-14 18:36] MihaiDejeu opened #258 "Improvements for table pagination, search input and filters"
**Improvement 1:**
Move "Show entries per page" before the pagination
![image](https://user-images.githubusercontent.com/75386651/102120518-52f21c00-3e4b-11eb-886b-31be241dcc72.png)

**Improvement 2:**
Make it possible to search only by the elements of the first column ID/Issue/Contributor

**Improvement 3:**
Add a placeholder to search by the corresponding table element.
Example: "_Search by cont

[2020-12-14 18:36] charlesmike commented on #258
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-12-24T20:36:16.605121``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2020-12-14 18:36] charlesmike commented on #258
@MihaiDejeu please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2020-12-14 18:46] MihaiDejeu opened #259 "Tables layout improvements"
**Improvement 1:**
Align the header labels to the left so they will be at the same level as the values beneath
![image](https://user-images.githubusercontent.com/75386651/102121493-baf53200-3e4c-11eb-9c72-22d49083fc42.png)

**Improvement 2:**
Replace “Options” with “Actions”
![image](https://user-images.githubusercontent.com/75386651/102121648-f55ecf00-3e4c-11eb-8b1b-b996ef250fd2.png)

**Improveme

[2020-12-14 18:46] charlesmike commented on #259
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-12-24T20:46:24.692970``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2020-12-14 18:46] charlesmike commented on #259
@MihaiDejeu please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2020-12-14 18:56] MihaiDejeu opened #260 ""Contract" table improvements"
**Improvement 1:**
Add ordering ascending/descending for all the columns beside **Role** and **Options**, like you have for "Tasks" and "Invoices" tables
![image](https://user-images.githubusercontent.com/75386651/102122097-b0876800-3e4d-11eb-891a-5da00deb6a5c.png)

**Improvement 2:**
For both **Contributor** and **PO** flows, in **Contracts** table, when pressing on the values from the first colu

[2020-12-14 18:56] charlesmike commented on #260
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-12-24T20:56:27.562570``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2020-12-14 18:56] charlesmike commented on #260
@MihaiDejeu please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2020-12-14 19:02] MihaiDejeu opened #261 "Add feature to assign automatically assign tasks based on the activity type defined on the labels"
Currently we have the possibility to set time (number of minutes) and user for a specific tasks that will be reflected in the self-xdsd platform.

In the future would be very helpful to also have the labels for **Activity type** like DEV, QA, REV etc.
Once a label for activity type is set on the issue, the automatic assignment will be made only within the contracts of the users with that specific

[2020-12-14 19:02] charlesmike commented on #261
@MihaiDejeu thank you for reporting this. I'll assign someone to take care of it soon.

[2020-12-14 19:05] charlesmike commented on #261
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-12-24T21:05:11.625834``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2020-12-15 15:02] MihaiDejeu opened #262 ""Tasks" card improvements"
**Improvement 1:**
Add also the **Closed** tasks. It would be helpful for having an overview and tracking inside Self

**Improvement 2:**
Add a new column **Status**.  Tasks will have 2 statuses - **Active** or **Closed**
Add a filter by status - Multiselect with 2 options (Active and Closed)
Do not set ordering ascending/descending on this column

**Improvement 3:**
Add a new column **Invoice Num

[2020-12-15 15:02] charlesmike commented on #262
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-12-25T17:02:05.113072``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2020-12-15 15:02] charlesmike commented on #262
@MihaiDejeu please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2020-12-15 15:11] MihaiDejeu opened #263 ""Create New Contract" flow improvements"
**Improvement 1:**
Add **Add New Contract** button that will open up the pop-up to add a new contract next to Contracts table.
New Contract card will be visible only after pressing the **Add New Contract** button
![image](https://user-images.githubusercontent.com/75386651/102232730-29db9500-3ef8-11eb-84a9-6ac3b51f3255.png)

**Improvement 2:**
Display **Edit Contract** card only after pressing the

[2020-12-15 15:11] charlesmike commented on #263
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-12-25T17:11:24.603014``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2020-12-15 15:11] charlesmike commented on #263
@MihaiDejeu please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2020-12-15 15:19] MihaiDejeu opened #264 ""Invoices" card and template improvements"
**Improvement 1:**
For Invoices table change column from **ID** to **Invoice ID**

**Improvement 2:**
Remove ordering from the "Status" and "Options" columns of the **Invoices** table

**Improvement 3:**
Remove title
![image](https://user-images.githubusercontent.com/75386651/102233725-3dd3c680-3ef9-11eb-9a3d-4875de90db1e.png)

**Improvement 4:**
Put the “Invoice #108 from 2020-12-13" at the same

[2020-12-15 15:19] charlesmike commented on #264
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-12-25T17:19:18.082990``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2020-12-15 15:19] charlesmike commented on #264
@MihaiDejeu please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2020-12-15 15:46] MihaiDejeu opened #265 ""Update cash limit" pop-up improvements"
**Improvement 1:**
When updating the limit update, confirmation button should be a **check sign** not reload
![image](https://user-images.githubusercontent.com/75386651/102237301-37474e00-3efd-11eb-87ee-c35d85a53f01.png)

**Improvement 2:**
After accepting the new limit, pop-up should close
![image](https://user-images.githubusercontent.com/75386651/102237392-4af2b480-3efd-11eb-96e1-2e3c64197192.p

[2020-12-15 15:46] charlesmike commented on #265
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-12-25T17:46:27.413``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become futur

[2020-12-15 15:46] charlesmike commented on #265
@MihaiDejeu please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2020-12-15 15:52] MihaiDejeu opened #266 "Auto-scroll and auto-focus when working on the mobile device"
**Improvement 1:**
When pressing update for a certain contract, it should scroll down to the update contract pop-up.
![image](https://user-images.githubusercontent.com/75386651/102237950-e421cb00-3efd-11eb-9d95-65f07773a8b5.png)

**Improvement 2:**
After confirming the update/create of a contract, automatically scroll up, back to the contracts list

**Improvement 3:**
After adding a card as a paym

[2020-12-15 15:53] charlesmike commented on #266
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-12-25T17:53:08.645959``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2020-12-15 15:53] charlesmike commented on #266
@MihaiDejeu please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2020-12-15 15:54] MihaiDejeu opened #267 "Improvements when working with tables using a mobile device"
**Improvement 1:**
When sliding through the tables, pagination elements should remain still
![image](https://user-images.githubusercontent.com/75386651/102238589-978abf80-3efe-11eb-9daf-4568215ac273.png)

**Improvement 2:**
Add space between **Tasks** and **Invoices** tables
![image](https://user-images.githubusercontent.com/75386651/102238834-e20c3c00-3efe-11eb-8fe2-448f46eb159b.png)

[2020-12-15 15:55] charlesmike commented on #267
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-12-25T17:55:11.742995``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2020-12-15 15:55] charlesmike commented on #267
@MihaiDejeu please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2020-12-15 20:45] MihaiDejeu opened #268 "Cannot add more contracts to MihaiDejeu/self-QA repository"
![image](https://user-images.githubusercontent.com/75386651/102270888-3cb98e00-3f27-11eb-9919-384757d1f91a.png)

[2020-12-15 20:45] charlesmike commented on #268
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-12-25T22:45:56.893033``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2020-12-15 20:46] charlesmike commented on #268
@MihaiDejeu please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2020-12-16 09:24] #196 closed

[2020-12-16 09:24] charlesmike commented on #196
Puzzle disappeared from the code, that's why I closed this ticket.

[2020-12-16 09:25] charlesmike commented on #196
@criske thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2020-12-16 12:32] amihaiemil commented on #253
@charlesmike resign

[2020-12-16 12:33] charlesmike commented on #253
@amihaiemil ok, I'll find someone else to take care of it.

[2020-12-16 12:34] charlesmike commented on #253
@criske this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-12-26T14:34:36.992879``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become future

[2020-12-16 12:36] amihaiemil commented on #249
@charlesmike quit

[2020-12-16 12:36] charlesmike commented on #249
@amihaiemil ok, I'll find someone else to take care of it.

[2020-12-16 12:37] amihaiemil commented on #247
@MihaiDejeu This is expected because pagination on the backend is not yet implemented si that URL does not exist (404). There is a fallback mechanism in this case, to fetch all contracts.

[2020-12-16 12:37] #247 closed

[2020-12-16 12:37] charlesmike commented on #249
@criske this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-12-26T14:37:37.711125``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become future

[2020-12-16 12:38] amihaiemil commented on #245
@charlesmike quit

[2020-12-16 12:38] charlesmike commented on #245
@amihaiemil ok, I'll find someone else to take care of it.

[2020-12-16 12:39] amihaiemil commented on #243
@MihaiDejeu Te referi la efectul ala de pe aplicatiile mobile, in care tragi pagina pana sus de tot si apare automat cerculetul de loading?

Asta e aplicatie web, nu stie di-nastea :D

[2020-12-16 12:40] charlesmike commented on #247
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2020-12-16 12:41] charlesmike commented on #245
@criske this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-12-26T14:41:28.057749``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become future

[2020-12-16 12:41] amihaiemil commented on #239
@MihaiDejeu This is 100% Stripe behaviour. Maybe they allow you to add the same card because we are in Test.

In any case, we cannot interfere with this because we do not have access to the card data.

[2020-12-16 12:41] #239 closed

[2020-12-16 12:42] amihaiemil commented on #238
@MihaiDejeu That's the "Back" button of your mobile browser. We cannot change that, it depends on the browser.

[2020-12-16 12:42] #238 closed

[2020-12-16 12:43] amihaiemil commented on #244
@charlesmike quit

[2020-12-16 12:44] charlesmike commented on #238
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2020-12-16 12:45] charlesmike commented on #239
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2020-12-16 12:46] charlesmike commented on #244
@criske this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-12-26T14:46:38.253028``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become future

[2020-12-16 12:46] amihaiemil commented on #235
@MihaiDejeu It's not possible to do that. Authentication is done with OAuth2 protocol and Single Sign On.
The authenticated person in Self is the same as the authenticated person in Github for that respective browser.

[2020-12-16 12:46] #235 closed

[2020-12-16 12:48] charlesmike commented on #235
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2020-12-16 12:55] amihaiemil commented on #265
@charlesmike refuse

[2020-12-16 12:56] charlesmike commented on #265
@amihaiemil ok, I'll find someone else to take care of it.

[2020-12-16 12:56] amihaiemil commented on #265
@criske the icon is fine, I think. Just the popup disappear when the update is finished :D

[2020-12-16 12:58] charlesmike commented on #265
@criske this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-12-26T14:58:37.714153``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become future

[2020-12-16 13:00] amihaiemil commented on #256
Fixed. If the number has more than 6 digits it is ignored and the default estimation of 60min/30min is applied.

Initially we wanted to add the maximum estimation (360min) in this case, but if someone adds a label with 7 digits in minutes, they are clearly not being serious :)

[2020-12-16 13:00] #256 closed

[2020-12-16 13:01] charlesmike commented on #256
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2020-12-16 14:31] amihaiemil commented on #251
@MihaiDejeu I looked over this and this is already the current behaviour. I tried both on Firefox and Chrome.

However, the user session is 30 minutes. So if you had 30 min of inactivity and then closed the browser, next time you open it you will be logged out (because the session expired).

[2020-12-16 14:32] amihaiemil opened #269 "Update to self-core 43 and self-storage 20"
They contain important bugfixes.

[2020-12-16 14:32] charlesmike commented on #269
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-12-26T16:32:54.334075``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2020-12-16 14:32] charlesmike commented on #269
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2020-12-16 14:36] #269 closed

[2020-12-16 14:36] charlesmike commented on #269
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2020-12-17 09:08] amihaiemil opened #271 "Show Loading Icon While Invoice Is Being Paid"
After confirming invoice payment, we should replace the pdf icon with a small loading circle until the payment is completed.

[2020-12-17 09:08] charlesmike commented on #271
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-12-27T11:08:27.443245``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2020-12-17 09:08] charlesmike commented on #271
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2020-12-17 11:42] criske commented on #244
@amihaiemil The new invoice has 0 amount. Should we allow to pay it, if is empty?

[2020-12-17 11:47] amihaiemil commented on #244
@criske nope, I forgot to do that flow :D

[2020-12-17 22:00] charlesmike commented on #234
@amihaiemil Don't forget to close this ticket before the deadline (2020-12-23T13:19:04). You are past the first half of the allowed period.

[2020-12-18 08:55] amihaiemil commented on #244
paid with transaction id 8XE92008GE0421831

[2020-12-18 08:55] #245 closed

[2020-12-18 08:56] charlesmike commented on #245
@criske thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2020-12-18 08:58] #244 closed

[2020-12-18 08:59] amihaiemil opened #274 "Make Min Hourly Rate 15 EUR"
8 EUR min hourly rate is too little money since that is the gross amount (before the contributor pays their taxes). Let's make it 15 EUR per hour.

[2020-12-18 08:59] charlesmike commented on #274
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-12-28T10:59:15.725384``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2020-12-18 08:59] charlesmike commented on #274
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2020-12-18 09:00] charlesmike commented on #244
@criske thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2020-12-18 09:13] #274 closed

[2020-12-18 09:16] charlesmike commented on #274
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2020-12-18 10:23] #271 closed

[2020-12-18 10:24] charlesmike commented on #271
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2020-12-18 11:59] #249 closed

[2020-12-18 11:59] #265 closed

[2020-12-18 12:00] charlesmike commented on #249
@criske thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2020-12-18 12:00] charlesmike commented on #265
@criske thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2020-12-18 13:41] #250 closed

[2020-12-18 13:44] charlesmike commented on #250
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2020-12-18 16:38] amihaiemil opened #280 "Form for Legal Name and Address of Client"
When the client creates their Stripe wallet, they should be required to fill a formular containing the Legal Name (business name or personal name), address and other info about the company.

This info will be sent to Stripe as data of the Customer.

[2020-12-18 16:38] charlesmike commented on #280
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-12-28T18:38:24.232871``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2020-12-18 16:38] charlesmike commented on #280
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2020-12-18 22:00] charlesmike commented on #236
@amihaiemil Don't forget to close this ticket before the deadline (2020-12-24T17:33:39). You are past the first half of the allowed period.

[2020-12-18 22:00] charlesmike commented on #237
@amihaiemil Don't forget to close this ticket before the deadline (2020-12-24T17:38:03). You are past the first half of the allowed period.

[2020-12-18 22:00] charlesmike commented on #240
@amihaiemil Don't forget to close this ticket before the deadline (2020-12-24T18:12:53). You are past the first half of the allowed period.

[2020-12-18 22:00] charlesmike commented on #241
@amihaiemil Don't forget to close this ticket before the deadline (2020-12-24T18:16:37). You are past the first half of the allowed period.

[2020-12-18 22:00] charlesmike commented on #242
@amihaiemil Don't forget to close this ticket before the deadline (2020-12-24T18:19:33). You are past the first half of the allowed period.

[2020-12-18 22:00] charlesmike commented on #243
@amihaiemil Don't forget to close this ticket before the deadline (2020-12-24T18:23:08). You are past the first half of the allowed period.

[2020-12-18 22:00] charlesmike commented on #246
@amihaiemil Don't forget to close this ticket before the deadline (2020-12-24T18:34:36). You are past the first half of the allowed period.

[2020-12-18 22:00] charlesmike commented on #248
@amihaiemil Don't forget to close this ticket before the deadline (2020-12-24T18:48:09). You are past the first half of the allowed period.

[2020-12-18 22:00] charlesmike commented on #251
@amihaiemil Don't forget to close this ticket before the deadline (2020-12-24T19:42:16). You are past the first half of the allowed period.

[2020-12-18 22:00] charlesmike commented on #252
@amihaiemil Don't forget to close this ticket before the deadline (2020-12-24T19:44:43). You are past the first half of the allowed period.

[2020-12-18 22:01] charlesmike commented on #254
@amihaiemil Don't forget to close this ticket before the deadline (2020-12-24T19:59:12). You are past the first half of the allowed period.

[2020-12-18 22:01] charlesmike commented on #255
@amihaiemil Don't forget to close this ticket before the deadline (2020-12-24T20:04:17). You are past the first half of the allowed period.

[2020-12-18 22:01] charlesmike commented on #257
@amihaiemil Don't forget to close this ticket before the deadline (2020-12-24T20:24). You are past the first half of the allowed period.

[2020-12-18 22:01] charlesmike commented on #258
@amihaiemil Don't forget to close this ticket before the deadline (2020-12-24T20:36:16). You are past the first half of the allowed period.

[2020-12-18 22:01] charlesmike commented on #259
@amihaiemil Don't forget to close this ticket before the deadline (2020-12-24T20:46:24). You are past the first half of the allowed period.

[2020-12-18 22:01] charlesmike commented on #260
@amihaiemil Don't forget to close this ticket before the deadline (2020-12-24T20:56:27). You are past the first half of the allowed period.

[2020-12-18 22:01] charlesmike commented on #261
@amihaiemil Don't forget to close this ticket before the deadline (2020-12-24T21:05:11). You are past the first half of the allowed period.

[2020-12-19 08:08] charlesmike commented on #230
@amihaiemil Looks like you've missed the task deadline (2020-12-19T10:05:49). You are now resigned from this task.

Please stop working on it, you will not be paid. I will assign it to someone else soon.

[2020-12-19 08:10] charlesmike commented on #230
@Lumi3011 this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-12-29T10:10:04.087177``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become futu

[2020-12-19 12:22] criske opened #282 "After setting up Stripe wallet, real wallet is not shown."
After setting up Stripe wallet, real wallet contents are not shown, only after comming back on `Wallets` tab.

Initial, before clicking `Setup Stripe Wallet`:
![screencapture-localhost-8080-github-criske-app-portfolio-2020-12-19-12_18_01](https://user-images.githubusercontent.com/10284893/102689191-da9da900-4204-11eb-9e8c-3d8bca765fd9.png)

After clicking:
-  Expected
![screencapture-localhost-808

[2020-12-19 12:22] charlesmike commented on #282
@criske thank you for reporting this. I'll assign someone to take care of it soon.

[2020-12-19 12:25] charlesmike commented on #282
@Lumi3011 this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-12-29T14:25:04.423554``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become futu

[2020-12-19 22:00] charlesmike commented on #262
@amihaiemil Don't forget to close this ticket before the deadline (2020-12-25T17:02:05). You are past the first half of the allowed period.

[2020-12-19 22:00] charlesmike commented on #263
@amihaiemil Don't forget to close this ticket before the deadline (2020-12-25T17:11:24). You are past the first half of the allowed period.

[2020-12-19 22:00] charlesmike commented on #264
@amihaiemil Don't forget to close this ticket before the deadline (2020-12-25T17:19:18). You are past the first half of the allowed period.

[2020-12-19 22:00] charlesmike commented on #266
@amihaiemil Don't forget to close this ticket before the deadline (2020-12-25T17:53:08). You are past the first half of the allowed period.

[2020-12-19 22:00] charlesmike commented on #267
@amihaiemil Don't forget to close this ticket before the deadline (2020-12-25T17:55:11). You are past the first half of the allowed period.

[2020-12-19 22:00] charlesmike commented on #268
@amihaiemil Don't forget to close this ticket before the deadline (2020-12-25T22:45:56). You are past the first half of the allowed period.

[2020-12-21 11:52] charlesmike commented on #253
@criske Don't forget to close this ticket before the deadline (2020-12-26T14:34:36). You are past the first half of the allowed period.

[2020-12-21 13:09] #280 closed

[2020-12-21 13:10] amihaiemil opened #284 "BillingInfo form for Contributor"
Apparently we cannot fetch this data from the Contributor's Stripe Connect Account, so we have to ask them to fill out a form when creating their SCA.

[2020-12-21 13:10] charlesmike commented on #284
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-12-31T15:10:24.023266``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2020-12-21 13:10] charlesmike commented on #284
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2020-12-21 13:12] charlesmike commented on #280
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2020-12-23 10:28] #253 closed

[2020-12-23 10:29] charlesmike opened #285 "getAndAddContracts.js: On frontend, in Contracts tab..."
The puzzle ``253-06bb9d7e`` originating from #253 has to be resolved:

https://github.com/self-xdsd/self-web/blob/fe93595e7b8642e442be5a321f925b8be2139029/src/main/resources/public/js/getAndAddContracts.js#L14-L16

"On frontend, in Contracts tab, after adding a new contract, we should add the new contract to contract table, instead of updating table by re-fetching all contracts again. Same logic s

[2020-12-23 10:30] charlesmike commented on #285
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-01-02T12:30:08.725748``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2020-12-23 10:31] charlesmike commented on #253
@criske thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2020-12-23 11:23] charlesmike commented on #234
@amihaiemil Looks like you've missed the task deadline (2020-12-23T13:19:04). You are now resigned from this task.

Please stop working on it, you will not be paid. I will assign it to someone else soon.

[2020-12-23 11:24] charlesmike commented on #234
@criske this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-01-02T13:24:06.761605``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become future

[2020-12-23 22:03] charlesmike commented on #230
@Lumi3011 Don't forget to close this ticket before the deadline (2020-12-29T10:10:04). You are past the first half of the allowed period.

[2020-12-23 22:03] charlesmike commented on #282
@Lumi3011 Don't forget to close this ticket before the deadline (2020-12-29T14:25:04). You are past the first half of the allowed period.

[2020-12-24 12:33] amihaiemil commented on #234
@criske don't bother with this. We will change this to generate the PDF server-side, anyway. :D

[2020-12-24 12:36] #284 closed

[2020-12-24 12:39] charlesmike commented on #284
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2020-12-24 15:35] charlesmike commented on #236
@amihaiemil Looks like you've missed the task deadline (2020-12-24T17:33:39). You are now resigned from this task.

Please stop working on it, you will not be paid. I will assign it to someone else soon.

[2020-12-24 15:36] charlesmike commented on #236
@criske this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-01-03T17:36:06.407934``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become future

[2020-12-24 15:39] charlesmike commented on #237
@amihaiemil Looks like you've missed the task deadline (2020-12-24T17:38:03). You are now resigned from this task.

Please stop working on it, you will not be paid. I will assign it to someone else soon.

[2020-12-24 15:39] charlesmike commented on #237
@Lumi3011 this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-01-03T17:39:54.275603``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become futu

[2020-12-24 16:15] charlesmike commented on #240
@amihaiemil Looks like you've missed the task deadline (2020-12-24T18:12:53). You are now resigned from this task.

Please stop working on it, you will not be paid. I will assign it to someone else soon.

[2020-12-24 16:15] charlesmike commented on #240
@MihaiDejeu this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-01-03T18:15:53.282617``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2020-12-24 16:19] charlesmike commented on #241
@amihaiemil Looks like you've missed the task deadline (2020-12-24T18:16:37). You are now resigned from this task.

Please stop working on it, you will not be paid. I will assign it to someone else soon.

[2020-12-24 16:21] charlesmike commented on #241
@MihaiDejeu this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-01-03T18:21:07.097904``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2020-12-24 16:21] criske commented on #234
@amihaiemil @MihaiDejeu I've tested on two devices and a emulator targeting Android 8, 9 and 10 and it works just fine.
For the sake of it, I might test it on real Samsung S9 device  using Samsung's [Remote Test Lab](https://developer.samsung.com/remote-test-lab), but I have a feeling that this is issue is most likely related to permissions.
@MihaiDejeu Is `Storage` permission is enabled for the b

[2020-12-24 16:23] charlesmike commented on #242
@amihaiemil Looks like you've missed the task deadline (2020-12-24T18:19:33). You are now resigned from this task.

Please stop working on it, you will not be paid. I will assign it to someone else soon.

[2020-12-24 16:24] charlesmike commented on #242
@criske this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-01-03T18:24:06.813201``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become future

[2020-12-24 16:27] charlesmike commented on #243
@amihaiemil Looks like you've missed the task deadline (2020-12-24T18:23:08). You are now resigned from this task.

Please stop working on it, you will not be paid. I will assign it to someone else soon.

[2020-12-24 16:27] charlesmike commented on #243
@MihaiDejeu this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-01-03T18:27:50.663685``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2020-12-24 16:39] charlesmike commented on #246
@amihaiemil Looks like you've missed the task deadline (2020-12-24T18:34:36). You are now resigned from this task.

Please stop working on it, you will not be paid. I will assign it to someone else soon.

[2020-12-24 16:39] charlesmike commented on #246
@Lumi3011 this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-01-03T18:39:50.329795``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become futu

[2020-12-24 16:51] charlesmike commented on #248
@amihaiemil Looks like you've missed the task deadline (2020-12-24T18:48:09). You are now resigned from this task.

Please stop working on it, you will not be paid. I will assign it to someone else soon.

[2020-12-24 16:51] charlesmike commented on #248
@MihaiDejeu this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-01-03T18:51:50.814805``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2020-12-24 17:47] charlesmike commented on #251
@amihaiemil Looks like you've missed the task deadline (2020-12-24T19:42:16). You are now resigned from this task.

Please stop working on it, you will not be paid. I will assign it to someone else soon.

[2020-12-24 17:47] charlesmike commented on #252
@amihaiemil Looks like you've missed the task deadline (2020-12-24T19:44:43). You are now resigned from this task.

Please stop working on it, you will not be paid. I will assign it to someone else soon.

[2020-12-24 17:48] charlesmike commented on #251
@MihaiDejeu this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-01-03T19:48:06.311258``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2020-12-24 17:48] charlesmike commented on #252
@Lumi3011 this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-01-03T19:48:12.882541``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become futu

[2020-12-24 18:03] charlesmike commented on #254
@amihaiemil Looks like you've missed the task deadline (2020-12-24T19:59:12). You are now resigned from this task.

Please stop working on it, you will not be paid. I will assign it to someone else soon.

[2020-12-24 18:03] charlesmike commented on #254
@Lumi3011 this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-01-03T20:03:49.411569``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become futu

[2020-12-24 18:07] charlesmike commented on #255
@amihaiemil Looks like you've missed the task deadline (2020-12-24T20:04:17). You are now resigned from this task.

Please stop working on it, you will not be paid. I will assign it to someone else soon.

[2020-12-24 18:09] charlesmike commented on #255
@MihaiDejeu this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-01-03T20:09:06.595552``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2020-12-24 18:27] charlesmike commented on #257
@amihaiemil Looks like you've missed the task deadline (2020-12-24T20:24). You are now resigned from this task.

Please stop working on it, you will not be paid. I will assign it to someone else soon.

[2020-12-24 18:27] charlesmike commented on #257
@MihaiDejeu this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-01-03T20:27:47.679549``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2020-12-24 18:39] charlesmike commented on #258
@amihaiemil Looks like you've missed the task deadline (2020-12-24T20:36:16). You are now resigned from this task.

Please stop working on it, you will not be paid. I will assign it to someone else soon.

[2020-12-24 18:39] charlesmike commented on #258
@criske this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-01-03T20:39:46.644552``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become future

[2020-12-24 18:51] charlesmike commented on #259
@amihaiemil Looks like you've missed the task deadline (2020-12-24T20:46:24). You are now resigned from this task.

Please stop working on it, you will not be paid. I will assign it to someone else soon.

[2020-12-24 18:51] charlesmike commented on #259
@criske this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-01-03T20:51:48.682629``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become future

[2020-12-24 18:59] charlesmike commented on #260
@amihaiemil Looks like you've missed the task deadline (2020-12-24T20:56:27). You are now resigned from this task.

Please stop working on it, you will not be paid. I will assign it to someone else soon.

[2020-12-24 19:00] charlesmike commented on #260
@MihaiDejeu this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-01-03T21:00:06.445286``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2020-12-24 19:07] charlesmike commented on #261
@amihaiemil Looks like you've missed the task deadline (2020-12-24T21:05:11). You are now resigned from this task.

Please stop working on it, you will not be paid. I will assign it to someone else soon.

[2020-12-24 19:09] charlesmike commented on #261
@criske this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-01-03T21:09:06.537174``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become future

[2020-12-24 20:05] amihaiemil opened #287 "Render PDF on the server"
Invoice PDFs should be rendered server-side.

[2020-12-24 20:05] charlesmike commented on #287
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-01-03T22:05:43.612973``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2020-12-24 20:05] charlesmike commented on #287
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2020-12-25 09:27] #287 closed

[2020-12-25 09:27] charlesmike commented on #287
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2020-12-25 15:03] charlesmike commented on #262
@amihaiemil Looks like you've missed the task deadline (2020-12-25T17:02:05). You are now resigned from this task.

Please stop working on it, you will not be paid. I will assign it to someone else soon.

[2020-12-25 15:03] charlesmike commented on #262
@MihaiDejeu this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-01-04T17:03:48.409773``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2020-12-25 15:15] charlesmike commented on #263
@amihaiemil Looks like you've missed the task deadline (2020-12-25T17:11:24). You are now resigned from this task.

Please stop working on it, you will not be paid. I will assign it to someone else soon.

[2020-12-25 15:15] charlesmike commented on #263
@MihaiDejeu this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-01-04T17:15:45.885732``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2020-12-25 15:23] charlesmike commented on #264
@amihaiemil Looks like you've missed the task deadline (2020-12-25T17:19:18). You are now resigned from this task.

Please stop working on it, you will not be paid. I will assign it to someone else soon.

[2020-12-25 15:24] charlesmike commented on #264
@Lumi3011 this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-01-04T17:24:06.494936``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become futu

[2020-12-25 15:55] charlesmike commented on #266
@amihaiemil Looks like you've missed the task deadline (2020-12-25T17:53:08). You are now resigned from this task.

Please stop working on it, you will not be paid. I will assign it to someone else soon.

[2020-12-25 15:57] charlesmike commented on #266
@MihaiDejeu this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-01-04T17:57:06.782469``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2020-12-25 15:59] charlesmike commented on #267
@amihaiemil Looks like you've missed the task deadline (2020-12-25T17:55:11). You are now resigned from this task.

Please stop working on it, you will not be paid. I will assign it to someone else soon.

[2020-12-25 16:00] charlesmike commented on #267
@Lumi3011 this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-01-04T18:00:06.927947``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become futu

[2020-12-25 17:57] amihaiemil commented on #234
@MihaiDejeu @criske The invoices are now generated on the server-side, so download should work fine on any device or browser. Closing this.

[2020-12-25 17:57] #234 closed

[2020-12-25 17:58] amihaiemil commented on #234
paid with transaction id 0DB13079KA084634U

[2020-12-25 17:59] charlesmike commented on #234
@criske thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2020-12-25 20:47] charlesmike commented on #268
@amihaiemil Looks like you've missed the task deadline (2020-12-25T22:45:56). You are now resigned from this task.

Please stop working on it, you will not be paid. I will assign it to someone else soon.

[2020-12-25 20:48] charlesmike commented on #268
@criske this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-01-04T22:48:06.592675``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become future

[2020-12-26 11:23] amihaiemil opened #289 "Onboarding Task"
self-web is a simple Spring Boot application with a few pages (HTML5, Bootstrap 4, CSS3) which are calling the backend endpoints using Jquery. The tabs on the Project page and the Contributor Dashboard are just some show/hide magic using jquery.

There is also a bit of templating going on: that part is taken care of by Thymeleaf, which comes together with Spring Boot, out of the box.

The authenti

[2020-12-26 11:23] charlesmike commented on #289
@fellahi-ali this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-01-05T13:23:20.198997``.

Estimation here is ``120 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become

[2020-12-26 11:23] charlesmike commented on #289
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2020-12-26 16:57] amihaiemil opened #290 "Implement Settings Tab"
Let's implement the Project Settings tab and then the Remove Project button.

[2020-12-26 16:57] charlesmike commented on #290
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-01-05T18:57:42.502919``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2020-12-26 16:57] charlesmike commented on #290
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2020-12-27 11:49] #290 closed

[2020-12-27 11:51] charlesmike commented on #290
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2020-12-27 22:03] charlesmike commented on #285
@amihaiemil Don't forget to close this ticket before the deadline (2021-01-02T12:30:08). You are past the first half of the allowed period.

[2020-12-28 09:58] criske commented on #236
@amihaiemil what aproach should be better: creating user profile page with github api data or just simply opening the user profile on github?

[2020-12-28 10:23] amihaiemil commented on #236
@criske for now, just a page with data we have about the user in the DB (username, provider and email, at the moment).

[2020-12-28 22:03] charlesmike commented on #236
@criske Don't forget to close this ticket before the deadline (2021-01-03T17:36:06). You are past the first half of the allowed period.

[2020-12-28 22:03] charlesmike commented on #242
@criske Don't forget to close this ticket before the deadline (2021-01-03T18:24:06). You are past the first half of the allowed period.

[2020-12-28 22:03] charlesmike commented on #258
@criske Don't forget to close this ticket before the deadline (2021-01-03T20:39:46). You are past the first half of the allowed period.

[2020-12-28 22:03] charlesmike commented on #259
@criske Don't forget to close this ticket before the deadline (2021-01-03T20:51:48). You are past the first half of the allowed period.

[2020-12-28 22:03] charlesmike commented on #261
@criske Don't forget to close this ticket before the deadline (2021-01-03T21:09:06). You are past the first half of the allowed period.

[2020-12-28 22:03] charlesmike commented on #237
@Lumi3011 Don't forget to close this ticket before the deadline (2021-01-03T17:39:54). You are past the first half of the allowed period.

[2020-12-28 22:03] charlesmike commented on #246
@Lumi3011 Don't forget to close this ticket before the deadline (2021-01-03T18:39:50). You are past the first half of the allowed period.

[2020-12-28 22:04] charlesmike commented on #252
@Lumi3011 Don't forget to close this ticket before the deadline (2021-01-03T19:48:12). You are past the first half of the allowed period.

[2020-12-28 22:04] charlesmike commented on #254
@Lumi3011 Don't forget to close this ticket before the deadline (2021-01-03T20:03:49). You are past the first half of the allowed period.

[2020-12-28 22:04] charlesmike commented on #240
@MihaiDejeu Don't forget to close this ticket before the deadline (2021-01-03T18:15:53). You are past the first half of the allowed period.

[2020-12-28 22:04] charlesmike commented on #241
@MihaiDejeu Don't forget to close this ticket before the deadline (2021-01-03T18:21:07). You are past the first half of the allowed period.

[2020-12-28 22:04] charlesmike commented on #243
@MihaiDejeu Don't forget to close this ticket before the deadline (2021-01-03T18:27:50). You are past the first half of the allowed period.

[2020-12-28 22:04] charlesmike commented on #248
@MihaiDejeu Don't forget to close this ticket before the deadline (2021-01-03T18:51:50). You are past the first half of the allowed period.

[2020-12-28 22:04] charlesmike commented on #251
@MihaiDejeu Don't forget to close this ticket before the deadline (2021-01-03T19:48:06). You are past the first half of the allowed period.

[2020-12-28 22:04] charlesmike commented on #255
@MihaiDejeu Don't forget to close this ticket before the deadline (2021-01-03T20:09:06). You are past the first half of the allowed period.

[2020-12-28 22:04] charlesmike commented on #257
@MihaiDejeu Don't forget to close this ticket before the deadline (2021-01-03T20:27:47). You are past the first half of the allowed period.

[2020-12-28 22:04] charlesmike commented on #260
@MihaiDejeu Don't forget to close this ticket before the deadline (2021-01-03T21:00:06). You are past the first half of the allowed period.

[2020-12-29 08:05] amihaiemil commented on #264
Not applicable anymore. The Invoice PDF is now generated server-side with a completely different template.

[2020-12-29 08:05] #264 closed

[2020-12-29 08:06] #230 closed

[2020-12-29 08:06] charlesmike commented on #230
Puzzle disappeared from the code, that's why I closed this ticket.

[2020-12-29 08:07] charlesmike commented on #230
@Lumi3011 thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2020-12-29 08:07] charlesmike commented on #264
@Lumi3011 thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2020-12-29 08:11] amihaiemil commented on #254
@charlesmike deregister

[2020-12-29 08:11] charlesmike commented on #254
@amihaiemil ok, I've removed this task from scope. I'm not managing it anymore.

[2020-12-29 08:12] amihaiemil commented on #254
This could be done elegantly using Websockets, but it's a big change so let's postpone it for now.

[2020-12-29 10:05] amihaiemil commented on #236
paid with transaction id 6Y681009KG5860920

[2020-12-29 10:13] #236 closed

[2020-12-29 10:15] charlesmike commented on #236
@criske thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2020-12-29 12:27] charlesmike commented on #282
@Lumi3011 Looks like you've missed the task deadline (2020-12-29T14:25:04). You are now resigned from this task.

Please stop working on it, you will not be paid. I will assign it to someone else soon.

[2020-12-29 12:28] charlesmike commented on #282
@fellahi-ali this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-01-08T14:28:03.248085``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become f